html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q::before, q::after, blockquote::before, blockquote::after {
  content: "";
  content: none;
}

a {
  color: inherit;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

img {
  vertical-align: bottom;
}

textarea, input, select, button {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  margin: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  appearance: none;
  padding: 0;
}

hr {
  height: 0;
  margin: 0;
  border: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  color: #333333;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

img, svg {
  max-width: 100%;
  height: auto;
}

b, strong {
  font-weight: bold;
}

sup {
  font-size: 75%;
  vertical-align: top;
}

sub {
  font-size: 75%;
  vertical-align: bottom;
}

.c_img_cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.c_w_100 {
  width: 100%;
}

.l_container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.c_inner {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}

/* Scale layout */
/* js animation up */
.js-anima-up {
  transform: translateY(20px);
  opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
  will-change: transform, opacity;
}
.js-anima-up-on {
  transform: translateY(0);
  opacity: 1;
}

.f_roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.c-button01 {
  width: min(25.7638888889vw, 371px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: min(1.3888888889vw, 20px);
  font-size: min(1.6666666667vw, 24px);
  font-weight: 700;
  line-height: 1.1;
  color: #fff;
  border-radius: 40px;
  padding: min(1.875vw, 27px);
  transition: all 0.3s;
  position: relative;
}
.c-button01::after {
  display: inline-block;
  content: "";
  background-position: center;
  background-size: cover;
  flex-shrink: 0;
}
.c-button01.is-blue {
  background-color: #2A238F;
}
.c-button01.is-blue::after {
  width: min(0.8333333333vw, 12px);
  height: min(1.3888888889vw, 20px);
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='20' viewBox='0 0 12 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.98438 2.4751L9.01562 10.4751L1.98438 18.4751' stroke='white' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}
.c-button01.is-blue:hover {
  background-color: #7E77E9;
}
.c-button01.is-red {
  background-color: #CC0033;
}
.c-button01.is-red::after {
  width: min(1.4583333333vw, 21px);
  height: min(1.0416666667vw, 15px);
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='15' viewBox='0 0 21 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='3.67139' y='0.75' width='15.9714' height='9.8' stroke='white'/%3E%3Cpath d='M0.857117 4.49268V13.7498H17.0571' stroke='white'/%3E%3C/svg%3E%0A");
}
.c-button01.is-red:hover {
  background-color: #EA6486;
}
.c-button01 .note {
  position: absolute;
  left: 50%;
  top: calc(-50% + min(0.8333333333vw, 12px));
  transform: translateX(-50%);
  font-size: min(1.1111111111vw, 16px);
  font-weight: 700;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  padding: min(0.7638888889vw, 11px) min(0.625vw, 9px);
  white-space: nowrap;
}

.u-nobr {
  display: inline-block;
}

.sp {
  display: none;
}
.header {
  padding: min(1.8055555556vw, 26px) min(2.0833333333vw, 30px) min(1.7361111111vw, 25px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 20;
  transition: all 0.3s;
}
.header.is-scale {
  padding: min(1.2638888889vw, 18.2px) min(1.4583333333vw, 21px) min(1.2152777778vw, 17.5px);
}
.header.is-scale .header_logo {
  width: min(7.1944444444vw, 103.6px);
}
.header_logo {
  width: min(10.2777777778vw, 148px);
  transition: all 0.3s;
}
.header_logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  background: #3C3C3C;
  color: #FFFFFF;
  text-align: center;
  padding: min(5.9722222222vw, 86px) min(0.6944444444vw, 10px) min(20.1388888889vw, 290px);
}
.footer.is-02, .footer.is-03 {
  padding-bottom: min(14.9305555556vw, 215px);
}

.footer_nav {
  display: flex;
  justify-content: center;
  gap: min(2.7777777778vw, 40px);
}

.footer_nav_a {
  font-size: min(1.1111111111vw, 16px);
  line-height: 1.1;
  text-decoration: underline;
}
.footer_nav_a .e-ico {
  display: inline-block;
  width: min(1.4583333333vw, 21px);
  height: min(1.0416666667vw, 15px);
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='15' viewBox='0 0 21 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='3.8143' y='1' width='15.9714' height='9.8' stroke='white'/%3E%3Cpath d='M1 4.74268V13.9998H17.2' stroke='white'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: min(0.6944444444vw, 10px);
  position: relative;
  top: min(0.3472222222vw, 5px);
}
.footer_nav_a:hover {
  text-decoration: none;
}

.footer_coryright {
  font-size: min(0.9722222222vw, 14px);
  line-height: 1.1;
  margin: min(4.1666666667vw, 60px) 0 0;
}

.sec_content {
  background: url(/special_contents/kokusai/docomo_kokusai/images/bg.png) repeat;
  padding-top: 96px;
}

.sec_mv {
  padding-top: min(7.1527777778vw, 103px);
}

.sec_banner {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 51px 0;
}
.sec_banner .title {
  font-size: min(1.6666666667vw, 24px);
  font-weight: 900;
  text-align: center;
  margin-bottom: min(2.4305555556vw, 35px);
}

.tab_heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: min(1.3194444444vw, 19px);
}
.tab_heading .item {
  width: min(15.6944444444vw, 226px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: min(0.6944444444vw, 10px);
}
.tab_heading .item.is-blue {
  border-bottom: 1px solid #2A238F;
  margin-left: min(19.7916666667vw, 285px);
}
.tab_heading .item.is-blue .text {
  color: #2A238F;
}
.tab_heading .item.is-red {
  border-bottom: 1px solid #E70626;
  margin-right: min(6.875vw, 99px);
}
.tab_heading .item.is-red .text {
  color: #E70626;
}
.tab_heading .text {
  font-size: min(1.6666666667vw, 24px);
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
}
.tab_heading .text.is-small {
  font-size: min(1.25vw, 18px);
}
.tab_button {
  width: min(27.9861111111vw, 403px);
  height: min(9.0277777778vw, 130px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #fff;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  border-color: #000;
  border-radius: 10px 10px 0 0;
  transition: all 0.3s;
}
.tab_button_wrap {
  display: flex;
  align-items: center;
}
.tab_button.active {
  border-color: transparent;
}
.tab_button.is-01 img {
  width: min(15.8333333333vw, 228px);
}
.tab_button.is-01:hover, .tab_button.is-01.active {
  background-color: #CFEAFF;
}
.tab_button.is-02 img {
  width: min(14.7222222222vw, 212px);
  position: relative;
  top: min(0.3472222222vw, 5px);
}
.tab_button.is-02:hover, .tab_button.is-02.active {
  background-color: #CFEAFF;
}
.tab_button.is-03 {
  width: min(28.6805555556vw, 413px);
  margin-left: auto;
  margin-right: 1px;
}
.tab_button.is-03 img {
  width: min(16.3888888889vw, 236px);
}
.tab_button.is-03:hover, .tab_button.is-03.active {
  background-color: #FFDADA;
}
.tab_content {
  display: none;
}
.tab_content.active {
  display: block;
}
.tab_content .icon {
  position: absolute;
  z-index: 10;
}
.tab_content .main_image {
  margin-top: -1px;
  position: relative;
}
.tab_content .main_image_desc {
  padding: min(2.0833333333vw, 30px) min(3.4722222222vw, 50px);
  background-color: #E2E2E2;
}
.tab_content .main_image_desc .txt {
  display: flex;
  gap: min(0.8333333333vw, 12px);
  font-size: min(0.8333333333vw, 12px);
  line-height: 1.82;
  color: #000000;
}
.tab_content .main_image_desc .txt_sub {
  display: flex;
}
.tab_content .main_image_desc .txt_02 {
  padding-left: min(2.8472222222vw, 41px);
}
.tab_content .main_image_desc .txt_03, .tab_content .main_image_desc .txt_04, .tab_content .main_image_desc .txt_05 {
  gap: min(1.5277777778vw, 22px);
}
.tab_content .img_line {
  display: flex;
}
.tab_content .img_line picture {
  display: flex;
}
.tab_content .box_fee_wrap {
  position: relative;
  background-color: #fff;
}
.tab_content .box_footer {
  background-color: #CFEAFF;
  padding: min(4.1666666667vw, 60px) min(15.9027777778vw, 229px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.tab_content .box_footer.is-red {
  background-color: #FFDADA;
}
.tab_content .box_footer .button_wrap {
  display: flex;
  gap: min(2.7777777778vw, 40px);
}
.tab_content .box_footer .button_title {
  font-size: min(1.6666666667vw, 24px);
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  margin-bottom: min(3.2638888889vw, 47px);
}
.tab_content .box_footer .button_title.is-blue {
  color: #2A238F;
}
.tab_content .box_footer .button_title.is-red {
  color: #CC0033;
}
.tab_content .box_footer .button_note {
  width: 100%;
  margin-top: min(2.7777777778vw, 40px);
}
.tab_content .box_footer .button_note .txt {
  font-size: min(0.8333333333vw, 12px);
  line-height: 1.85;
  color: #000;
  display: flex;
  gap: 1px;
  text-align: left;
  margin-left: min(0.2777777778vw, 4px);
}
.tab_content .box_footer .button:not(:first-of-type) {
  margin-top: min(1.3888888889vw, 20px);
}
.tab_content_01 {
  padding-bottom: min(7.4305555556vw, 107px);
}
.tab_content_01 .main_image .icon_01 {
  width: min(15.0694444444vw, 217px);
  top: min(6.0416666667vw, 87px);
  left: min(2.1527777778vw, 31px);
}
.tab_content_01 .main_image .icon_02 {
  width: min(13.6111111111vw, 196px);
  top: min(9.0972222222vw, 131px);
  right: min(1.1805555556vw, 17px);
}
.tab_content_01 .main_image .txt .link {
  text-decoration: underline;
}
.tab_content_01 .main_image .txt .link:hover {
  text-decoration: none;
}
.tab_content_01 .box_fee {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: min(3.3333333333vw, 48px);
}
.tab_content_01 .box_fee::before {
  content: "";
  width: 1px;
  height: calc(100% - min(1.3888888889vw, 20px));
  background-color: #ccc;
  position: absolute;
  left: calc(50% + min(2.7777777778vw, 40px));
  top: 0;
  transform: translateX(-50%);
}
.tab_content_01 .box_fee_wrap {
  padding: min(5.6944444444vw, 82px) min(2.7777777778vw, 40px) min(4.1666666667vw, 60px);
}
.tab_content_01 .box_fee_wrap .icon_03 {
  width: min(14.0277777778vw, 202px);
  top: min(79.1666666667vw, 1140px);
  left: min(-3.5416666667vw, -51px);
}
.tab_content_01 .box_fee_item.is-red {
  width: min(40.2777777778vw, 580px);
}
.tab_content_01 .box_fee_item.is-red .logo {
  width: min(21.1111111111vw, 304px);
  margin-bottom: min(3.4027777778vw, 49px);
}
.tab_content_01 .box_fee_item.is-red .price_list {
  margin-bottom: min(3.4027777778vw, 49px);
}
.tab_content_01 .box_fee_item.is-gold {
  width: min(34.7222222222vw, 500px);
}
.tab_content_01 .box_fee_item.is-gold .logo {
  width: min(31.25vw, 450px);
  margin-bottom: min(3.2638888889vw, 47px);
}
.tab_content_01 .box_fee_item.is-gold .price_package.is-one-col.is-gold {
  margin-bottom: 0;
  margin-top: min(2.9166666667vw, 42px);
}
.tab_content_01 .box_fee_item .logo {
  margin: 0 auto;
}
.tab_content_01 .box_fee_item .price_package {
  margin-bottom: min(3.0555555556vw, 44px);
}
.tab_content_01 .box_fee_item .price_package.is-red .title {
  background-color: #D00F31;
  padding: min(1.0416666667vw, 15px);
}
.tab_content_01 .box_fee_item .price_package.is-red .item {
  border-color: #D00F31;
}
.tab_content_01 .box_fee_item .price_package.is-red .capacity {
  background-color: #FFEEEE;
}
.tab_content_01 .box_fee_item .price_package.is-red .cost {
  color: #D00F31;
}
.tab_content_01 .box_fee_item .price_package.is-gold .title {
  background-color: #806500;
}
.tab_content_01 .box_fee_item .price_package.is-gold .item {
  border-color: #806500;
  min-height: min(7.2222222222vw, 104px);
}
.tab_content_01 .box_fee_item .price_package.is-gold .cost {
  color: #806500;
  font-size: min(1.9444444444vw, 28px);
  margin-bottom: min(1.3888888889vw, 20px);
}
.tab_content_01 .box_fee_item .price_package .title {
  background-color: #707070;
  color: #fff;
  font-size: min(1.6666666667vw, 24px);
  font-weight: 900;
  padding: min(0.7638888889vw, 11px);
  text-align: center;
}
.tab_content_01 .box_fee_item .price_package .desc {
  display: block;
  font-size: min(0.8333333333vw, 12px);
  margin-top: min(0.2777777778vw, 4px);
}
.tab_content_01 .box_fee_item .price_package .content {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab_content_01 .box_fee_item .price_package .item {
  min-height: min(8.3333333333vw, 120px);
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid #707070;
  box-sizing: border-box;
}
.tab_content_01 .box_fee_item .price_package .item:nth-child(2) {
  margin: 0 -1px;
}
.tab_content_01 .box_fee_item .price_package .capacity {
  width: 100%;
  background-color: #CECECE;
  text-align: center;
  font-weight: 900;
  font-size: min(1.25vw, 18px);
  padding: min(0.2777777778vw, 4px);
}
.tab_content_01 .box_fee_item .price_package .cost {
  font-size: min(1.5277777778vw, 22px);
  font-weight: 900;
  text-align: center;
  margin-top: auto;
  margin-bottom: min(0.8333333333vw, 12px);
}
.tab_content_01 .box_fee_item .price_package .cost span {
  font-size: min(3.1944444444vw, 46px);
}
.tab_content_01 .box_fee_item .price_package .num {
  display: inline-block;
  font-size: min(0.6944444444vw, 10px);
  line-height: 1;
  transform: translateY(min(-0.4861111111vw, -7px));
}
.tab_content_01 .box_fee_item .price_list.is-red .heading {
  color: #D00F31;
}
.tab_content_01 .box_fee_item .price_list.is-red .item {
  background-color: #FFEEEE;
}
.tab_content_01 .box_fee_item .price_list.is-red .cost {
  color: #D00F31;
}
.tab_content_01 .box_fee_item .price_list.is-gold .heading {
  color: #806500;
}
.tab_content_01 .box_fee_item .price_list.is-gold .item {
  background-color: #FAF6E6;
}
.tab_content_01 .box_fee_item .price_list.is-gold .cost {
  color: #806500;
}
.tab_content_01 .box_fee_item .price_list .heading {
  width: fit-content;
  font-size: min(1.6666666667vw, 24px);
  font-weight: 900;
  text-align: center;
  margin: 0 auto min(1.3888888889vw, 20px);
  border-bottom: 1px solid currentColor;
  padding-bottom: min(0.3472222222vw, 5px);
}
.tab_content_01 .box_fee_item .price_list .item {
  display: flex;
  align-items: center;
  padding: min(1.1111111111vw, 16px) min(1.3888888889vw, 20px);
  position: relative;
}
.tab_content_01 .box_fee_item .price_list .item:not(:first-of-type) {
  margin-top: min(0.1388888889vw, 2px);
}
.tab_content_01 .box_fee_item .price_list .item:last-of-type {
  padding-top: min(1.3888888889vw, 20px);
}
.tab_content_01 .box_fee_item .price_list .title {
  display: inline-block;
  font-size: min(1.1111111111vw, 16px);
  font-weight: 600;
  margin-bottom: min(0.2777777778vw, 4px);
  position: relative;
}
.tab_content_01 .box_fee_item .price_list .num {
  display: inline-block;
  font-size: min(0.6944444444vw, 10px);
  position: absolute;
  top: min(0.2083333333vw, 3px);
  right: min(-1.1111111111vw, -16px);
}
.tab_content_01 .box_fee_item .price_list .desc {
  font-size: min(0.8333333333vw, 12px);
  white-space: nowrap;
}
.tab_content_01 .box_fee_item .price_list .cost {
  font-size: min(1.25vw, 18px);
  font-weight: 900;
  position: absolute;
  top: 50%;
  right: min(1.3888888889vw, 20px);
  transform: translateY(-50%);
}
.tab_content_01 .box_fee_item .price_list .cost span {
  font-size: min(2.0833333333vw, 30px);
}
.tab_content_01 .box_fee_item .discount {
  background-color: #F3F3F3;
  margin-top: min(0.2083333333vw, 3px);
  padding: min(1.8055555556vw, 26px) min(6.9444444444vw, 100px) min(1.3888888889vw, 20px);
  text-align: center;
}
.tab_content_01 .box_fee_item .discount .title {
  font-size: min(1.1111111111vw, 16px);
  font-weight: 900;
  margin-bottom: min(0.2777777778vw, 4px);
}
.tab_content_01 .box_fee_item .discount .desc {
  font-size: min(0.8333333333vw, 12px);
  margin-bottom: min(0.6944444444vw, 10px);
  text-align: left;
  display: flex;
  gap: 1px;
  margin-left: min(0.6944444444vw, 10px);
  white-space: nowrap;
}
.tab_content_01 .box_fee_item .discount .cost {
  font-size: min(1.5277777778vw, 22px);
  font-weight: 900;
  color: #806500;
}
.tab_content_01 .box_fee_item .discount .cost span {
  font-size: min(3.1944444444vw, 46px);
}
.tab_content_01 .box_fee_item .points {
  margin-top: min(2.9166666667vw, 42px);
  text-align: center;
}
.tab_content_01 .box_fee_item .points .title {
  font-size: min(1.1111111111vw, 16px);
  font-weight: 900;
  margin-bottom: min(0.6944444444vw, 10px);
}
.tab_content_01 .box_fee_item .points .title .num {
  display: inline-block;
  font-size: min(0.6944444444vw, 10px);
  transform: translateY(min(-0.4166666667vw, -6px));
}
.tab_content_01 .box_fee_item .points .note {
  font-size: min(0.8333333333vw, 12px);
  display: block;
  color: #333333;
}
.tab_content_01 .box_fee_item .points .note span {
  position: relative;
  font-size: min(0.5555555556vw, 8px);
  top: min(-0.2777777778vw, -4px);
}
.tab_content_01 .box_fee_item .point .txt1 {
  font-size: min(0.8333333333vw, 12px);
  font-weight: 900;
  line-height: 1.1;
  color: #806500;
  margin-bottom: min(0.3472222222vw, 5px);
}
.tab_content_01 .box_fee_item .point .number {
  font-size: min(1.25vw, 18px);
  font-weight: 900;
  line-height: 1.1;
  color: #806500;
  margin-bottom: min(0.3472222222vw, 5px);
}
.tab_content_01 .box_fee_item .point .number span {
  font-size: min(3.1944444444vw, 46px);
}
.tab_content_01 .box_fee_item .point .number .pt {
  font-size: min(1.25vw, 18px);
}
.tab_content_01 .box_logo {
  padding: 0 min(0.6944444444vw, 10px);
  margin-bottom: min(1.3888888889vw, 20px);
}
.tab_content_01 .box_logo .list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: min(1.0416666667vw, 15px);
}
.tab_content_01 .box_logo .item {
  background-color: #F2F2F2;
  min-height: min(13.8888888889vw, 200px);
  display: flex;
  flex-direction: column;
  padding: min(1.3888888889vw, 20px);
}
.tab_content_01 .box_logo .item_01 {
  padding-top: min(2.0138888889vw, 29px);
}
.tab_content_01 .box_logo .item_01 .image {
  width: min(2.5vw, 36px);
  margin-bottom: min(1.9444444444vw, 28px);
}
.tab_content_01 .box_logo .item_01 .txt-big {
  position: relative;
  left: 3px;
}
.tab_content_01 .box_logo .item_02 {
  padding-top: min(2.1527777778vw, 31px);
}
.tab_content_01 .box_logo .item_02 .image {
  width: min(10vw, 144px);
  margin-bottom: min(1.5972222222vw, 23px);
}
.tab_content_01 .box_logo .item_02 .txt-big {
  position: relative;
  left: min(0.0694444444vw, 1px);
}
.tab_content_01 .box_logo .item_03 {
  padding-top: min(1.875vw, 27px);
}
.tab_content_01 .box_logo .item_03 .image {
  width: min(3.4722222222vw, 50px);
  margin-bottom: min(0.9722222222vw, 14px);
}
.tab_content_01 .box_logo .image {
  width: fit-content;
  margin: 0 auto;
}
.tab_content_01 .box_logo .text {
  color: #000;
  font-weight: 700;
  text-align: center;
}
.tab_content_01 .box_logo .txt-small {
  font-size: min(1.1111111111vw, 16px);
  white-space: nowrap;
}
.tab_content_01 .box_logo .txt-small .txt1,
.tab_content_01 .box_logo .txt-small .txt2 {
  font-size: min(1.25vw, 18px);
  position: relative;
}
.tab_content_01 .box_logo .txt-small .txt1 {
  right: min(-0.3472222222vw, -5px);
}
.tab_content_01 .box_logo .txt-small .txt2 {
  right: min(0.3472222222vw, 5px);
}
.tab_content_01 .box_logo .txt-xsmall {
  font-size: min(0.6944444444vw, 10px);
  margin-top: min(0.2083333333vw, 3px);
}
.tab_content_01 .box_logo .txt-big {
  font-size: min(1.6666666667vw, 24px);
  margin-top: min(0.1388888889vw, 2px);
}
.tab_content_01 .box_logo .txt-big .num {
  font-size: min(1.0416666667vw, 15px);
  display: inline-block;
  transform: translateY(min(-0.625vw, -9px));
}
.tab_content_01 .box_logo .txt-big .chr {
  display: inline-block;
  margin-right: min(-0.3472222222vw, -5px);
}
.tab_content_01 .box_logo .txt-note {
  font-size: min(0.8333333333vw, 12px);
  font-weight: 400;
  letter-spacing: -0.07em;
  text-align: left;
  margin-top: min(0.3472222222vw, 5px);
}
.tab_content_01 .description {
  font-size: min(0.8333333333vw, 12px);
  font-weight: 300;
  padding: 0 min(0.7638888889vw, 11px);
  letter-spacing: 0.003em;
}
.tab_content_01 .box_footer .icon_04 {
  width: min(15.1388888889vw, 218px);
  top: min(19.1666666667vw, 276px);
  left: min(-3.2638888889vw, -47px);
}
.tab_content_01 .box_footer .icon_05 {
  width: min(19.375vw, 279px);
  top: min(16.6666666667vw, 240px);
  right: min(-4.4444444444vw, -64px);
}
.tab_content_02 {
  padding-bottom: min(6.9444444444vw, 100px);
}
.tab_content_02 .main_image {
  position: relative;
}
.tab_content_02 .main_image .icon {
  position: absolute;
}
.tab_content_02 .main_image .icon_01 {
  width: min(22.1527777778vw, 319px);
  height: min(12.5694444444vw, 181px);
  top: min(2.9861111111vw, 43px);
  left: min(-3.3333333333vw, -48px);
}
.tab_content_02 .main_image .icon_02 {
  width: min(12.3611111111vw, 178px);
  height: min(17.1527777778vw, 247px);
  top: min(10.0694444444vw, 145px);
  right: min(-2.0833333333vw, -30px);
}
.tab_content_02 .box_fee_wrap {
  padding: min(5.5555555556vw, 80px) min(8.3333333333vw, 120px);
  position: relative;
}
.tab_content_02 .box_fee_wrap .icon {
  position: absolute;
}
.tab_content_02 .box_fee_wrap .icon_03 {
  width: min(22.3611111111vw, 322px);
  height: min(14.8611111111vw, 214px);
  top: min(31.1111111111vw, 448px);
  left: min(-3.1944444444vw, -46px);
}
.tab_content_02 .box_fee_wrap .icon_04 {
  width: min(16.25vw, 234px);
  height: min(13.75vw, 198px);
  top: min(35vw, 504px);
  right: min(4.6527777778vw, 67px);
}
.tab_content_02 .box_fee_wrap .icon_05 {
  width: min(18.0555555556vw, 260px);
  height: min(16.3194444444vw, 235px);
  bottom: min(2.0138888889vw, 29px);
  left: min(1.3194444444vw, 19px);
}
.tab_content_02 .box_fee_wrap .icon_06 {
  width: min(20.8333333333vw, 300px);
  height: min(16.1805555556vw, 233px);
  bottom: min(3.8888888889vw, 56px);
  right: min(-1.875vw, -27px);
}
.tab_content_02 .box_fee .basic_fee {
  position: relative;
  margin-bottom: min(2.8472222222vw, 41px);
}
.tab_content_02 .box_fee .basic_fee .img_admin_fee {
  width: min(12.6388888889vw, 182px);
  height: min(13.1944444444vw, 190px);
  position: absolute;
  top: min(-1.5972222222vw, -23px);
  right: min(-5.1388888889vw, -74px);
}
.tab_content_02 .box_fee .basic_fee .title {
  font-size: min(1.6666666667vw, 24px);
  font-weight: 900;
  background-color: #2A238F;
  color: #fff;
  text-align: center;
  padding: min(0.6944444444vw, 10px);
}
.tab_content_02 .box_fee .basic_fee .content {
  background-color: #fff;
  border: 1px solid #2A238F;
  padding: min(2.5vw, 36px) min(15.2083333333vw, 219px) min(1.8055555556vw, 26px) min(15.2083333333vw, 219px);
}
.tab_content_02 .box_fee .basic_fee .capacity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: min(2.7777777778vw, 40px);
  white-space: nowrap;
  margin-bottom: min(1.1805555556vw, 17px);
}
.tab_content_02 .box_fee .basic_fee .number {
  font-size: min(2.6388888889vw, 38px);
  font-weight: 900;
  color: #2A238F;
  background-color: rgba(42, 35, 143, 0.15);
  padding: min(1.25vw, 18px) min(2.1527777778vw, 31px);
}
.tab_content_02 .box_fee .basic_fee .cost {
  font-size: min(2.2222222222vw, 32px);
  font-weight: 900;
  color: #2A238F;
  line-height: 1;
}
.tab_content_02 .box_fee .basic_fee .cost span {
  font-size: min(7.6388888889vw, 110px);
}
.tab_content_02 .box_fee .basic_fee .note {
  font-size: min(1.1111111111vw, 16px);
  font-weight: 500;
  color: #000;
  text-align: center;
}
.tab_content_02 .box_fee .ahamo_fee .heading {
  text-align: center;
  margin-bottom: min(4.5833333333vw, 66px);
}
.tab_content_02 .box_fee .ahamo_fee .heading .head {
  font-size: min(2.9166666667vw, 42px);
  font-weight: 900;
}
.tab_content_02 .box_fee .ahamo_fee .heading .txt_blue {
  font-size: min(3.6111111111vw, 52px);
  color: #2A238F;
}
.tab_content_02 .box_fee .ahamo_fee .heading .dot {
  display: inline-block;
  font-size: min(2.2222222222vw, 32px);
  transform: translateY(min(-1.5972222222vw, -23px));
}
.tab_content_02 .box_fee .ahamo_fee .heading .note {
  font-size: min(1.1111111111vw, 16px);
  font-weight: 500;
  color: #000000;
  line-height: 1.1;
  letter-spacing: 0.1em;
  text-align: center;
  margin-top: min(0.2083333333vw, 3px);
}
.tab_content_02 .box_fee .ahamo_fee .content {
  background-color: #E8F5FF;
  padding: min(1.4583333333vw, 21px) min(11.8055555556vw, 170px) min(4.1666666667vw, 60px) min(11.8055555556vw, 170px);
  position: relative;
}
.tab_content_02 .box_fee .ahamo_fee .content .title {
  width: min(32.7777777778vw, 472px);
  margin: 0 auto min(0.6944444444vw, 10px);
}
.tab_content_02 .box_fee .ahamo_fee .content .capacity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: min(2.0833333333vw, 30px);
  white-space: nowrap;
  margin-left: min(0.9722222222vw, 14px);
  margin-bottom: min(2.7083333333vw, 39px);
}
.tab_content_02 .box_fee .ahamo_fee .content .number {
  font-size: min(2.6388888889vw, 38px);
  font-weight: 900;
  color: #fff;
  background-color: #0D78C9;
  padding: min(1.1805555556vw, 17px) min(1.3888888889vw, 20px);
}
.tab_content_02 .box_fee .ahamo_fee .content .cost {
  font-size: min(2.9166666667vw, 42px);
  font-weight: 900;
  color: #0D78C9;
  line-height: 1;
}
.tab_content_02 .box_fee .ahamo_fee .content .cost span {
  font-size: min(7.6388888889vw, 110px);
}
.tab_content_02 .box_fee .ahamo_fee .content span.tax {
  font-size: min(1.3888888889vw, 20px);
  font-weight: 400;
  color: #333333;
  position: relative;
  left: min(-0.6944444444vw, -10px);
}
.tab_content_02 .box_fee .ahamo_fee .content .detail_fee {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: min(1.3888888889vw, 20px);
  margin-bottom: min(1.3194444444vw, 19px);
}
.tab_content_02 .box_fee .ahamo_fee .content .item {
  width: min(20.2083333333vw, 291px);
  background-color: #fff;
  border: 1px solid #707070;
  padding: min(0.6944444444vw, 10px);
}
.tab_content_02 .box_fee .ahamo_fee .content .item_01 .logo {
  margin-bottom: min(0.6944444444vw, 10px);
}
.tab_content_02 .box_fee .ahamo_fee .content .item_02 {
  width: min(18.8194444444vw, 271px);
}
.tab_content_02 .box_fee .ahamo_fee .content .item_02 .logo {
  margin-bottom: min(1.3888888889vw, 20px);
}
.tab_content_02 .box_fee .ahamo_fee .content .plus {
  width: min(1.7361111111vw, 25px);
  height: min(1.7361111111vw, 25px);
}
.tab_content_02 .box_fee .ahamo_fee .content .plus svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tab_content_02 .box_fee .ahamo_fee .content .logo {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.tab_content_02 .box_fee .ahamo_fee .content .cap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: min(0.6944444444vw, 10px);
  white-space: nowrap;
  margin-left: min(0.4861111111vw, 7px);
}
.tab_content_02 .box_fee .ahamo_fee .content .num {
  font-size: min(1.5972222222vw, 23px);
  color: #707070;
  font-weight: 800;
  background-color: rgba(112, 112, 112, 0.15);
  padding: min(0.625vw, 9px) min(0.6944444444vw, 10px);
}
.tab_content_02 .box_fee .ahamo_fee .content .cos {
  font-size: min(1.5277777778vw, 22px);
  color: #707070;
  font-weight: 900;
}
.tab_content_02 .box_fee .ahamo_fee .content .cos span {
  font-size: min(2.9166666667vw, 42px);
}
.tab_content_02 .box_fee .ahamo_fee .content .cos span.dot {
  display: inline-block;
  font-size: min(1.0416666667vw, 15px);
  transform: translateY(min(-0.4861111111vw, -7px));
}
.tab_content_02 .box_fee .ahamo_fee .content .note {
  font-size: min(0.8333333333vw, 12px);
  color: #000000;
  font-weight: 500;
  margin-left: min(1.0416666667vw, 15px);
  line-height: 1.1;
  letter-spacing: 0.1em;
}
.tab_content_02 .box_fee .ahamo_fee .content .note .txt {
  display: flex;
  gap: 1px;
}
.tab_content_02 .box_footer {
  padding: min(5.5555555556vw, 80px) min(15.9027777778vw, 229px);
}
.tab_content_03 {
  padding-bottom: min(6.1805555556vw, 89px);
}
.tab_content_03 .main_image {
  position: relative;
}
.tab_content_03 .main_image .icon {
  position: absolute;
}
.tab_content_03 .main_image .icon_01 {
  width: min(20.4861111111vw, 295px);
  height: min(20vw, 288px);
  top: min(6.9444444444vw, 100px);
  left: min(-5.7638888889vw, -83px);
}
.tab_content_03 .main_image .icon_02 {
  width: min(12.8472222222vw, 185px);
  height: min(19.1666666667vw, 276px);
  top: min(1.3888888889vw, 20px);
  right: min(-1.5972222222vw, -23px);
}
.tab_content_03 .main_image .note {
  position: absolute;
  top: min(22.9166666667vw, 330px);
  right: min(19.5833333333vw, 282px);
  font-size: min(1.1111111111vw, 16px);
  font-weight: 400;
  line-height: 1.4;
  color: #000000;
}
.tab_content_03 .main_image .note_link {
  color: #2D287D;
  text-decoration: underline;
}
.tab_content_03 .main_image .note_link:hover {
  text-decoration: none;
}
.tab_content_03 .box_fee_wrap {
  padding: min(5.5555555556vw, 80px) min(8.3333333333vw, 120px);
  position: relative;
}
.tab_content_03 .box_fee_wrap .icon {
  position: absolute;
}
.tab_content_03 .box_fee_wrap .icon_03 {
  width: min(12.7777777778vw, 184px);
  height: min(10.625vw, 153px);
  top: min(15.7638888889vw, 227px);
  left: min(1.3194444444vw, 19px);
}
.tab_content_03 .box_fee_wrap .icon_04 {
  width: min(11.0416666667vw, 159px);
  height: min(10vw, 144px);
  top: min(15.2777777778vw, 220px);
  right: min(2.0138888889vw, 29px);
}
.tab_content_03 .box_fee_wrap .icon_05 {
  width: min(17.1527777778vw, 247px);
  height: min(17.3611111111vw, 250px);
  bottom: min(6.8055555556vw, 98px);
  left: min(-4.7222222222vw, -68px);
}
.tab_content_03 .box_fee_wrap .icon_06 {
  width: min(16.8055555556vw, 242px);
  height: min(16.5277777778vw, 238px);
  bottom: min(7.7083333333vw, 111px);
  right: min(-2.7083333333vw, -39px);
}
.tab_content_03 .box_fee .title {
  font-size: min(1.6666666667vw, 24px);
  font-weight: 900;
  background-color: #CC0033;
  color: #fff;
  text-align: center;
  padding: min(0.6944444444vw, 10px);
}
.tab_content_03 .box_fee .content {
  padding: min(2.2916666667vw, 33px) min(6.9444444444vw, 100px) 0 min(6.9444444444vw, 100px);
}
.tab_content_03 .box_fee .desc {
  font-size: min(1.25vw, 18px);
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
  margin-bottom: min(2.2916666667vw, 33px);
}
.tab_content_03 .box_fee .heading {
  width: fit-content;
  margin: 0 auto;
  font-size: min(2.7777777778vw, 40px);
  font-weight: 900;
  line-height: 1.53;
  color: #000000;
  text-align: center;
  padding-bottom: min(1.25vw, 18px);
  margin-bottom: min(2.2916666667vw, 33px);
  position: relative;
}
.tab_content_03 .box_fee .heading::after {
  content: "";
  width: min(25.3472222222vw, 365px);
  height: 1px;
  background-color: #000000;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}
.tab_content_03 .box_fee .heading span {
  display: block;
  font-size: min(2.2222222222vw, 32px);
}
.tab_content_03 .box_fee .list {
  display: flex;
  margin-bottom: min(4.0972222222vw, 59px);
}
.tab_content_03 .box_fee .list .item {
  flex: 1;
  box-sizing: border-box;
}
.tab_content_03 .box_fee .list .item.is-cost .head {
  border-left-color: #fff;
  margin-left: -1px;
}
.tab_content_03 .box_fee .list .item.is-cost .cont {
  background-color: #fff;
  margin-left: -1px;
  padding-right: min(8.4722222222vw, 122px);
}
.tab_content_03 .box_fee .list .item.is-cost .row {
  color: #CC0033;
}
.tab_content_03 .box_fee .list .head {
  font-size: min(1.6666666667vw, 24px);
  font-weight: 900;
  color: #fff;
  background-color: #CC0033;
  text-align: center;
  padding: min(0.6944444444vw, 10px);
  border: 1px solid #CC0033;
  box-sizing: border-box;
}
.tab_content_03 .box_fee .list .cont {
  padding: min(1.3888888889vw, 20px) min(10.4166666667vw, 150px) min(1.3888888889vw, 20px) min(1.3888888889vw, 20px);
  background-color: rgba(204, 0, 51, 0.15);
  border: 1px solid #CC0033;
  box-sizing: border-box;
}
.tab_content_03 .box_fee .list .row {
  font-size: min(1.9444444444vw, 28px);
  font-weight: 900;
  text-align: right;
}
.tab_content_03 .box_fee .list .row:not(:first-of-type) {
  margin-top: min(1.3888888889vw, 20px);
}
.tab_content_03 .box_fee .list .row span {
  font-size: min(3.3333333333vw, 48px);
}
.tab_content_03 .box_fee .note {
  max-width: min(33.1944444444vw, 478px);
  width: 100%;
  margin: 0 auto;
  font-size: min(0.8333333333vw, 12px);
  font-weight: 400;
  line-height: 1.8;
  text-align: left;
}
.tab_content_03 .box_fee .note .txt {
  display: flex;
  gap: 1px;
}
.tab_content_03 .box_fee .note a {
  text-decoration: underline;
}
.tab_content_03 .box_fee .note a:hover {
  text-decoration: none;
}
.tab_content_03 .box_footer {
  background-color: #FFDADA;
  padding: min(5.5555555556vw, 80px) min(8.5416666667vw, 123px);
}
.tab_content_03 .box_footer .button_wrap {
  gap: min(4.1666666667vw, 60px);
}
.tab_content_03 .box_banner {
  padding-top: min(5.5555555556vw, 80px);
}
.tab_content_03 .box_banner .banner {
  max-width: min(45.8333333333vw, 660px);
  width: 100%;
  margin: 0 auto;
  transition: all 0.3s;
}
.tab_content_03 .box_banner .banner:hover {
  opacity: 0.8;
}

.navi_under {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: auto;
  padding: min(1.7361111111vw, 25px);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.navi_under_container {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.navi_under_container.is-show {
  opacity: 1;
  visibility: visible;
}
.navi_under.active {
  display: flex;
}
.navi_under_wrap {
  width: max-content;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navi_under .button_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.navi_under .button_title {
  font-size: min(1.6666666667vw, 24px);
  font-weight: 700;
  color: #fff;
  line-height: 1.1;
  text-align: center;
  margin-bottom: min(3.2638888889vw, 47px);
}
.navi_under .button_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: min(1.3888888889vw, 20px);
}
@media screen and (max-width: 767px) {
  body {
    font-size: 3.0534351145vw;
  }
  .c_inner {
    padding: 0 5.0890585242vw;
  }
  .c-button01.is-blue::after {
    width: 2.2900763359vw;
    height: 4.0712468193vw;
  }
  .c-button01.is-red::after {
    width: 4.834605598vw;
    height: 3.3078880407vw;
  }
  .c-button01 .note {
    font-size: 4.0712468193vw;
    padding: 2.7989821883vw 2.2900763359vw;
    top: calc(-50% + 9px);
  }
  .c-button01 {
    width: 71.2468193384vw;
    font-size: 4.5801526718vw;
    padding: 7.6335877863vw 5.0890585242vw;
    gap: 2.5445292621vw;
    border-radius: 10.1781170483vw;
  }
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  br.sp,
  img.sp,
  span.sp {
    display: inline;
  }
  table.sp {
    display: table;
  }
  .header {
    padding: 6.6157760814vw 7.6335877863vw 6.3613231552vw;
  }
  .header.is-scale {
    padding: 4.631043257vw 5.3435114504vw 4.4529262087vw;
  }
  .header.is-scale .header_logo {
    width: 26.3613231552vw;
  }
  .header_logo {
    width: 37.6590330789vw;
  }
  .footer {
    text-align: left;
    padding: 15.0127226463vw 16.0305343511vw 50.8905852417vw 12.7226463104vw;
  }
  .footer.is-02, .footer.is-03 {
    padding-bottom: 38.1679389313vw;
  }
  .footer_nav {
    gap: 8.3969465649vw;
    flex-direction: column;
    line-height: 1.5;
  }
  .footer_nav_a .e-ico {
    top: 0.2544529262vw;
  }
  .footer_nav_a {
    font-size: 4.0712468193vw;
    line-height: 1.625;
  }
  .footer_nav_a:last-of-type .e-ico {
    top: 0.5089058524vw;
    left: 2.0356234097vw;
  }
  .footer_coryright {
    font-size: 3.5623409669vw;
    margin-top: 13.4860050891vw;
    margin-left: 3.0534351145vw;
    white-space: nowrap;
  }
  .sec_content {
    padding-top: 15.5216284987vw;
  }
  .sec_mv {
    padding-top: 26.2086513995vw;
  }
  .sec_banner {
    padding: 8.9058524173vw 5.0890585242vw;
  }
  .sec_banner .title {
    font-size: 6.106870229vw;
    margin-bottom: 2.5445292621vw;
  }
  .tab_heading {
    justify-content: space-between;
    margin-bottom: 3.8167938931vw;
  }
  .tab_heading .item.is-blue {
    margin-left: 14.5038167939vw;
  }
  .tab_heading .item.is-red {
    margin-right: 0;
  }
  .tab_heading .item {
    width: 29.0076335878vw;
    padding-bottom: 1.7811704835vw;
  }
  .tab_heading .text {
    font-size: 3.0534351145vw;
  }
  .tab_heading .text.is-small {
    font-size: 2.5445292621vw;
  }
  .tab_button.is-01 {
    padding: 0 4px;
  }
  .tab_button.is-01 img {
    width: 100%;
  }
  .tab_button.is-02 img {
    width: 100%;
    top: 0;
  }
  .tab_button.is-03 {
    width: 29.0076335878vw;
    padding: 0 5px;
  }
  .tab_button.is-03 img {
    width: 100%;
  }
  .tab_button {
    width: 29.0076335878vw;
    height: 25.4452926209vw;
  }
  .tab_content .main_image_desc {
    padding: 6.3613231552vw 5.0890585242vw;
  }
  .tab_content .main_image_desc .txt {
    gap: 3.8167938931vw;
    font-size: 3.0534351145vw;
  }
  .tab_content .main_image_desc .txt_02, .tab_content .main_image_desc .txt_03, .tab_content .main_image_desc .txt_04, .tab_content .main_image_desc .txt_05 {
    padding-left: 11.4503816794vw;
  }
  .tab_content .main_image_desc .txt_02 span {
    flex-shrink: 0;
  }
  .tab_content .main_image_desc .txt_03, .tab_content .main_image_desc .txt_04, .tab_content .main_image_desc .txt_05 {
    gap: 5.5979643766vw;
  }
  .tab_content .box_footer {
    padding: 15.2671755725vw 5.5979643766vw 15.2671755725vw;
  }
  .tab_content .box_footer .button_wrap {
    flex-direction: column;
    padding: 0 3.8167938931vw;
    gap: 9.4147582697vw;
  }
  .tab_content .box_footer .button_title {
    font-size: 6.106870229vw;
    margin-bottom: 6.6157760814vw;
    white-space: nowrap;
  }
  .tab_content .box_footer .button_note {
    margin-top: 10.1781170483vw;
  }
  .tab_content .box_footer .button_note .txt {
    font-size: 3.0534351145vw;
    margin-left: 0;
  }
  .tab_content .box_footer .button:not(:first-of-type) {
    margin-top: 5.0890585242vw;
  }
  .tab_content_01 {
    padding-bottom: 29.0076335878vw;
  }
  .tab_content_01 .main_image .icon_01 {
    width: 27.989821883vw;
    top: 67.1755725191vw;
    left: 0;
  }
  .tab_content_01 .main_image .icon_02 {
    width: 30.534351145vw;
    top: 61.0687022901vw;
    right: -5.0890585242vw;
  }
  .tab_content_01 .box_fee {
    flex-direction: column;
    margin-bottom: 16.0305343511vw;
  }
  .tab_content_01 .box_fee::before {
    display: none;
  }
  .tab_content_01 .box_fee_wrap {
    padding: 17.048346056vw 5.0890585242vw 17.3027989822vw;
  }
  .tab_content_01 .box_fee_wrap .icon_03 {
    width: 32.5699745547vw;
    top: 447.3282442748vw;
    left: -5.0890585242vw;
  }
  .tab_content_01 .box_fee_item.is-red {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 15.0127226463vw;
    margin-bottom: 16.0305343511vw;
  }
  .tab_content_01 .box_fee_item.is-red .logo {
    width: 50.3816793893vw;
    margin-bottom: 8.3969465649vw;
  }
  .tab_content_01 .box_fee_item.is-red .price_list {
    margin-bottom: 10.4325699746vw;
  }
  .tab_content_01 .box_fee_item.is-gold {
    width: 100%;
  }
  .tab_content_01 .box_fee_item.is-gold .logo {
    width: 73.5368956743vw;
    margin-bottom: 8.3969465649vw;
  }
  .tab_content_01 .box_fee_item.is-gold .price_package.is-one-col.is-gold {
    margin-top: 10.6870229008vw;
  }
  .tab_content_01 .box_fee_item .price_package.is-red .title {
    padding: 1.7811704835vw;
  }
  .tab_content_01 .box_fee_item .price_package.is-red {
    margin-bottom: 0;
  }
  .tab_content_01 .box_fee_item .price_package.is-gold .title {
    padding-bottom: 7.6335877863vw;
  }
  .tab_content_01 .box_fee_item .price_package.is-gold .cost {
    font-size: 7.1246819338vw;
    margin-bottom: 4.0712468193vw;
  }
  .tab_content_01 .box_fee_item .price_package {
    margin-bottom: 10.1781170483vw;
  }
  .tab_content_01 .box_fee_item .price_package .title {
    font-size: 6.106870229vw;
    padding: 2.7989821883vw;
  }
  .tab_content_01 .box_fee_item .price_package .desc {
    font-size: 3.0534351145vw;
    margin-top: 1.0178117048vw;
  }
  .tab_content_01 .box_fee_item .price_package .content {
    flex-direction: column;
  }
  .tab_content_01 .box_fee_item .price_package .item:nth-child(2) {
    margin: -1px 0;
  }
  .tab_content_01 .box_fee_item .price_package .item {
    flex: unset;
    width: 100%;
    min-height: 30.534351145vw;
  }
  .tab_content_01 .box_fee_item .price_package .capacity {
    font-size: 4.5801526718vw;
    padding: 1.0178117048vw;
  }
  .tab_content_01 .box_fee_item .price_package .cost {
    font-size: 5.5979643766vw;
    margin-bottom: 3.0534351145vw;
  }
  .tab_content_01 .box_fee_item .price_package .cost span {
    font-size: 11.7048346056vw;
  }
  .tab_content_01 .box_fee_item .price_package .num {
    font-size: 2.5445292621vw;
    transform: translateY(-1.272264631vw);
  }
  .tab_content_01 .box_fee_item .price_list .heading {
    font-size: 6.106870229vw;
    margin-bottom: 5.0890585242vw;
    padding-bottom: 1.272264631vw;
  }
  .tab_content_01 .box_fee_item .price_list .item:last-of-type {
    padding-top: 3.3078880407vw;
  }
  .tab_content_01 .box_fee_item .price_list .item {
    flex-direction: column;
    align-items: flex-start;
    padding: 4.0712468193vw 5.0890585242vw;
  }
  .tab_content_01 .box_fee_item .price_list .item:nth-child(4) .cost {
    margin-top: 1.272264631vw;
  }
  .tab_content_01 .box_fee_item .price_list .title {
    font-size: 4.0712468193vw;
    margin-bottom: 1.0178117048vw;
  }
  .tab_content_01 .box_fee_item .price_list .num {
    font-size: 2.5445292621vw;
    top: 0.7633587786vw;
    right: -4.0712468193vw;
  }
  .tab_content_01 .box_fee_item .price_list .desc {
    font-size: 3.0534351145vw;
  }
  .tab_content_01 .box_fee_item .price_list .cost {
    font-size: 4.5801526718vw;
    position: static;
    transform: none;
    margin-top: 2.5445292621vw;
  }
  .tab_content_01 .box_fee_item .price_list .cost span {
    font-size: 7.6335877863vw;
  }
  .tab_content_01 .box_fee_item .discount {
    padding: 5.0890585242vw 4.3256997455vw;
  }
  .tab_content_01 .box_fee_item .discount .title {
    font-size: 4.0712468193vw;
    margin-bottom: 1.0178117048vw;
  }
  .tab_content_01 .box_fee_item .discount .desc {
    font-size: 3.0534351145vw;
    margin-bottom: 2.5445292621vw;
    margin-left: 0;
  }
  .tab_content_01 .box_fee_item .discount .cost {
    font-size: 5.5979643766vw;
  }
  .tab_content_01 .box_fee_item .discount .cost span {
    font-size: 11.7048346056vw;
  }
  .tab_content_01 .box_fee_item .points {
    margin-top: 9.9236641221vw;
  }
  .tab_content_01 .box_fee_item .points .title {
    font-size: 4.0712468193vw;
    margin-bottom: 2.5445292621vw;
  }
  .tab_content_01 .box_fee_item .points .title .num {
    font-size: 2.5445292621vw;
    transform: translateY(-1.5267175573vw);
  }
  .tab_content_01 .box_fee_item .points .note {
    font-size: 3.0534351145vw;
    margin-top: 1.7811704835vw;
  }
  .tab_content_01 .box_fee_item .point .txt1 {
    font-size: 3.0534351145vw;
    margin-bottom: 1.272264631vw;
  }
  .tab_content_01 .box_fee_item .point .number {
    font-size: 4.5801526718vw;
    margin-bottom: 1.272264631vw;
  }
  .tab_content_01 .box_fee_item .point .number span {
    font-size: 11.7048346056vw;
  }
  .tab_content_01 .box_fee_item .point .number .pt {
    font-size: 4.5801526718vw;
  }
  .tab_content_01 .box_logo {
    padding: 0;
    margin-bottom: 5.0890585242vw;
  }
  .tab_content_01 .box_logo .list {
    grid-template-columns: repeat(1, 1fr);
    gap: 3.8167938931vw;
  }
  .tab_content_01 .box_logo .item {
    padding: 3.0534351145vw;
    min-height: 50.8905852417vw;
    align-items: flex-start;
  }
  .tab_content_01 .box_logo .item_01 {
    min-height: 50.8905852417vw;
    padding-top: 7.3791348601vw;
  }
  .tab_content_01 .box_logo .item_01 .image {
    width: 9.1603053435vw;
    margin-bottom: 7.1246819338vw;
  }
  .tab_content_01 .box_logo .item_02 {
    min-height: 59.5419847328vw;
    padding-top: 7.8880407125vw;
  }
  .tab_content_01 .box_logo .item_02 .image {
    width: 36.641221374vw;
    margin-bottom: 5.8524173028vw;
  }
  .tab_content_01 .box_logo .item_03 {
    min-height: 55.9796437659vw;
    padding-top: 7.1246819338vw;
  }
  .tab_content_01 .box_logo .item_03 .image {
    width: 12.7226463104vw;
    margin-bottom: 3.5623409669vw;
  }
  .tab_content_01 .box_logo .text {
    width: 100%;
  }
  .tab_content_01 .box_logo .txt-small {
    font-size: 4.0712468193vw;
  }
  .tab_content_01 .box_logo .txt-small .txt1,
  .tab_content_01 .box_logo .txt-small .txt2 {
    font-size: 4.5801526718vw;
  }
  .tab_content_01 .box_logo .txt-xsmall {
    font-size: 2.5445292621vw;
    margin-top: 0.7633587786vw;
  }
  .tab_content_01 .box_logo .txt-big {
    font-size: 6.106870229vw;
  }
  .tab_content_01 .box_logo .txt-big .num {
    font-size: 4.0712468193vw;
    transform: translateY(-1.7811704835vw);
  }
  .tab_content_01 .box_logo .txt-note {
    font-size: 3.0534351145vw;
    text-align: left;
    padding: 0 3.0534351145vw;
  }
  .tab_content_01 .description {
    font-size: 3.0534351145vw;
    padding: 0;
  }
  .tab_content_01 .box_footer .icon_04 {
    width: 34.6055979644vw;
    top: 145.0381679389vw;
    left: -6.106870229vw;
  }
  .tab_content_01 .box_footer .icon_05 {
    width: 37.1501272265vw;
    top: 145.0381679389vw;
    right: -3.5623409669vw;
  }
  .tab_content_01 .box_footer .button_title.is-blue {
    margin-bottom: 11.7048346056vw;
  }
  .tab_content_02 {
    padding-bottom: 13.4860050891vw;
  }
  .tab_content_02 .main_image .icon_01 {
    width: 36.1323155216vw;
    height: 20.6106870229vw;
    top: 65.6488549618vw;
    left: -9.1603053435vw;
  }
  .tab_content_02 .main_image .icon_02 {
    width: 27.989821883vw;
    height: 38.1679389313vw;
    top: 60.0508905852vw;
    right: -3.3078880407vw;
  }
  .tab_content_02 .box_fee_wrap .icon_03 {
    width: 29.0076335878vw;
    height: 19.3384223919vw;
    top: 188.2951653944vw;
    left: -4.834605598vw;
  }
  .tab_content_02 .box_fee_wrap .icon_04 {
    width: 21.3740458015vw;
    height: 17.8117048346vw;
    top: 190.8396946565vw;
    right: -0.5089058524vw;
  }
  .tab_content_02 .box_fee_wrap .icon_05 {
    width: 23.4096692112vw;
    height: 21.3740458015vw;
    bottom: -15.5216284987vw;
    left: -1.0178117048vw;
  }
  .tab_content_02 .box_fee_wrap .icon_06 {
    width: 26.9720101781vw;
    height: 21.1195928753vw;
    bottom: -15.2671755725vw;
    right: -3.5623409669vw;
  }
  .tab_content_02 .box_fee_wrap {
    padding: 10.1781170483vw 5.0890585242vw;
  }
  .tab_content_02 .box_fee .basic_fee {
    margin-bottom: 7.8880407125vw;
  }
  .tab_content_02 .box_fee .basic_fee .img_admin_fee {
    width: 33.5877862595vw;
    height: 35.1145038168vw;
    top: -13.4860050891vw;
    right: -10.6870229008vw;
  }
  .tab_content_02 .box_fee .basic_fee .title {
    font-size: 6.106870229vw;
    padding: 2.5445292621vw;
  }
  .tab_content_02 .box_fee .basic_fee .content {
    padding: 5.0890585242vw 6.6157760814vw 6.6157760814vw;
    white-space: nowrap;
  }
  .tab_content_02 .box_fee .basic_fee .capacity {
    white-space: unset;
    gap: 5.0890585242vw;
    flex-direction: column;
    margin-bottom: 1.7811704835vw;
  }
  .tab_content_02 .box_fee .basic_fee .number {
    font-size: 7.1246819338vw;
    padding: 3.5623409669vw 7.3791348601vw;
  }
  .tab_content_02 .box_fee .basic_fee .cost {
    font-size: 7.1246819338vw;
  }
  .tab_content_02 .box_fee .basic_fee .cost span {
    font-size: 18.8295165394vw;
  }
  .tab_content_02 .box_fee .basic_fee .note {
    font-size: 4.0712468193vw;
  }
  .tab_content_02 .box_fee .ahamo_fee .heading {
    margin-bottom: 11.7048346056vw;
  }
  .tab_content_02 .box_fee .ahamo_fee .heading .head {
    font-size: 8.1424936387vw;
  }
  .tab_content_02 .box_fee .ahamo_fee .heading .txt_blue {
    font-size: 10.6870229008vw;
  }
  .tab_content_02 .box_fee .ahamo_fee .heading .dot {
    font-size: 6.106870229vw;
    transform: translateY(-3.3078880407vw);
  }
  .tab_content_02 .box_fee .ahamo_fee .heading .note {
    font-size: 4.0712468193vw;
  }
  .tab_content_02 .box_fee .ahamo_fee .content {
    padding: 5.0890585242vw 4.3256997455vw 5.0890585242vw;
  }
  .tab_content_02 .box_fee .ahamo_fee .content .title {
    width: 94.6564885496vw;
    margin-left: -11.4503816794vw;
    margin-bottom: 3.8167938931vw;
    text-align: center;
  }
  .tab_content_02 .box_fee .ahamo_fee .content .capacity {
    flex-direction: column;
    margin-left: 0;
    gap: 5.0890585242vw;
    margin-bottom: 8.3969465649vw;
    white-space: unset;
  }
  .tab_content_02 .box_fee .ahamo_fee .content .number {
    font-size: 7.1246819338vw;
    padding: 4.0712468193vw 5.0890585242vw;
  }
  .tab_content_02 .box_fee .ahamo_fee .content .cost {
    font-size: 7.1246819338vw;
    margin-left: 2.5445292621vw;
    margin-top: -1.272264631vw;
    white-space: nowrap;
  }
  .tab_content_02 .box_fee .ahamo_fee .content .cost span {
    font-size: 18.8295165394vw;
    letter-spacing: -0.6870229008vw;
  }
  .tab_content_02 .box_fee .ahamo_fee .content span.tax {
    font-size: 3.5623409669vw;
    left: -2.0356234097vw;
    letter-spacing: 0;
    white-space: nowrap;
  }
  .tab_content_02 .box_fee .ahamo_fee .content .detail_fee {
    flex-direction: column;
    gap: 2.5445292621vw;
    margin-bottom: 27px;
  }
  .tab_content_02 .box_fee .ahamo_fee .content .item_02 {
    width: 100%;
  }
  .tab_content_02 .box_fee .ahamo_fee .content .item_02 .logo {
    width: 37.1501272265vw;
    margin-bottom: 4.3256997455vw;
  }
  .tab_content_02 .box_fee .ahamo_fee .content .item {
    width: 100%;
    padding: 3.5623409669vw 5.5979643766vw;
  }
  .tab_content_02 .box_fee .ahamo_fee .content .plus {
    width: 6.3613231552vw;
    height: 6.3613231552vw;
  }
  .tab_content_02 .box_fee .ahamo_fee .content .logo {
    width: 20.3562340967vw;
    margin-bottom: 10px;
  }
  .tab_content_02 .box_fee .ahamo_fee .content .num {
    font-size: 4.5801526718vw;
    padding: 2.5445292621vw;
  }
  .tab_content_02 .box_fee .ahamo_fee .content .cos {
    font-size: 4.5801526718vw;
  }
  .tab_content_02 .box_fee .ahamo_fee .content .cos span {
    font-size: 9.6692111959vw;
  }
  .tab_content_02 .box_fee .ahamo_fee .content .cos span.dot {
    font-size: 2.5445292621vw;
    transform: translateY(-1.272264631vw);
  }
  .tab_content_02 .box_fee .ahamo_fee .content .note {
    font-size: 3.0534351145vw;
    margin-left: 0;
  }
  .tab_content_02 .box_footer {
    padding: 15.2671755725vw 9.4147582697vw;
  }
  .tab_content_02 .box_footer .button_wrap {
    padding: 0;
    gap: 5.0890585242vw;
  }
  .tab_content_03 {
    padding-bottom: 17.8117048346vw;
  }
  .tab_content_03 .main_image .icon_01 {
    width: 38.4223918575vw;
    height: 35.8778625954vw;
    top: 55.7251908397vw;
    left: -8.1424936387vw;
  }
  .tab_content_03 .main_image .icon_02 {
    width: 21.6284987277vw;
    height: 31.2977099237vw;
    top: 62.8498727735vw;
    right: -2.0356234097vw;
  }
  .tab_content_03 .box_fee_wrap {
    padding: 10.1781170483vw 5.0890585242vw;
  }
  .tab_content_03 .box_fee_wrap .icon_03 {
    width: 33.0788804071vw;
    height: 27.7353689567vw;
    top: 1.0178117048vw;
    left: -5.5979643766vw;
  }
  .tab_content_03 .box_fee_wrap .icon_04 {
    width: 29.7709923664vw;
    height: 26.9720101781vw;
    top: 1.5267175573vw;
    right: -2.5445292621vw;
  }
  .tab_content_03 .box_fee_wrap .icon_05 {
    width: 29.262086514vw;
    height: 29.0076335878vw;
    bottom: -232.0610687023vw;
    left: -7.3791348601vw;
  }
  .tab_content_03 .box_fee_wrap .icon_06 {
    width: 29.7709923664vw;
    height: 29.262086514vw;
    bottom: -233.0788804071vw;
    right: -10.6870229008vw;
    z-index: 1;
  }
  .tab_content_03 .box_fee .title {
    font-size: 6.106870229vw;
    padding: 2.5445292621vw;
  }
  .tab_content_03 .box_fee .content {
    padding: 8.3969465649vw 0 0 0;
  }
  .tab_content_03 .box_fee .desc {
    font-size: 4.5801526718vw;
    text-align: left;
    margin-bottom: 8.3969465649vw;
  }
  .tab_content_03 .box_fee .heading {
    font-size: 7.6335877863vw;
    padding-bottom: 3.8167938931vw;
    margin-bottom: 8.3969465649vw;
  }
  .tab_content_03 .box_fee .heading span {
    font-size: 6.6157760814vw;
  }
  .tab_content_03 .box_fee .heading::after {
    width: 100%;
  }
  .tab_content_03 .box_fee .list {
    margin-bottom: 5.0890585242vw;
  }
  .tab_content_03 .box_fee .list .item.is-cost .cont {
    padding: 5.0890585242vw 2.5445292621vw 5.0890585242vw 2.5445292621vw;
  }
  .tab_content_03 .box_fee .list .head {
    font-size: 6.106870229vw;
    padding: 2.5445292621vw;
  }
  .tab_content_03 .box_fee .list .cont {
    padding: 5.0890585242vw 2.5445292621vw 5.0890585242vw 5.0890585242vw;
  }
  .tab_content_03 .box_fee .list .row {
    font-size: 5.5979643766vw;
    white-space: nowrap;
  }
  .tab_content_03 .box_fee .list .row:not(:first-of-type) {
    margin-top: 5.0890585242vw;
  }
  .tab_content_03 .box_fee .list .row span {
    font-size: 10.6870229008vw;
  }
  .tab_content_03 .box_fee .note {
    max-width: none;
    font-size: 3.0534351145vw;
  }
  .tab_content_03 .box_footer {
    padding: 15.2671755725vw 5.0890585242vw;
  }
  .tab_content_03 .box_footer .button_wrap {
    padding: 0 4.3256997455vw;
    gap: 5.0890585242vw;
  }
  .tab_content_03 .box_banner {
    padding-top: 15.2671755725vw;
    position: relative;
    z-index: 2;
  }
  .tab_content_03 .box_banner .banner {
    max-width: 89.3129770992vw;
  }
  .navi_under {
    padding: 5.0890585242vw;
  }
  .navi_under.is-01 {
    padding: 5.0890585242vw 3.0534351145vw;
  }
  .navi_under.is-01 .button {
    padding: 2.0356234097vw 4.0712468193vw;
  }
  .navi_under .button_wrap {
    gap: 2.5445292621vw;
  }
  .navi_under .button_title {
    font-size: 3.3078880407vw;
    margin-bottom: 9.4147582697vw;
  }
  .navi_under .button_list {
    gap: 1.272264631vw;
  }
  .navi_under .button .note {
    font-size: 2.5445292621vw;
    padding: 5px;
    top: -8.1424936387vw;
  }
  .navi_under .button {
    width: auto;
    font-size: 3.0534351145vw;
    padding: 4.0712468193vw 4.834605598vw;
    text-align: center;
    border-radius: 10.1781170483vw;
    gap: 1.7811704835vw;
  }
}
@media print, screen and (min-width: 768px) and (max-width: 1439px) {
  .l_container {
    max-width: min(100vw, 1440px);
  }
  .c_inner {
    max-width: min(86.1111111111vw, 1240px);
  }
  .sec_content {
    padding-top: min(6.6666666667vw, 96px);
  }
  .sec_banner {
    max-width: min(69.4444444444vw, 1000px);
  }
}
/*# sourceMappingURL=../sourcemaps/css/common.css.map */
/*# sourceMappingURL=common.css.map */
