html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q::before, q::after, blockquote::before, blockquote::after {
  content: "";
  content: none;
}

a {
  color: inherit;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

img {
  vertical-align: bottom;
}

textarea, input, select, button {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  margin: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  appearance: none;
  padding: 0;
}

hr {
  height: 0;
  margin: 0;
  border: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  color: #333333;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

img, svg {
  max-width: 100%;
  height: auto;
}

b, strong {
  font-weight: bold;
}

sup {
  font-size: 75%;
  vertical-align: top;
}

sub {
  font-size: 75%;
  vertical-align: bottom;
}

.f_roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.c_img_cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.c_w_100 {
  width: 100%;
}

.l_container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.c_inner {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}

/* Scale layout */
/* js animation up */
.js-anima-up {
  transform: translateY(20px);
  opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
  will-change: transform, opacity;
}
.js-anima-up-on {
  transform: translateY(0);
  opacity: 1;
}

.btn_red {
  display: inline-grid;
  place-items: center;
  position: relative;
  background: #cc0033;
  color: #fff;
  width: 100%;
  min-height: 140px;
  font-size: 40px;
  line-height: 1.2;
  font-weight: bold;
  border-radius: 70px;
  padding: 0 60px 0 30px;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
}
.btn_red .e-ico {
  width: 1em;
  height: 1em;
  position: absolute;
  right: 40px;
  top: 51%;
  transform: translate(0, -50%);
}
.btn_red:hover {
  text-decoration: none;
}
.btn_red .e-sub {
  font-size: 20px;
  display: block;
  margin: 0 0 3px;
}
.btn_red.btn_red_ext_blu {
  background: #162F71;
}
.btn_red.btn_red_ext_bln {
  background: #B97850;
}
.btn_red.btn_red_ext_blk {
  background: #000;
}
.btn_red.is-disabled {
  filter: grayscale(1) opacity(0.5);
}

.btn_sub_redline {
  display: inline-grid;
  place-items: center;
  position: relative;
  overflow: hidden;
  border: 2px solid #cc0033;
  min-height: 60px;
  font-size: 16px;
  line-height: 1.2;
  border-radius: 30px;
  padding: 0 10px;
  box-sizing: border-box;
  vertical-align: middle;
  transition: background 0.2s, color 0.2s;
  color: #cc0033;
  font-weight: bold;
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.25s;
}
.btn_sub_redline .e-ico {
  margin-left: 5px;
}
.btn_sub_redline:hover {
  text-decoration: none;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.15);
}

.btn_sub2_red {
  display: inline-grid;
  place-items: center;
  position: relative;
  background: #cc0033;
  color: #fff;
  width: 100%;
  min-height: 50px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  border-radius: 25px;
  padding: 0 10px;
  box-sizing: border-box;
  vertical-align: middle;
}
.btn_sub2_red .e-ico {
  margin-left: 10px;
}
.btn_sub2_red:hover {
  text-decoration: none;
}

.btn_sub2_ifix {
  padding: 0 40px;
}
.btn_sub2_ifix .e-ico {
  margin-left: 0;
  position: absolute;
  right: 20px;
  top: 51%;
  transform: translate(0, -50%);
}

.btn_sub3_red {
  display: inline-grid;
  place-items: center;
  position: relative;
  background: #cc0033;
  color: #fff;
  width: 100%;
  min-height: 60px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  border-radius: 40px;
  padding: 0 10px;
  box-sizing: border-box;
  vertical-align: middle;
}
.btn_sub3_red .e-ico {
  margin-left: 15px;
}
.btn_sub3_red:hover {
  text-decoration: none;
}
.btn_sub3_red.btn_sub3_ext_bln {
  background: #B97850;
}
.btn_sub3_red.btn_sub3_ext_blk {
  background: #000;
}

.btn_sub3_ifix {
  padding: 0 40px;
}
.btn_sub3_ifix .e-ico {
  margin-left: 0;
  position: absolute;
  right: 20px;
  top: 51%;
  transform: translate(0, -50%);
}

.btn_fl {
  display: inline-grid;
  place-items: center;
  position: relative;
  background: #B97850;
  color: #fff;
  width: 100%;
  min-height: 80px;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 900;
  border-radius: 40px;
  padding: 0 10px;
  box-sizing: border-box;
  vertical-align: middle;
}
.btn_fl .e-sub {
  font-size: 20px;
  display: block;
  margin: 0 0 3px;
  text-align: center;
}
.btn_fl .e-ico {
  margin-left: 15px;
  vertical-align: 0;
}
.btn_fl:hover {
  text-decoration: none;
}
.btn_fl.btn_fl_blk {
  background: #000;
}
.btn_fl.is-disabled {
  filter: grayscale(1) opacity(0.5);
}

.font_red {
  color: #cc0033;
}

.font_em {
  color: #cc0033;
  font-weight: 900;
}

.font_w9 {
  font-weight: 900;
}

.font_num {
  font-family: "Oswald", sans-serif;
}

.ico_blank {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  max-width: 20px;
  max-height: 20px;
  vertical-align: -0.1em;
}
.ico_blank::before, .ico_blank::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s;
}
.ico_blank::after {
  opacity: 0;
}
.ico_blank.is-disabled {
  pointer-events: none;
  opacity: 0.4;
}
.ico_blank::before {
  background: url("/special_contents/kokusai/docomo_kokusai/images/ico_blank.svg") no-repeat 50% 50%;
  background-size: 100% auto;
}
.ico_blank::after {
  background: url("/special_contents/kokusai/docomo_kokusai/images/ico_blank_wht.svg") no-repeat 50% 50%;
  background-size: 100% auto;
}

.ico_blank_wht {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  max-width: 20px;
  max-height: 20px;
  vertical-align: -0.2em;
}
.ico_blank_wht::before, .ico_blank_wht::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s;
}
.ico_blank_wht::after {
  opacity: 0;
}
.ico_blank_wht.is-disabled {
  pointer-events: none;
  opacity: 0.4;
}
.ico_blank_wht::before {
  background: url("/special_contents/kokusai/docomo_kokusai/images/ico_blank_wht.svg") no-repeat 50% 50%;
  background-size: 100% auto;
}

.ico_open {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: -0.2em;
}
.ico_open::before, .ico_open::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s;
}
.ico_open::after {
  opacity: 0;
}
.ico_open.is-disabled {
  pointer-events: none;
  opacity: 0.4;
}
.ico_open::before {
  background: url("/special_contents/kokusai/docomo_kokusai/images/ico_open.svg") no-repeat 50% 50%;
  background-size: 100% auto;
}

.ico_arrow_d {
  position: relative;
  display: inline-block;
  width: 1.15em;
  height: 1.15em;
  max-width: 18px;
  max-height: 18px;
  vertical-align: -0.15em;
}
.ico_arrow_d::before, .ico_arrow_d::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s;
}
.ico_arrow_d::after {
  opacity: 0;
}
.ico_arrow_d.is-disabled {
  pointer-events: none;
  opacity: 0.4;
}
.ico_arrow_d::before {
  background: url("/special_contents/kokusai/docomo_kokusai/images/ico_arrow_d.svg") no-repeat 50% 50%;
  background-size: 100% auto;
}
.ico_arrow_d::after {
  background: url("/special_contents/kokusai/docomo_kokusai/images/ico_arrow_d_wht.svg") no-repeat 50% 50%;
  background-size: 100% auto;
}

.ico_nav_arw {
  position: relative;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  max-width: 14px;
  max-height: 18px;
  vertical-align: -0.1em;
}
.ico_nav_arw::before, .ico_nav_arw::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s;
}
.ico_nav_arw::after {
  opacity: 0;
}
.ico_nav_arw.is-disabled {
  pointer-events: none;
  opacity: 0.4;
}
.ico_nav_arw::before {
  background: url("/special_contents/kokusai/docomo_kokusai/images/ico_nav_arrow.svg") no-repeat 50% 50%;
  background-size: auto 100%;
}

.ico_nav_arw_r {
  position: relative;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  max-width: 14px;
  max-height: 18px;
  vertical-align: -0.1em;
}
.ico_nav_arw_r::before, .ico_nav_arw_r::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s;
}
.ico_nav_arw_r::after {
  opacity: 0;
}
.ico_nav_arw_r.is-disabled {
  pointer-events: none;
  opacity: 0.4;
}
.ico_nav_arw_r::before {
  background: url("/special_contents/kokusai/docomo_kokusai/images/ico_nav_arrow.svg") no-repeat 50% 50%;
  background-size: auto 100%;
  transform: rotate(-90deg);
}

.ico_nav_arw_blk {
  position: relative;
  display: inline-block;
  width: 1.15em;
  height: 1.15em;
  max-width: 18px;
  max-height: 18px;
  vertical-align: -0.15em;
}
.ico_nav_arw_blk::before, .ico_nav_arw_blk::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s;
}
.ico_nav_arw_blk::after {
  opacity: 0;
}
.ico_nav_arw_blk.is-disabled {
  pointer-events: none;
  opacity: 0.4;
}
.ico_nav_arw_blk::before {
  background: url("/special_contents/kokusai/docomo_kokusai/images/ico_nav_arw_blk.svg") no-repeat 50% 50%;
  background-size: auto 100%;
}

.ico_mg_l {
  margin-left: 5px;
}

.list_mark_h {
  display: table-cell;
  white-space: nowrap;
}

.list_mark_b {
  display: table-cell;
}

.list_mark_mg .list_mark_h {
  padding-right: 5px;
}

.link_txt {
  color: #cc0033;
  text-decoration: underline;
}
.link_txt:hover {
  text-decoration: none;
}

.link_txt_b {
  text-decoration: underline;
}
.link_txt_b:hover {
  text-decoration: none;
}

.u-nobr {
  display: inline-block;
}

.sp {
  display: none;
}
.header {
  padding: 26px 30px 25px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 20;
}

.footer {
  background: #3C3C3C;
  color: #FFFFFF;
  text-align: center;
  padding: 86px 10px 140px;
}

.footer_nav {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.footer_nav_a {
  font-size: 16px;
  line-height: 1.1;
  text-decoration: underline;
}
.footer_nav_a .e-ico {
  display: inline-block;
  width: 21px;
  height: 15px;
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='15' viewBox='0 0 21 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='3.8143' y='1' width='15.9714' height='9.8' stroke='white'/%3E%3Cpath d='M1 4.74268V13.9998H17.2' stroke='white'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
  position: relative;
  top: 5px;
}
.footer_nav_a:hover {
  text-decoration: none;
}

.footer_coryright {
  font-size: 14px;
  line-height: 1.1;
  margin: 60px 0 0;
}

.sec_content {
  background: url(/special_contents/kokusai/docomo_kokusai/images/bg.png) repeat;
  padding-top: 96px;
}

.sec_mv {
  padding-top: 103px;
}

.sec_banner {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 51px 0;
}

.tab_heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}
.tab_heading .item {
  width: 226px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.tab_heading .item.is-blue {
  border-bottom: 1px solid #2A238F;
  margin-left: 285px;
}
.tab_heading .item.is-blue .text {
  color: #2A238F;
}
.tab_heading .item.is-red {
  border-bottom: 1px solid #E70626;
  margin-right: 99px;
}
.tab_heading .item.is-red .text {
  color: #E70626;
}
.tab_heading .text {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
}
.tab_heading .text.is-small {
  font-size: 18px;
}
.tab_button {
  width: 403px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #fff;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  border-color: #000;
  border-radius: 10px 10px 0 0;
  margin-left: -1px;
  transition: all 0.3s;
}
.tab_button_wrap {
  display: flex;
  align-items: center;
}
.tab_button.active {
  border-color: transparent;
}
.tab_button.is-01 img {
  width: 228px;
}
.tab_button.is-01:hover, .tab_button.is-01.active {
  background-color: #CFEAFF;
}
.tab_button.is-02 img {
  width: 212px;
  position: relative;
  top: 5px;
}
.tab_button.is-02:hover, .tab_button.is-02.active {
  background-color: #CFEAFF;
}
.tab_button.is-03 {
  width: 413px;
  margin-left: auto;
  margin-right: 1px;
}
.tab_button.is-03 img {
  width: 236px;
}
.tab_button.is-03:hover, .tab_button.is-03.active {
  background-color: #FFDADA;
}
.tab_content {
  display: none;
}
.tab_content.active {
  display: block;
}
.tab_content .icon {
  position: absolute;
  z-index: 10;
}
.tab_content .main_image {
  margin-top: -1px;
  position: relative;
}
.tab_content .main_image_desc {
  padding: 30px 50px;
  background-color: #E2E2E2;
}
.tab_content .main_image_desc .txt {
  display: flex;
  gap: 12px;
  font-size: 12px;
  line-height: 1.82;
  color: #000000;
}
.tab_content .main_image_desc .txt_02 {
  padding-left: 38px;
}
.tab_content .img_line {
  display: flex;
}
.tab_content .img_line picture {
  display: flex;
}
.tab_content .box_fee_wrap {
  position: relative;
  background-color: #fff;
}
.tab_content .box_footer {
  background-color: #CFEAFF;
  padding: 60px 229px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.tab_content .box_footer.is-red {
  background-color: #FFDADA;
}
.tab_content .box_footer .button {
  width: 371px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1;
  color: #fff;
  border-radius: 40px;
  padding: 27px;
  transition: all 0.3s;
  position: relative;
}
.tab_content .box_footer .button_wrap {
  display: flex;
  gap: 40px;
}
.tab_content .box_footer .button_title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 47px;
}
.tab_content .box_footer .button_title.is-blue {
  color: #2A238F;
}
.tab_content .box_footer .button_title.is-red {
  color: #CC0033;
}
.tab_content .box_footer .button_note {
  width: 100%;
  margin-top: 40px;
}
.tab_content .box_footer .button_note .txt {
  font-size: 12px;
  line-height: 1.85;
  color: #000;
  display: flex;
  gap: 1px;
  text-align: left;
  margin-left: 4px;
}
.tab_content .box_footer .button:not(:first-of-type) {
  margin-top: 20px;
}
.tab_content .box_footer .button::after {
  display: inline-block;
  content: "";
  background-position: center;
  background-size: cover;
  flex-shrink: 0;
}
.tab_content .box_footer .button.is-blue {
  background-color: #2A238F;
}
.tab_content .box_footer .button.is-blue::after {
  width: 12px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='20' viewBox='0 0 12 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.98438 2.4751L9.01562 10.4751L1.98438 18.4751' stroke='white' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}
.tab_content .box_footer .button.is-blue:hover {
  background-color: #7E77E9;
}
.tab_content .box_footer .button.is-red {
  background-color: #CC0033;
}
.tab_content .box_footer .button.is-red::after {
  width: 21px;
  height: 15px;
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='15' viewBox='0 0 21 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='3.67139' y='0.75' width='15.9714' height='9.8' stroke='white'/%3E%3Cpath d='M0.857117 4.49268V13.7498H17.0571' stroke='white'/%3E%3C/svg%3E%0A");
}
.tab_content .box_footer .button.is-red:hover {
  background-color: #EA6486;
}
.tab_content .box_footer .button .note {
  position: absolute;
  left: 50%;
  top: calc(-50% + 12px);
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: 700;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  padding: 11px 9px;
  white-space: nowrap;
}
.tab_content_01 {
  padding-bottom: 107px;
}
.tab_content_01 .main_image .icon_01 {
  width: 217px;
  top: 87px;
  left: 31px;
}
.tab_content_01 .main_image .icon_02 {
  width: 196px;
  top: 131px;
  right: 17px;
}
.tab_content_01 .box_fee {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 48px;
}
.tab_content_01 .box_fee::before {
  content: "";
  width: 1px;
  height: calc(100% - 20px);
  background-color: #ccc;
  position: absolute;
  left: calc(50% + 40px);
  top: 0;
  transform: translateX(-50%);
}
.tab_content_01 .box_fee_wrap {
  padding: 82px 40px 60px;
}
.tab_content_01 .box_fee_wrap .icon_03 {
  width: 202px;
  top: 1140px;
  left: -51px;
}
.tab_content_01 .box_fee_item.is-red {
  width: 580px;
}
.tab_content_01 .box_fee_item.is-red .logo {
  width: 304px;
  margin-bottom: 49px;
}
.tab_content_01 .box_fee_item.is-red .price_list {
  margin-bottom: 49px;
}
.tab_content_01 .box_fee_item.is-gold {
  width: 500px;
}
.tab_content_01 .box_fee_item.is-gold .logo {
  width: 450px;
  margin-bottom: 47px;
}
.tab_content_01 .box_fee_item.is-gold .price_package.is-one-col.is-gold {
  margin-bottom: 0;
  margin-top: 42px;
}
.tab_content_01 .box_fee_item .logo {
  margin: 0 auto;
}
.tab_content_01 .box_fee_item .price_package {
  margin-bottom: 44px;
}
.tab_content_01 .box_fee_item .price_package.is-red .title {
  background-color: #D00F31;
  padding: 15px;
}
.tab_content_01 .box_fee_item .price_package.is-red .item {
  border-color: #D00F31;
}
.tab_content_01 .box_fee_item .price_package.is-red .capacity {
  background-color: #FFEEEE;
}
.tab_content_01 .box_fee_item .price_package.is-red .cost {
  color: #D00F31;
}
.tab_content_01 .box_fee_item .price_package.is-gold .title {
  background-color: #806500;
}
.tab_content_01 .box_fee_item .price_package.is-gold .item {
  border-color: #806500;
  min-height: 104px;
}
.tab_content_01 .box_fee_item .price_package.is-gold .cost {
  color: #806500;
  font-size: 28px;
  margin-bottom: 20px;
}
.tab_content_01 .box_fee_item .price_package .title {
  background-color: #707070;
  color: #fff;
  font-size: 24px;
  font-weight: 900;
  padding: 11px;
  text-align: center;
}
.tab_content_01 .box_fee_item .price_package .desc {
  display: block;
  font-size: 12px;
  margin-top: 4px;
}
.tab_content_01 .box_fee_item .price_package .content {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab_content_01 .box_fee_item .price_package .item {
  min-height: 120px;
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid #707070;
  box-sizing: border-box;
}
.tab_content_01 .box_fee_item .price_package .item:nth-child(2) {
  margin: 0 -1px;
}
.tab_content_01 .box_fee_item .price_package .capacity {
  width: 100%;
  background-color: #CECECE;
  text-align: center;
  font-weight: 900;
  font-size: 18px;
  padding: 4px;
}
.tab_content_01 .box_fee_item .price_package .cost {
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  margin-top: auto;
  margin-bottom: 12px;
}
.tab_content_01 .box_fee_item .price_package .cost span {
  font-size: 46px;
}
.tab_content_01 .box_fee_item .price_package .num {
  display: inline-block;
  font-size: 10px;
  line-height: 1;
  transform: translateY(-7px);
}
.tab_content_01 .box_fee_item .price_list.is-red .heading {
  color: #D00F31;
}
.tab_content_01 .box_fee_item .price_list.is-red .item {
  background-color: #FFEEEE;
}
.tab_content_01 .box_fee_item .price_list.is-red .cost {
  color: #D00F31;
}
.tab_content_01 .box_fee_item .price_list.is-gold .heading {
  color: #806500;
}
.tab_content_01 .box_fee_item .price_list.is-gold .item {
  background-color: #FAF6E6;
}
.tab_content_01 .box_fee_item .price_list.is-gold .cost {
  color: #806500;
}
.tab_content_01 .box_fee_item .price_list .heading {
  width: fit-content;
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  margin: 0 auto 20px;
  border-bottom: 1px solid currentColor;
  padding-bottom: 5px;
}
.tab_content_01 .box_fee_item .price_list .item {
  display: flex;
  align-items: center;
  padding: 16px 20px;
  position: relative;
}
.tab_content_01 .box_fee_item .price_list .item:not(:first-of-type) {
  margin-top: 2px;
}
.tab_content_01 .box_fee_item .price_list .item:last-of-type {
  padding-top: 20px;
}
.tab_content_01 .box_fee_item .price_list .title {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
  position: relative;
}
.tab_content_01 .box_fee_item .price_list .num {
  display: inline-block;
  font-size: 10px;
  position: absolute;
  top: 3px;
  right: -16px;
}
.tab_content_01 .box_fee_item .price_list .desc {
  font-size: 12px;
  white-space: nowrap;
}
.tab_content_01 .box_fee_item .price_list .cost {
  font-size: 18px;
  font-weight: 900;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.tab_content_01 .box_fee_item .price_list .cost span {
  font-size: 30px;
}
.tab_content_01 .box_fee_item .discount {
  background-color: #F3F3F3;
  margin-top: 3px;
  padding: 26px 100px 20px;
  text-align: center;
}
.tab_content_01 .box_fee_item .discount .title {
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 4px;
}
.tab_content_01 .box_fee_item .discount .desc {
  font-size: 12px;
  margin-bottom: 10px;
  white-space: nowrap;
}
.tab_content_01 .box_fee_item .discount .cost {
  font-size: 22px;
  font-weight: 900;
  color: #806500;
}
.tab_content_01 .box_fee_item .discount .cost span {
  font-size: 46px;
}
.tab_content_01 .box_fee_item .points {
  margin-top: 42px;
  text-align: center;
}
.tab_content_01 .box_fee_item .points .title {
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 10px;
}
.tab_content_01 .box_fee_item .points .title .num {
  display: inline-block;
  font-size: 10px;
  transform: translateY(-6px);
}
.tab_content_01 .box_fee_item .points .note {
  font-size: 12px;
  display: block;
  color: #333333;
}
.tab_content_01 .box_fee_item .points .note span {
  position: relative;
  font-size: 8px;
  top: -4px;
}
.tab_content_01 .box_fee_item .point .txt1 {
  font-size: 12px;
  font-weight: 900;
  line-height: 1.1;
  color: #806500;
  margin-bottom: 5px;
}
.tab_content_01 .box_fee_item .point .number {
  font-size: 18px;
  font-weight: 900;
  line-height: 1.1;
  color: #806500;
  margin-bottom: 5px;
}
.tab_content_01 .box_fee_item .point .number span {
  font-size: 46px;
}
.tab_content_01 .box_fee_item .point .number .pt {
  font-size: 18px;
}
.tab_content_01 .box_logo {
  padding: 0 10px;
  margin-bottom: 20px;
}
.tab_content_01 .box_logo .list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.tab_content_01 .box_logo .item {
  background-color: #F2F2F2;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.tab_content_01 .box_logo .item_01 {
  padding-top: 29px;
}
.tab_content_01 .box_logo .item_01 .image {
  margin-bottom: 28px;
}
.tab_content_01 .box_logo .item_01 .txt-big {
  position: relative;
  left: 3px;
}
.tab_content_01 .box_logo .item_02 {
  padding-top: 31px;
}
.tab_content_01 .box_logo .item_02 .image {
  margin-bottom: 23px;
}
.tab_content_01 .box_logo .item_02 .txt-big {
  position: relative;
  left: 1px;
}
.tab_content_01 .box_logo .item_03 {
  padding-top: 27px;
}
.tab_content_01 .box_logo .item_03 .image {
  margin-bottom: 14px;
}
.tab_content_01 .box_logo .image {
  width: fit-content;
  margin: 0 auto;
}
.tab_content_01 .box_logo .text {
  color: #000;
  font-weight: 700;
  text-align: center;
}
.tab_content_01 .box_logo .txt-small {
  font-size: 16px;
  white-space: nowrap;
}
.tab_content_01 .box_logo .txt-small .txt1,
.tab_content_01 .box_logo .txt-small .txt2 {
  font-size: 18px;
  position: relative;
}
.tab_content_01 .box_logo .txt-small .txt1 {
  right: -5px;
}
.tab_content_01 .box_logo .txt-small .txt2 {
  right: 5px;
}
.tab_content_01 .box_logo .txt-xsmall {
  font-size: 10px;
  margin-top: 3px;
}
.tab_content_01 .box_logo .txt-big {
  font-size: 24px;
  margin-top: 2px;
}
.tab_content_01 .box_logo .txt-big .num {
  font-size: 15px;
  display: inline-block;
  transform: translateY(-9px);
}
.tab_content_01 .box_logo .txt-big .chr {
  display: inline-block;
  margin-right: -5px;
}
.tab_content_01 .box_logo .txt-note {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.07em;
  text-align: left;
  margin-top: 5px;
}
.tab_content_01 .description {
  font-size: 12px;
  font-weight: 300;
  padding: 0 11px;
  letter-spacing: 0.003em;
}
.tab_content_01 .box_footer .icon_04 {
  width: 218px;
  top: 276px;
  left: -47px;
}
.tab_content_01 .box_footer .icon_05 {
  width: 279px;
  top: 240px;
  right: -64px;
}
.tab_content_02 {
  padding-bottom: 100px;
}
.tab_content_02 .main_image {
  position: relative;
}
.tab_content_02 .main_image .icon {
  position: absolute;
}
.tab_content_02 .main_image .icon_01 {
  width: 319px;
  height: 181px;
  top: 43px;
  left: -48px;
}
.tab_content_02 .main_image .icon_02 {
  width: 178px;
  height: 247px;
  top: 145px;
  right: -30px;
}
.tab_content_02 .box_fee_wrap {
  padding: 80px 120px;
}
.tab_content_02 .box_fee .basic_fee {
  position: relative;
  margin-bottom: 41px;
}
.tab_content_02 .box_fee .basic_fee .img_admin_fee {
  width: 182px;
  height: 190px;
  position: absolute;
  top: -23px;
  right: -74px;
}
.tab_content_02 .box_fee .basic_fee .title {
  font-size: 24px;
  font-weight: 900;
  background-color: #2A238F;
  color: #fff;
  text-align: center;
  padding: 10px;
}
.tab_content_02 .box_fee .basic_fee .content {
  background-color: #fff;
  border: 1px solid #2A238F;
  padding: 36px 219px 26px 219px;
}
.tab_content_02 .box_fee .basic_fee .capacity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  white-space: nowrap;
  margin-bottom: 17px;
}
.tab_content_02 .box_fee .basic_fee .number {
  font-size: 38px;
  font-weight: 900;
  color: #2A238F;
  background-color: rgba(42, 35, 143, 0.15);
  padding: 18px 31px;
}
.tab_content_02 .box_fee .basic_fee .cost {
  font-size: 32px;
  font-weight: 900;
  color: #2A238F;
  line-height: 1;
}
.tab_content_02 .box_fee .basic_fee .cost span {
  font-size: 110px;
}
.tab_content_02 .box_fee .basic_fee .note {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  text-align: center;
}
.tab_content_02 .box_fee .ahamo_fee .heading {
  text-align: center;
  margin-bottom: 66px;
}
.tab_content_02 .box_fee .ahamo_fee .heading .head {
  font-size: 42px;
  font-weight: 900;
}
.tab_content_02 .box_fee .ahamo_fee .heading .txt_blue {
  font-size: 52px;
  color: #2A238F;
}
.tab_content_02 .box_fee .ahamo_fee .heading .dot {
  display: inline-block;
  font-size: 32px;
  transform: translateY(-23px);
}
.tab_content_02 .box_fee .ahamo_fee .heading .note {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  line-height: 1.1;
  letter-spacing: 0.1em;
  text-align: center;
  margin-top: 3px;
}
.tab_content_02 .box_fee .ahamo_fee .content {
  background-color: #E8F5FF;
  padding: 21px 170px 60px 170px;
  position: relative;
}
.tab_content_02 .box_fee .ahamo_fee .content .icon {
  position: absolute;
}
.tab_content_02 .box_fee .ahamo_fee .content .icon_03 {
  width: 322px;
  height: 214px;
  top: -99px;
  left: -161px;
}
.tab_content_02 .box_fee .ahamo_fee .content .icon_04 {
  width: 234px;
  height: 198px;
  top: -44px;
  right: -59px;
}
.tab_content_02 .box_fee .ahamo_fee .content .icon_05 {
  width: 260px;
  height: 235px;
  bottom: -54px;
  left: -96px;
}
.tab_content_02 .box_fee .ahamo_fee .content .icon_06 {
  width: 300px;
  height: 233px;
  bottom: -25px;
  right: -151px;
}
.tab_content_02 .box_fee .ahamo_fee .content .title {
  width: 472px;
  margin: 0 auto 10px;
}
.tab_content_02 .box_fee .ahamo_fee .content .capacity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  white-space: nowrap;
  margin-left: 14px;
  margin-bottom: 39px;
}
.tab_content_02 .box_fee .ahamo_fee .content .number {
  font-size: 38px;
  font-weight: 900;
  color: #fff;
  background-color: #0D78C9;
  padding: 17px 20px;
}
.tab_content_02 .box_fee .ahamo_fee .content .cost {
  font-size: 42px;
  font-weight: 900;
  color: #0D78C9;
  line-height: 1;
}
.tab_content_02 .box_fee .ahamo_fee .content .cost span {
  font-size: 110px;
}
.tab_content_02 .box_fee .ahamo_fee .content span.tax {
  font-size: 20px;
  font-weight: 400;
  color: #333333;
  position: relative;
  left: -10px;
}
.tab_content_02 .box_fee .ahamo_fee .content .detail_fee {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 19px;
}
.tab_content_02 .box_fee .ahamo_fee .content .item {
  width: 291px;
  background-color: #fff;
  border: 1px solid #707070;
  padding: 10px;
}
.tab_content_02 .box_fee .ahamo_fee .content .item_01 .logo {
  margin-bottom: 10px;
}
.tab_content_02 .box_fee .ahamo_fee .content .item_02 {
  width: 271px;
}
.tab_content_02 .box_fee .ahamo_fee .content .item_02 .logo {
  margin-bottom: 20px;
}
.tab_content_02 .box_fee .ahamo_fee .content .plus {
  width: 25px;
  height: 25px;
}
.tab_content_02 .box_fee .ahamo_fee .content .plus svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tab_content_02 .box_fee .ahamo_fee .content .logo {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.tab_content_02 .box_fee .ahamo_fee .content .cap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
  margin-left: 7px;
}
.tab_content_02 .box_fee .ahamo_fee .content .num {
  font-size: 23px;
  color: #707070;
  font-weight: 800;
  background-color: rgba(112, 112, 112, 0.15);
  padding: 9px 10px;
}
.tab_content_02 .box_fee .ahamo_fee .content .cos {
  font-size: 22px;
  color: #707070;
  font-weight: 900;
}
.tab_content_02 .box_fee .ahamo_fee .content .cos span {
  font-size: 42px;
}
.tab_content_02 .box_fee .ahamo_fee .content .cos span.dot {
  display: inline-block;
  font-size: 15px;
  transform: translateY(-7px);
}
.tab_content_02 .box_fee .ahamo_fee .content .note {
  font-size: 12px;
  color: #000000;
  font-weight: 500;
  margin-left: 15px;
  line-height: 1.1;
  letter-spacing: 0.1em;
}
.tab_content_02 .box_footer {
  padding: 80px 229px;
}
.tab_content_03 {
  padding-bottom: 89px;
}
.tab_content_03 .main_image {
  position: relative;
}
.tab_content_03 .main_image .icon {
  position: absolute;
}
.tab_content_03 .main_image .icon_01 {
  width: 295px;
  height: 288px;
  top: 100px;
  left: -83px;
}
.tab_content_03 .main_image .icon_02 {
  width: 185px;
  height: 276px;
  top: 20px;
  right: -23px;
}
.tab_content_03 .box_fee_wrap {
  padding: 80px 120px;
  position: relative;
}
.tab_content_03 .box_fee_wrap .icon {
  position: absolute;
}
.tab_content_03 .box_fee_wrap .icon_03 {
  width: 184px;
  height: 153px;
  top: 222px;
  left: 19px;
}
.tab_content_03 .box_fee_wrap .icon_04 {
  width: 159px;
  height: 144px;
  top: 215px;
  right: 30px;
}
.tab_content_03 .box_fee_wrap .icon_05 {
  width: 247px;
  height: 250px;
  bottom: 98px;
  left: -68px;
}
.tab_content_03 .box_fee_wrap .icon_06 {
  width: 242px;
  height: 238px;
  bottom: 111px;
  right: -39px;
}
.tab_content_03 .box_fee .title {
  font-size: 24px;
  font-weight: 900;
  background-color: #CC0033;
  color: #fff;
  text-align: center;
  padding: 10px;
}
.tab_content_03 .box_fee .content {
  padding: 33px 100px 0 100px;
}
.tab_content_03 .box_fee .desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 33px;
}
.tab_content_03 .box_fee .heading {
  width: fit-content;
  margin: 0 auto;
  font-size: 40px;
  font-weight: 900;
  line-height: 1.53;
  color: #000000;
  text-align: center;
  border-bottom: 1px solid #000000;
  padding-bottom: 18px;
  margin-bottom: 33px;
}
.tab_content_03 .box_fee .heading span {
  display: block;
  font-size: 32px;
}
.tab_content_03 .box_fee .list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 59px;
}
.tab_content_03 .box_fee .list .item {
  flex: 1;
  box-sizing: border-box;
}
.tab_content_03 .box_fee .list .item.is-cost .head {
  border-left-color: #fff;
  margin-left: -1px;
}
.tab_content_03 .box_fee .list .item.is-cost .cont {
  background-color: #fff;
  margin-left: -1px;
  padding-right: 122px;
}
.tab_content_03 .box_fee .list .item.is-cost .row {
  color: #CC0033;
}
.tab_content_03 .box_fee .list .head {
  font-size: 24px;
  font-weight: 900;
  color: #fff;
  background-color: #CC0033;
  text-align: center;
  padding: 10px;
  border: 1px solid #CC0033;
  box-sizing: border-box;
}
.tab_content_03 .box_fee .list .cont {
  padding: 20px 150px 20px 20px;
  background-color: rgba(204, 0, 51, 0.15);
  border: 1px solid #CC0033;
  box-sizing: border-box;
}
.tab_content_03 .box_fee .list .row {
  font-size: 28px;
  font-weight: 900;
  text-align: right;
}
.tab_content_03 .box_fee .list .row:not(:first-of-type) {
  margin-top: 20px;
}
.tab_content_03 .box_fee .list .row span {
  font-size: 48px;
}
.tab_content_03 .box_fee .note {
  max-width: 478px;
  width: 100%;
  margin: 0 auto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.8;
  text-align: left;
}
.tab_content_03 .box_fee .note a {
  text-decoration: underline;
}
.tab_content_03 .box_fee .note a:hover {
  text-decoration: none;
}
.tab_content_03 .box_footer {
  background-color: #FFDADA;
  padding: 80px 213px;
}
.tab_content_03 .box_footer .button_wrap {
  gap: 60px;
}
.tab_content_03 .box_banner {
  padding-top: 80px;
}
.tab_content_03 .box_banner .banner {
  max-width: 660px;
  width: 100%;
  margin: 0 auto;
  transition: all 0.3s;
}
.tab_content_03 .box_banner .banner:hover {
  opacity: 0.8;
}

.navi_under {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.navi_under.active {
  display: flex;
}
.navi_under_wrap {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navi_under_wrap .button {
  width: 371px;
  border-radius: 40px;
  color: #fff;
  transition: all 0.3s;
}
.navi_under_wrap .buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.navi_under_wrap .button.is-blue {
  background-color: #2A238F;
}
.navi_under_wrap .button.is-blue .link::after {
  width: 12px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='20' viewBox='0 0 12 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.98438 2.4751L9.01562 10.4751L1.98438 18.4751' stroke='white' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}
.navi_under_wrap .button.is-blue:hover {
  background-color: #7E77E9;
}
.navi_under_wrap .button.is-red {
  background-color: #CC0033;
}
.navi_under_wrap .button.is-red .link::after {
  width: 21px;
  height: 15px;
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='15' viewBox='0 0 21 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='3.67139' y='0.75' width='15.9714' height='9.8' stroke='white'/%3E%3Cpath d='M0.857117 4.49268V13.7498H17.0571' stroke='white'/%3E%3C/svg%3E%0A");
}
.navi_under_wrap .button.is-red:hover {
  background-color: #EA6486;
}
.navi_under_wrap .link {
  width: 100%;
  height: 100%;
  padding: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  gap: 10px;
}
.navi_under_wrap .link::after {
  display: inline-block;
  content: "";
  background-position: center;
  background-size: cover;
  flex-shrink: 0;
}
@media screen and (max-width: 767px) {
  body {
    font-size: 3.0534351145vw;
  }
  .c_inner {
    padding: 0 5.0890585242vw;
  }
  .btn_red .e-ico {
    right: 7.6335877863vw;
  }
  .btn_red {
    font-size: 11.1959287532vw;
    padding: 0 17.8117048346vw 0 7.6335877863vw;
    min-height: 45.8015267176vw;
    border-radius: 22.9007633588vw;
  }
  .btn_red .e-sub {
    font-size: 6.106870229vw;
  }
  .btn_sub_redline {
    font-size: 7.1246819338vw;
    min-height: 30.534351145vw;
    border-radius: 15.2671755725vw;
  }
  .btn_sub2_red {
    font-size: 6.106870229vw;
  }
  .btn_sub3_red {
    font-size: 7.1246819338vw;
  }
  .btn_sub3_ifix {
    padding: 0 35px;
  }
  .btn_fl .e-sub {
    font-size: 5.0890585242vw;
  }
  .btn_fl {
    min-height: 50px;
    font-size: 12px;
    border-radius: 25px;
  }
  .btn_fl .e-ico {
    margin-left: 5px;
    vertical-align: 0;
  }
  .ico_open {
    max-width: 40px;
    max-height: 40px;
  }
  .ico_arrow_d {
    max-width: 36px;
    max-height: 36px;
  }
  .ico_nav_arw {
    max-width: 36px;
    max-height: 36px;
  }
  .ico_nav_arw_r {
    max-width: 36px;
    max-height: 36px;
  }
  .ico_nav_arw_blk {
    max-width: 36px;
    max-height: 36px;
  }
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  br.sp,
  img.sp,
  span.sp {
    display: inline;
  }
  table.sp {
    display: table;
  }
  .footer {
    text-align: left;
    padding: 15.0127226463vw 16.0305343511vw 27.989821883vw 12.7226463104vw;
  }
  .footer_nav {
    gap: 8.3969465649vw;
    flex-direction: column;
    line-height: 1.5;
  }
  .footer_nav_a .e-ico {
    top: 0.2544529262vw;
  }
  .footer_nav_a {
    font-size: 4.0712468193vw;
    line-height: 1.625;
  }
  .footer_nav_a:last-of-type .e-ico {
    top: 0.5089058524vw;
    left: 2.0356234097vw;
  }
  .footer_coryright {
    font-size: 3.5623409669vw;
    margin-top: 13.4860050891vw;
    margin-left: 3.0534351145vw;
    white-space: nowrap;
  }
  .sec_content {
    padding-top: 15.5216284987vw;
  }
  .sec_banner {
    padding: 13.7404580153vw 5.0890585242vw;
  }
  .tab_heading {
    justify-content: space-between;
    margin-bottom: 3.8167938931vw;
  }
  .tab_heading .item.is-blue {
    margin-left: 14.5038167939vw;
  }
  .tab_heading .item.is-red {
    margin-right: 0;
  }
  .tab_heading .item {
    width: 29.0076335878vw;
    padding-bottom: 1.7811704835vw;
  }
  .tab_heading .text {
    font-size: 3.0534351145vw;
  }
  .tab_heading .text.is-small {
    font-size: 2.5445292621vw;
  }
  .tab_button.is-01 {
    padding: 0 4px;
  }
  .tab_button.is-01 img {
    width: 100%;
  }
  .tab_button.is-02 img {
    width: 100%;
    top: 0;
  }
  .tab_button.is-03 {
    width: 29.0076335878vw;
    padding: 0 5px;
  }
  .tab_button.is-03 img {
    width: 100%;
  }
  .tab_button {
    width: 29.0076335878vw;
    height: 25.4452926209vw;
  }
  .tab_content .main_image_desc {
    padding: 6.3613231552vw 5.0890585242vw;
  }
  .tab_content .main_image_desc .txt {
    gap: 3.8167938931vw;
    font-size: 3.0534351145vw;
  }
  .tab_content .main_image_desc .txt_02, .tab_content .main_image_desc .txt_03, .tab_content .main_image_desc .txt_04, .tab_content .main_image_desc .txt_05 {
    padding-left: 8.9058524173vw;
  }
  .tab_content .main_image_desc .txt_02 span {
    flex-shrink: 0;
  }
  .tab_content .box_footer {
    padding: 15.2671755725vw 5.5979643766vw 15.2671755725vw;
  }
  .tab_content .box_footer .button_wrap {
    flex-direction: column;
    padding: 0 3.8167938931vw;
    gap: 9.4147582697vw;
  }
  .tab_content .box_footer .button_title {
    font-size: 6.106870229vw;
    margin-bottom: 6.6157760814vw;
    white-space: nowrap;
  }
  .tab_content .box_footer .button_note {
    margin-top: 10.1781170483vw;
  }
  .tab_content .box_footer .button_note .txt {
    font-size: 3.0534351145vw;
    margin-left: 0;
  }
  .tab_content .box_footer .button:not(:first-of-type) {
    margin-top: 5.0890585242vw;
  }
  .tab_content .box_footer .button.is-blue::after {
    width: 2.2900763359vw;
    height: 4.0712468193vw;
  }
  .tab_content .box_footer .button.is-red::after {
    width: 4.834605598vw;
    height: 3.3078880407vw;
  }
  .tab_content .box_footer .button .note {
    font-size: 4.0712468193vw;
    padding: 2.7989821883vw 2.2900763359vw;
    top: calc(-50% + 9px);
  }
  .tab_content .box_footer .button {
    width: 71.2468193384vw;
    font-size: 4.5801526718vw;
    padding: 7.6335877863vw 5.0890585242vw;
    gap: 2.5445292621vw;
  }
  .tab_content_01 {
    padding-bottom: 29.0076335878vw;
  }
  .tab_content_01 .main_image .icon_01 {
    width: 27.989821883vw;
    top: 67.1755725191vw;
    left: 0;
  }
  .tab_content_01 .main_image .icon_02 {
    width: 30.534351145vw;
    top: 61.0687022901vw;
    right: -5.0890585242vw;
  }
  .tab_content_01 .box_fee {
    flex-direction: column;
    margin-bottom: 16.0305343511vw;
  }
  .tab_content_01 .box_fee::before {
    display: none;
  }
  .tab_content_01 .box_fee_wrap {
    padding: 17.048346056vw 5.0890585242vw 17.3027989822vw;
  }
  .tab_content_01 .box_fee_wrap .icon_03 {
    width: 32.5699745547vw;
    top: 447.3282442748vw;
    left: -5.0890585242vw;
  }
  .tab_content_01 .box_fee_item.is-red {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 15.0127226463vw;
    margin-bottom: 16.0305343511vw;
  }
  .tab_content_01 .box_fee_item.is-red .logo {
    width: 50.3816793893vw;
    margin-bottom: 8.3969465649vw;
  }
  .tab_content_01 .box_fee_item.is-red .price_list {
    margin-bottom: 10.4325699746vw;
  }
  .tab_content_01 .box_fee_item.is-gold {
    width: 100%;
  }
  .tab_content_01 .box_fee_item.is-gold .logo {
    width: 73.5368956743vw;
    margin-bottom: 8.3969465649vw;
  }
  .tab_content_01 .box_fee_item.is-gold .price_package.is-one-col.is-gold {
    margin-top: 10.6870229008vw;
  }
  .tab_content_01 .box_fee_item .price_package.is-red .title {
    padding: 1.7811704835vw;
  }
  .tab_content_01 .box_fee_item .price_package.is-red {
    margin-bottom: 0;
  }
  .tab_content_01 .box_fee_item .price_package.is-gold .title {
    padding-bottom: 7.6335877863vw;
  }
  .tab_content_01 .box_fee_item .price_package.is-gold .cost {
    font-size: 7.1246819338vw;
    margin-bottom: 4.0712468193vw;
  }
  .tab_content_01 .box_fee_item .price_package {
    margin-bottom: 10.1781170483vw;
  }
  .tab_content_01 .box_fee_item .price_package .title {
    font-size: 6.106870229vw;
    padding: 2.7989821883vw;
  }
  .tab_content_01 .box_fee_item .price_package .desc {
    font-size: 3.0534351145vw;
    margin-top: 1.0178117048vw;
  }
  .tab_content_01 .box_fee_item .price_package .content {
    flex-direction: column;
  }
  .tab_content_01 .box_fee_item .price_package .item:nth-child(2) {
    margin: -1px 0;
  }
  .tab_content_01 .box_fee_item .price_package .item {
    flex: unset;
    width: 100%;
    min-height: 30.534351145vw;
  }
  .tab_content_01 .box_fee_item .price_package .capacity {
    font-size: 4.5801526718vw;
    padding: 1.0178117048vw;
  }
  .tab_content_01 .box_fee_item .price_package .cost {
    font-size: 5.5979643766vw;
    margin-bottom: 3.0534351145vw;
  }
  .tab_content_01 .box_fee_item .price_package .cost span {
    font-size: 11.7048346056vw;
  }
  .tab_content_01 .box_fee_item .price_list .heading {
    font-size: 6.106870229vw;
    margin-bottom: 5.0890585242vw;
    padding-bottom: 1.272264631vw;
  }
  .tab_content_01 .box_fee_item .price_list .item:last-of-type {
    padding-top: 3.3078880407vw;
  }
  .tab_content_01 .box_fee_item .price_list .item {
    flex-direction: column;
    align-items: flex-start;
    padding: 4.0712468193vw 5.0890585242vw;
  }
  .tab_content_01 .box_fee_item .price_list .item:nth-child(4) .cost {
    margin-top: 1.272264631vw;
  }
  .tab_content_01 .box_fee_item .price_list .title {
    font-size: 4.0712468193vw;
    margin-bottom: 1.0178117048vw;
  }
  .tab_content_01 .box_fee_item .price_list .num {
    font-size: 2.5445292621vw;
    top: 0.7633587786vw;
    right: -4.0712468193vw;
  }
  .tab_content_01 .box_fee_item .price_list .desc {
    font-size: 3.0534351145vw;
  }
  .tab_content_01 .box_fee_item .price_list .cost {
    font-size: 4.5801526718vw;
    position: static;
    transform: none;
    margin-top: 2.5445292621vw;
  }
  .tab_content_01 .box_fee_item .price_list .cost span {
    font-size: 7.6335877863vw;
  }
  .tab_content_01 .box_fee_item .discount {
    padding: 5.0890585242vw 4.3256997455vw;
  }
  .tab_content_01 .box_fee_item .discount .title {
    font-size: 4.0712468193vw;
    margin-bottom: 1.0178117048vw;
  }
  .tab_content_01 .box_fee_item .discount .desc {
    font-size: 3.0534351145vw;
    margin-bottom: 2.5445292621vw;
    text-align: left;
    display: flex;
    gap: 1px;
  }
  .tab_content_01 .box_fee_item .discount .cost {
    font-size: 5.5979643766vw;
  }
  .tab_content_01 .box_fee_item .discount .cost span {
    font-size: 11.7048346056vw;
  }
  .tab_content_01 .box_fee_item .points {
    margin-top: 9.9236641221vw;
  }
  .tab_content_01 .box_fee_item .points .title {
    font-size: 4.0712468193vw;
    margin-bottom: 2.5445292621vw;
  }
  .tab_content_01 .box_fee_item .points .title .num {
    font-size: 2.5445292621vw;
    transform: translateY(-1.5267175573vw);
  }
  .tab_content_01 .box_fee_item .points .note {
    font-size: 3.0534351145vw;
    margin-top: 1.7811704835vw;
  }
  .tab_content_01 .box_fee_item .point .txt1 {
    font-size: 3.0534351145vw;
    margin-bottom: 1.272264631vw;
  }
  .tab_content_01 .box_fee_item .point .number {
    font-size: 4.5801526718vw;
    margin-bottom: 1.272264631vw;
  }
  .tab_content_01 .box_fee_item .point .number span {
    font-size: 11.7048346056vw;
  }
  .tab_content_01 .box_fee_item .point .number .pt {
    font-size: 4.5801526718vw;
  }
  .tab_content_01 .box_logo {
    padding: 0;
    margin-bottom: 5.0890585242vw;
  }
  .tab_content_01 .box_logo .list {
    grid-template-columns: repeat(1, 1fr);
    gap: 3.8167938931vw;
  }
  .tab_content_01 .box_logo .item {
    padding: 3.0534351145vw;
    min-height: 50.8905852417vw;
    align-items: flex-start;
  }
  .tab_content_01 .box_logo .item_01 {
    min-height: 50.8905852417vw;
    padding-top: 7.3791348601vw;
  }
  .tab_content_01 .box_logo .item_01 .image {
    margin-bottom: 7.1246819338vw;
  }
  .tab_content_01 .box_logo .item_02 {
    min-height: 59.5419847328vw;
    padding-top: 7.8880407125vw;
  }
  .tab_content_01 .box_logo .item_02 .image {
    margin-bottom: 5.8524173028vw;
  }
  .tab_content_01 .box_logo .item_03 {
    min-height: 55.9796437659vw;
    padding-top: 7.1246819338vw;
  }
  .tab_content_01 .box_logo .item_03 .image {
    margin-bottom: 3.5623409669vw;
  }
  .tab_content_01 .box_logo .text {
    width: 100%;
  }
  .tab_content_01 .box_logo .txt-small {
    font-size: 4.0712468193vw;
  }
  .tab_content_01 .box_logo .txt-small .txt1,
  .tab_content_01 .box_logo .txt-small .txt2 {
    font-size: 4.5801526718vw;
  }
  .tab_content_01 .box_logo .txt-xsmall {
    font-size: 2.5445292621vw;
    margin-top: 0.7633587786vw;
  }
  .tab_content_01 .box_logo .txt-big {
    font-size: 6.106870229vw;
  }
  .tab_content_01 .box_logo .txt-big .num {
    font-size: 4.0712468193vw;
    transform: translateY(-1.7811704835vw);
  }
  .tab_content_01 .box_logo .txt-note {
    font-size: 3.0534351145vw;
    text-align: left;
    padding: 0 3.0534351145vw;
  }
  .tab_content_01 .description {
    font-size: 3.0534351145vw;
    padding: 0;
  }
  .tab_content_01 .box_footer .icon_04 {
    width: 34.6055979644vw;
    top: 145.0381679389vw;
    left: -6.106870229vw;
  }
  .tab_content_01 .box_footer .icon_05 {
    width: 37.1501272265vw;
    top: 145.0381679389vw;
    right: -3.5623409669vw;
  }
  .tab_content_01 .box_footer .button_title.is-blue {
    margin-bottom: 11.7048346056vw;
  }
  .tab_content_02 {
    padding-bottom: 29.0076335878vw;
  }
  .tab_content_02 .main_image .icon_01 {
    width: 22.1374045802vw;
    height: 26.7175572519vw;
    left: 0;
  }
  .tab_content_02 .main_image .icon_02 {
    width: 17.8117048346vw;
    height: 30.534351145vw;
    right: 0;
  }
  .tab_content_02 .box_fee_wrap {
    padding: 17.048346056vw 5.0890585242vw;
  }
  .tab_content_02 .box_fee .basic_fee .img_admin_fee {
    width: 23.155216285vw;
    height: 24.1730279898vw;
    top: -5.8524173028vw;
    right: -5.0890585242vw;
  }
  .tab_content_02 .box_fee .basic_fee .title {
    font-size: 6.106870229vw;
    padding: 2.5445292621vw;
  }
  .tab_content_02 .box_fee .basic_fee .content {
    padding: 5.0890585242vw;
  }
  .tab_content_02 .box_fee .basic_fee .capacity {
    white-space: unset;
    gap: 5.0890585242vw;
    flex-direction: column;
  }
  .tab_content_02 .box_fee .basic_fee .number {
    font-size: 4.834605598vw;
    padding: 2.5445292621vw;
  }
  .tab_content_02 .box_fee .basic_fee .cost {
    font-size: 4.0712468193vw;
  }
  .tab_content_02 .box_fee .basic_fee .cost span {
    font-size: 13.9949109415vw;
  }
  .tab_content_02 .box_fee .basic_fee .note {
    font-size: 2.0356234097vw;
  }
  .tab_content_02 .box_fee .ahamo_fee .heading {
    margin-bottom: 8.3969465649vw;
  }
  .tab_content_02 .box_fee .ahamo_fee .heading .head {
    font-size: 5.3435114504vw;
  }
  .tab_content_02 .box_fee .ahamo_fee .heading .txt_blue {
    font-size: 52px;
    font-size: 6.6157760814vw;
  }
  .tab_content_02 .box_fee .ahamo_fee .heading .dot {
    font-size: 4.0712468193vw;
    transform: translateY(-2.0356234097vw);
  }
  .tab_content_02 .box_fee .ahamo_fee .heading .note {
    font-size: 2.0356234097vw;
  }
  .tab_content_02 .box_fee .ahamo_fee .content {
    padding: 15.2671755725vw 5.0890585242vw 30.534351145vw;
  }
  .tab_content_02 .box_fee .ahamo_fee .content .icon_03 {
    width: 38.4223918575vw;
    height: 24.6819338422vw;
    top: -12.7226463104vw;
    left: -10.1781170483vw;
  }
  .tab_content_02 .box_fee .ahamo_fee .content .icon_04 {
    width: 27.2264631043vw;
    height: 22.6463104326vw;
    top: -5.5979643766vw;
    right: -10.1781170483vw;
  }
  .tab_content_02 .box_fee .ahamo_fee .content .icon_05 {
    width: 30.534351145vw;
    height: 27.4809160305vw;
    bottom: -6.8702290076vw;
    left: -10.1781170483vw;
  }
  .tab_content_02 .box_fee .ahamo_fee .content .icon_06 {
    width: 35.6234096692vw;
    height: 27.2264631043vw;
    bottom: -3.3078880407vw;
    right: -10.1781170483vw;
  }
  .tab_content_02 .box_fee .ahamo_fee .content .title {
    width: 60.0508905852vw;
  }
  .tab_content_02 .box_fee .ahamo_fee .content .capacity {
    flex-direction: column;
    margin-left: 0;
    gap: 5.0890585242vw;
    margin-bottom: 20px;
    white-space: unset;
  }
  .tab_content_02 .box_fee .ahamo_fee .content .number {
    font-size: 4.834605598vw;
    padding: 2.5445292621vw;
  }
  .tab_content_02 .box_fee .ahamo_fee .content .cost {
    font-size: 5.3435114504vw;
  }
  .tab_content_02 .box_fee .ahamo_fee .content .cost span {
    font-size: 13.9949109415vw;
  }
  .tab_content_02 .box_fee .ahamo_fee .content span.tax {
    font-size: 2.5445292621vw;
    left: -1.272264631vw;
  }
  .tab_content_02 .box_fee .ahamo_fee .content .detail_fee {
    flex-direction: column;
  }
  .tab_content_02 .box_fee .ahamo_fee .content .item_02 {
    width: 100%;
  }
  .tab_content_02 .box_fee .ahamo_fee .content .item {
    width: 100%;
  }
  .tab_content_02 .box_fee .ahamo_fee .content .num {
    font-size: 4.3256997455vw;
    padding: 2.0356234097vw;
  }
  .tab_content_02 .box_fee .ahamo_fee .content .cos {
    font-size: 4.3256997455vw;
  }
  .tab_content_02 .box_fee .ahamo_fee .content .cos span {
    font-size: 9.6692111959vw;
  }
  .tab_content_02 .box_fee .ahamo_fee .content .cos span.dot {
    font-size: 2.5445292621vw;
    transform: translateY(-1.272264631vw);
  }
  .tab_content_02 .box_fee .ahamo_fee .content .note {
    font-size: 2.2900763359vw;
    margin-left: 0;
  }
  .tab_content_03 {
    padding-bottom: 29.0076335878vw;
  }
  .tab_content_03 .main_image .icon_01 {
    width: 34.8600508906vw;
    height: 34.096692112vw;
    top: 12.7226463104vw;
    left: -5.0890585242vw;
  }
  .tab_content_03 .main_image .icon_02 {
    width: 20.8651399491vw;
    height: 32.5699745547vw;
    top: 2.5445292621vw;
    right: -5.0890585242vw;
  }
  .tab_content_03 .box_fee_wrap {
    padding: 10.1781170483vw 5.0890585242vw 30.534351145vw;
  }
  .tab_content_03 .box_fee_wrap .icon_03 {
    width: 20.8651399491vw;
    height: 14.2493638677vw;
    top: 25.4452926209vw;
    left: -5.0890585242vw;
  }
  .tab_content_03 .box_fee_wrap .icon_04 {
    width: 22.6463104326vw;
    height: 15.7760814249vw;
    top: 25.4452926209vw;
    right: -5.0890585242vw;
  }
  .tab_content_03 .box_fee_wrap .icon_05 {
    width: 28.7531806616vw;
    height: 29.262086514vw;
    bottom: 0;
    left: -5.0890585242vw;
  }
  .tab_content_03 .box_fee_wrap .icon_06 {
    width: 28.2442748092vw;
    height: 27.7353689567vw;
    bottom: 0;
    right: -5.0890585242vw;
  }
  .tab_content_03 .box_fee .title {
    font-size: 6.106870229vw;
    padding: 2.5445292621vw;
  }
  .tab_content_03 .box_fee .content {
    padding: 5.0890585242vw;
  }
  .tab_content_03 .box_fee .desc {
    font-size: 2.5445292621vw;
    margin-bottom: 4.0712468193vw;
    padding: 0 7.6335877863vw;
  }
  .tab_content_03 .box_fee .heading {
    font-size: 5.0890585242vw;
    padding-bottom: 2.2900763359vw;
    margin-bottom: 4.0712468193vw;
  }
  .tab_content_03 .box_fee .heading span {
    font-size: 4.0712468193vw;
  }
  .tab_content_03 .box_fee .list {
    flex-direction: column;
    margin-bottom: 0;
  }
  .tab_content_03 .box_fee .list .item {
    width: 100%;
  }
  .tab_content_03 .box_fee .list .item.is-cost {
    margin-top: 5.0890585242vw;
  }
  .tab_content_03 .box_fee .list .item.is-cost .head {
    margin-left: 0;
    border-left-color: #CC0033;
  }
  .tab_content_03 .box_fee .list .item.is-cost .cont {
    margin-left: 0;
    padding-right: 25.4452926209vw;
  }
  .tab_content_03 .box_fee .list .head {
    font-size: 6.106870229vw;
    padding: 2.5445292621vw;
  }
  .tab_content_03 .box_fee .list .cont {
    padding: 2.5445292621vw 25.4452926209vw 2.5445292621vw 2.5445292621vw;
  }
  .tab_content_03 .box_fee .list .row {
    font-size: 5.0890585242vw;
  }
  .tab_content_03 .box_fee .list .row:not(:first-of-type) {
    margin-top: 2.5445292621vw;
  }
  .tab_content_03 .box_fee .list .row span {
    font-size: 7.6335877863vw;
  }
  .tab_content_03 .box_fee .note {
    max-width: none;
    font-size: 2.5445292621vw;
  }
  .tab_content_03 .box_banner {
    padding-top: 10.1781170483vw;
  }
  .navi_under {
    height: 15.2671755725vw;
  }
  .navi_under_wrap {
    padding: 0 2.5445292621vw;
  }
  .navi_under_wrap .buttons {
    gap: 2.5445292621vw;
  }
  .navi_under_wrap .button.is-blue .link::after {
    width: 2.2900763359vw;
    height: 4.0712468193vw;
  }
  .navi_under_wrap .button.is-red .link::after {
    width: 4.834605598vw;
    height: 3.3078880407vw;
  }
  .navi_under_wrap .button {
    width: 50%;
  }
  .navi_under_wrap .link {
    font-size: 3.0534351145vw;
    padding: 3.8167938931vw;
    gap: 2.5445292621vw;
  }
}
@media screen and (min-width: 768px) {
  html, body {
    min-width: 1440px;
  }
}
@media screen and (max-width: 1140px) {
  .btn_red .e-ico {
    right: 1.7373175817vw;
  }
  .btn_red {
    font-size: 2.7797081306vw;
    padding: 0 3.4746351633vw 0 1.3898540653vw;
    min-height: 9.7289784573vw;
    border-radius: 4.8644892286vw;
  }
  .btn_red .e-sub {
    font-size: 1.3898540653vw;
  }
  .btn_sub_redline {
    font-size: 1.1118832523vw;
    min-height: 4.169562196vw;
    border-radius: 2.084781098vw;
  }
  .btn_sub2_red {
    font-size: 1.2508686588vw;
  }
  .btn_sub3_red {
    font-size: 1.2508686588vw;
  }
  .btn_fl .e-sub {
    font-size: 1.3898540653vw;
  }
  .btn_fl {
    font-size: 25px;
    min-height: 60px;
    border-radius: 30px;
  }
}
/*# sourceMappingURL=../sourcemaps/css/common.css.map */
/*# sourceMappingURL=common.css.map */
