@charset "UTF-8";
@use "sass:math";
@use "common/00_base/_00_index" as *;

//
// footer
//


.header {
  padding: vw-min(26) vw-min(30) vw-min(25);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 20;
  &_logo {
    width: 148px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @include mq('small') {
    padding: vw-s(26) vw-s(30) vw-s(25);
    &_logo {
      width: vw-s(148);
    }
  }
}