@charset "UTF-8";
@use "sass:math";
@use "common/00_base/_00_index" as *;

//
// ico
//


.ico_blank {
  @include ico;
  width: 1.0em;
  height: 1.0em;
  max-width: 20px;
  max-height: 20px;
  vertical-align: -0.1em;
  &::before {
    background: url("/special_contents/kokusai/docomo_kokusai/images/ico_blank.svg") no-repeat 50% 50%;
    background-size: 100% auto;
  }
  &::after {
    background: url("/special_contents/kokusai/docomo_kokusai/images/ico_blank_wht.svg") no-repeat 50% 50%;
    background-size: 100% auto;
  }
  // @include mq('small') {
  //   width: 1.0em;
  //   height: 1.0em;
  // }
}

.ico_blank_wht {
  @include ico;
  width: 1.0em;
  height: 1.0em;
  max-width: 20px;
  max-height: 20px;
  vertical-align: -0.2em;
  &::before {
    background: url("/special_contents/kokusai/docomo_kokusai/images/ico_blank_wht.svg") no-repeat 50% 50%;
    background-size: 100% auto;
  }
  // @include mq('small') {
  //   max-width: 40px;
  //   max-height: 40px;
  // }
}

.ico_open {
  @include ico;
  width: 20px;
  height: 20px;
  vertical-align: -0.2em;
  &::before {
    background: url("/special_contents/kokusai/docomo_kokusai/images/ico_open.svg") no-repeat 50% 50%;
    background-size: 100% auto;
  }
  @include mq('small') {
    max-width: 40px;
    max-height: 40px;
  }
}

.ico_arrow_d {
  @include ico;
  width: 1.15em;
  height: 1.15em;
  max-width: 18px;
  max-height: 18px;
  vertical-align: -0.15em;
  &::before {
    background: url("/special_contents/kokusai/docomo_kokusai/images/ico_arrow_d.svg") no-repeat 50% 50%;
    background-size: 100% auto;
  }
  &::after {
    background: url("/special_contents/kokusai/docomo_kokusai/images/ico_arrow_d_wht.svg") no-repeat 50% 50%;
    background-size: 100% auto;
  }
  @include mq('small') {
    max-width: 36px;
    max-height: 36px;
  }
}

.ico_nav_arw {
  @include ico;
  width: 1.2em;
  height: 1.2em;
  max-width: 14px;
  max-height: 18px;
  vertical-align: -0.1em;
  &::before {
    background: url("/special_contents/kokusai/docomo_kokusai/images/ico_nav_arrow.svg") no-repeat 50% 50%;
    background-size: auto 100%;
  }
  // &::after {
  //   background: url("/special_contents/kokusai/docomo_kokusai/images/ico_arrow_d_wht.svg") no-repeat 50% 50%;
  //   background-size: 100% auto;
  // }
  @include mq('small') {
    max-width: 36px;
    max-height: 36px;
  }
}

.ico_nav_arw_r {
  @include ico;
  width: 1.2em;
  height: 1.2em;
  max-width: 14px;
  max-height: 18px;
  vertical-align: -0.1em;
  &::before {
    background: url("/special_contents/kokusai/docomo_kokusai/images/ico_nav_arrow.svg") no-repeat 50% 50%;
    background-size: auto 100%;
    transform: rotate(-90deg);
  }
  // &::after {
  //   background: url("/special_contents/kokusai/docomo_kokusai/images/ico_arrow_d_wht.svg") no-repeat 50% 50%;
  //   background-size: 100% auto;
  // }
  @include mq('small') {
    max-width: 36px;
    max-height: 36px;
  }
}

.ico_nav_arw_blk {
  @include ico;
  width: 1.15em;
  height: 1.15em;
  max-width: 18px;
  max-height: 18px;
  vertical-align: -0.15em;
  &::before {
    background: url("/special_contents/kokusai/docomo_kokusai/images/ico_nav_arw_blk.svg") no-repeat 50% 50%;
    background-size: auto 100%;
  }
  // &::after {
  //   background: url("/special_contents/kokusai/docomo_kokusai/images/ico_arrow_d_wht.svg") no-repeat 50% 50%;
  //   background-size: 100% auto;
  // }
  @include mq('small') {
    max-width: 36px;
    max-height: 36px;
  }
}



.ico_mg_l {
  margin-left: 5px;
}
