@charset "UTF-8";
@use "sass:math";
@use "common/00_base/_00_index" as *;

//
// list
//

.list_mark {
}
.list_mark_h {
  display: table-cell;
  white-space: nowrap;
}
.list_mark_b {
  display: table-cell;
}
.list_mark_mg {
  .list_mark_h {
    padding-right: 5px;
  }
}