@charset "UTF-8";
@use "sass:math";
@use "common/00_base/_00_index" as *;

//
// hero
//



.hero {
  background: #ffa0b4;
  padding: 18px 0 0;
  @include mq('medium') {
    padding: vw-m(18) 0 0;
  }
  @include mq('small') {
    padding: vw-s(20) 0 0;
  }
}
.hero_inr {
  position: relative;
  background: #fff;
}
.hero_main {
  position: relative;
  // margin: 0 0 calc(38 / 1600 * 100vw);
  @include mq('small') {
    // margin: 0 0 vw-s(75);
  }
}

.hero_kv {
  position: relative;
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
  line-height: 1;
}


.hero_eximo_logo {
  position: absolute;
  bottom: calc(143 / 775 * 100%);
  right: calc(370 / 1440 * 100%);
  width: calc(316 / 1440 * 100%);
  @include mq('small') {
    bottom: calc(170 / 1332 * 100%);
    right: calc(380 / 750 * 100%);
    width: calc(330 / 750 * 100%);
    // height: calc(50 / 1332 * 100%);
  }
}
.hero_eximo_btn01 {
  position: absolute;
  bottom: calc(105 / 775 * 100%);
  right: calc(466 / 1440 * 100%);
  width: calc(128 / 1440 * 100%);
  // height: calc(40 / 775 * 100%);
  @include mq('small') {
    bottom: calc(130 / 1332 * 100%);
    right: calc(480 / 750 * 100%);
    width: calc(131 / 750 * 100%);
    // height: calc(50 / 1332 * 100%);
  }
}
.hero_eximo_btn02 {
  position: absolute;
  bottom: calc(36 / 775 * 100%);
  right: calc(381 / 1440 * 100%);
  width: calc(305 / 1440 * 100%);
  // height: calc(53 / 775 * 100%);
  @include mq('small') {
    bottom: calc(50 / 1332 * 100%);
    right: calc(381 / 750 * 100%);
    width: calc(328 / 750 * 100%);
    // height: calc(56 / 1332 * 100%);
  }
  &.is-disabled {
    img {
      filter: grayscale(1) opacity(0.5);
    }
  }
}
.hero_eximo_btn02_note {
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  transform: translate(-50%, 0);
  @include mq('small') {
    @include fz-s(26);
  }
}


.hero_ahamo_logo {
  position: absolute;
  bottom: calc(123 / 775 * 100%);
  right: calc(29 / 1440 * 100%);
  width: calc(333 / 1440 * 100%);

  @include mq('small') {
    bottom: calc(148 / 1332 * 100%);
    right: calc(31 / 750 * 100%);
    width: calc(347 / 750 * 100%);
  }
}

.hero_ahamo_btn01 {
  position: absolute;
  bottom: calc(105 / 775 * 100%);
  right: calc(130 / 1440 * 100%);
  width: calc(128 / 1440 * 100%);
  // height: calc(40 / 775 * 100%);
  @include mq('small') {
    bottom: calc(130 / 1332 * 100%);
    right: calc(138 / 750 * 100%);
    width: calc(131 / 750 * 100%);
    // height: calc(50 / 1332 * 100%);
  }
}
.hero_ahamo_btn02 {
  position: absolute;
  bottom: calc(36 / 775 * 100%);
  right: calc(40 / 1440 * 100%);
  width: calc(305 / 1440 * 100%);
  // height: calc(53 / 775 * 100%);
  @include mq('small') {
    bottom: calc(50 / 1332 * 100%);
    right: calc(40 / 750 * 100%);
    width: calc(328 / 750 * 100%);
    // height: calc(56 / 1332 * 100%);
  }
}

.hero_img {
  img {
    width: 100%;
  }
}

// .hero_logo_poi {
//   position: absolute;
//   top: calc(20 / 1600 * 100vw);
//   left: calc(70 / 1600 * 100vw);
//   width: calc(210 / 1600 * 100vw);
//   @include mq('small') {
//     top: vw-s(15);
//     right: vw-s(170);
//     left: auto;
//     width: vw-s(140);
//   }
// }

// .hero_logo_docomo {
//   position: absolute;
//   top: calc(25 / 1600 * 100vw);
//   right: calc(25 / 1600 * 100vw);
//   width: calc(210 / 1600 * 100vw);
//   @include mq('small') {
//     top: vw-s(30);
//     right: vw-s(30);
//     width: vw-s(220);
//   }
//   img {
//     width: 100%;
//   }
// }

// .hero_head {
//   position: absolute;
//   bottom: calc(-38 / 1600 * 100vw);
//   width: 100%;
//   @include mq('small') {
//     bottom: vw-s(-165);
//   }
// }

// .hero_title {
//   width: calc(870 / 1600 * 100vw);
//   margin: 0 auto;
//   @include mq('small') {
//     width: vw-s(780);
//   }
//   img {
//     width: 100%;
//   }
// }

// .hero_nav_wrap {
//   position: relative;
//   max-width: 1500px;
//   margin: 0 auto;

//   @include mq('small') {
//     align-items: center;
//     padding: vw-s(210) vw-s(20) vw-s(30);
//   }
// }

// .btn_movie {
//   // position: fixed;
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   right: 10px;
//   width: calc(200 / 1600 * 100vw);
//   max-width: 200px;
//   aspect-ratio: 1 / 1;
//   z-index: 1000;
//   margin: auto;
//   // filter: drop-shadow(0 5px 0 rgba(0, 0, 0, 0.15));
//   // transition: filter .25s;
//   // &:hover {
//   //   filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.15));
//   // }
//   @include mq('small') {
//     display: block;
//     aspect-ratio: auto;
//     position: static;
//     width: auto;
//     max-width: vw-s(470);
//   }
//   img {
//     width: 100%;
//   }
// }


// .hero_nav {
//   display: flex;
//   max-width: 1000px;
//   margin: 0 auto;
//   justify-content: center;
//   justify-content: space-around;
//   padding: calc(70 / 1600 * 100vw) calc(40 / 1600 * 100vw) calc(40 / 1600 * 100vw);
//   gap: calc(100 / 1600 * 100vw);
//   @include mq('medium') {
//     // padding: vw-m(50) vw-m(200) vw-m(40);
//     gap: calc(50 / 1600 * 100vw);
//   }
//   @include mq('small') {
//     align-items: center;
//     padding: 0;
//     gap: vw-s(20);
//   }
// }

// .hero_nav_cl {
//   position: relative;
//   // max-width: 400px;
//   // max-width: calc(380 / 1600 * 100vw);
//   flex: 1;
//   @include mq('medium') {
//     // width: vw-m(600);
//   }
//   @include mq('small') {
//     flex: 1;
//     width: auto;
//   }
// }

// .hero_nav_new {
//   position: absolute;
//   top: -20px;
//   left: 50%;
//   transform: translate(-50%, 0);
//   line-height: 1;
//   font-size: 0;
//   @include mq('small') {
//     top: vw-s(-26);
//     max-width: vw-s(110);
//   }
// }


// .hero_nav_logo_eximo {
//   max-width: 320px;
//   margin: 0 auto;
//   img {
//     width: 100%;
//   }
//   @include mq('medium') {
//     max-width: vw-m(320);
//   }
//   @include mq('small') {
//     max-width: vw-s(280);
//   }
// }
// .hero_nav_logo_ahamo {
//   max-width: 340px;
//   margin: 0 auto;
//   img {
//     width: 100%;
//   }
//   @include mq('medium') {
//     max-width: vw-m(340);
//   }
//   @include mq('small') {
//     max-width: vw-s(300);
//   }
// }


// .hero_nav_btn_wrap {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   gap: 5px;
//   @include mq('small') {
//     flex-direction: column;
//     align-items: normal;
//   }
// }
// .hero_nav_plan {
//   width: 150px;
//   font-size: 18px;
//   font-weight: 900;
//   white-space: nowrap;
//   padding: 0 10px 0 0;
//   img {
//     width: 100%;
//   }
//   @include mq('medium') {
//     width: vw-m(150);
//     font-size: 16px;
//   }
//   @include mq('small') {
//     width: auto;
//     // font-size: 12px;
//     @include fz-s(24);
//     padding: 0;
//     text-align: center;
//   }
// }
// .hero_nav_plan_a {
//   @include mq('small') {
//     padding: 7px 0;
//     display: block;
//   }
// }
// .hero_nav_plan_ico {
//   margin-left: 15px;

//   @include mq('medium') {
//     margin-left: 10px;
//   }
//   @include mq('small') {
//     margin-left: 5px;
//   }
// }

// .hero_nav_appli {
//   // flex: 1;
//   width: 270px;
//   @include mq('medium') {
//     width: vw-m(270);
//   }
//   @include mq('small') {
//     width: auto;
//   }
// }
// .hero_nav_appli_a {
// }

// .hero_nav_cs {
//   max-width: 200px;
//   margin: 0 auto;
//   line-height: 0;
//   img {
//     width: 100%;
//   }
//   @include mq('medium') {
//     max-width: vw-m(200);
//   }
//   @include mq('small') {
//     max-width: vw-s(165);
//   }

// }