@charset "UTF-8";
@use "sass:math";
@use "common/00_base/_00_index" as *;

//
// Banner
//
.sec_banner {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 51px 0;

  @include mq('small') {
    padding: vw-s(35) vw-s(20);
  }

  @include mq('medium2') {
    max-width: vw-min(1000);
  }

  .title {
    font-size: vw-min(24);
    font-weight: 900;
    text-align: center;
    margin-bottom: vw-min(35);
    @include mq('small') {
      @include fz-s(24);
      margin-bottom: vw-s(10);
    }
  }
}