@charset "UTF-8";
@use "sass:math";
@use "common/00_base/_00_index" as *;

//
// Tabs Content
//

.tab {
  &_heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: vw-min(19);

    @include mq('small') {
      justify-content: space-between;
      margin-bottom: vw-s(15);
    }

    .item {
      &.is-blue {
        border-bottom: 1px solid #2A238F;
        margin-left: vw-min(285);
        .text {
          color: #2A238F;
        }

        @include mq('small') {
          margin-left: vw-s(57);
        }
      }
      &.is-red {
        border-bottom: 1px solid #E70626;
        margin-right: vw-min(99);

        @include mq('small') {
          margin-right: 0;
        }
        .text {
          color: #E70626;
        }
      }
      width: vw-min(226);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: vw-min(10);

      @include mq('small') {
        width: vw-s(114);
        padding-bottom: vw-s(7);
      }
    }
    .text {
      &.is-small {
        font-size: vw-min(18);
      }
      font-size: vw-min(24);
      font-weight: 700;
      line-height: 1.1;
      text-align: center;

      @include mq('small') {
        &.is-small {
          @include fz-s(10);
        }
        @include fz-s(12);
      }
    }
    
  }
  &_button {
    &_wrap {
      display: flex;
      align-items: center;
    }
    &.active {
      border-color: transparent;
    }
    &.is-01 {
      @include mq('small') {
        padding: 0 4px;
      }
      img {
        width: vw-min(228);

        @include mq('small') {
          width: 100%;
        }
      }
      &:hover,
      &.active {
        background-color: #CFEAFF;
      }
    }
    &.is-02 {
      img {
        width: vw-min(212);
        position: relative;
        top: vw-min(5);

        @include mq('small') {
          width: 100%;
          top: 0;
        }
      }
      &:hover,
      &.active {
        background-color: #CFEAFF;
      }
    }
    &.is-03 {
      width: vw-min(413);

      @include mq('small') {
        width: vw-s(114);
        padding: 0 5px;
      }
      img {
        width: vw-min(236);

        @include mq('small') {
          width: 100%;
        }
      }
      &:hover,
      &.active {
        background-color: #FFDADA;
      }
      margin-left: auto;
      margin-right: 1px;
    }
    width: vw-min(403);
    height: vw-min(130);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #fff;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-color: #000;
    border-radius: 10px 10px 0 0;
    transition: all 0.3s;

    @include mq('small') {
      width: vw-s(114);
      height: vw-s(100);
    }
  }
  &_content {
    &.active {
      display: block;
    }
    display: none;
    .icon {
      position: absolute;
      z-index: 10;
    }
    .main_image {
      margin-top: -1px;
      position: relative;
      &_desc {
        padding: vw-min(30) vw-min(50);
        background-color: #E2E2E2;

        @include mq('small') {
          padding: vw-s(25) vw-s(20);
        }

        .txt {
          display: flex;
          gap: vw-min(12);
          font-size: vw-min(12);
          line-height: 1.82;
          color: #000000;
          &_sub {
            display: flex;
            &.is-no-flex {
              display: block;
            }
          }
          &_02 {
            padding-left: vw-min(41);
          }
          &_03,
          &_04,
          &_05 {
            gap: vw-min(22);
          }

          @include mq('small') {
            gap: vw-s(15);
            @include fz-s(12);
            &_02,
            &_03,
            &_04,
            &_05 {
              padding-left: vw-s(45);
            }
            &_02 {
              span {
                flex-shrink: 0;
              }
            }
            &_03,
            &_04,
            &_05 {
              gap: vw-s(22);
            }
          }
        }
      }
    }
    .img_line {
      display: flex;
      picture {
        display: flex;
      }
    }
    .box_fee {
      &_wrap {
        position: relative;
        background-color: #fff;
      }
    }
    .box_footer {
      &.is-red {
        background-color: #FFDADA;
      }
      background-color: #CFEAFF;
      padding: vw-min(60) vw-min(229);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      @include mq('small') {
        padding: vw-s(60) vw-s(22) vw-s(60);
      }
      .button {
        &_wrap {
          display: flex;
          gap: vw-min(40);

          @include mq('small') {
            flex-direction: column;
            padding: 0 vw-s(15);
            gap: vw-s(37);
          }
        }
        &_title {
          &.is-blue {
            color: #2A238F;
          }
          &.is-red {
            color: #CC0033;
          }
          font-size: vw-min(24);
          font-weight: 700;
          line-height: 1.6;
          text-align: center;
          margin-bottom: vw-min(47);

          @include mq('small') {
            @include fz-s(24);
            margin-bottom: vw-s(26);
            white-space: nowrap;
          }
        }
        &_note {
          width: 100%;
          margin-top: vw-min(40);
          .txt {
            font-size: vw-min(12);
            line-height: 1.85;
            color: #000;
            display: flex;
            gap: 1px;
            text-align: left;
            margin-left: vw-min(4);
          }

          @include mq('small') {
            margin-top: vw-s(40);
            .txt {
              @include fz-s(12);
              margin-left: 0;
            }
          }
        }
        &:not(:first-of-type) {
          margin-top: vw-min(20);

          @include mq('small') {
            margin-top: vw-s(20);
          }
        }
      }
    }

    // tab_content_01
    &_01 {
      padding-bottom: vw-min(107);

      @include mq('small') {
        padding-bottom: vw-s(114);
      }

      .main_image {
        .icon_01 {
          width: vw-min(217);
          top: vw-min(87);
          left: vw-min(31);

          @include mq('small') {
            width: vw-s(110);
            top: vw-s(264);
            left: 0;
          }
        }
        .icon_02 {
          width: vw-min(196);
          top: vw-min(131);
          right: vw-min(17);

          @include mq('small') {
            width: vw-s(120);
            top: vw-s(240);
            right: vw-s(-20);
          }
        }
        .txt {
          .link {
            text-decoration: underline;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
      .box_fee {
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-bottom: vw-min(48);
        &::before {
          content: '';
          width: 1px;
          height: calc(100% - vw-min(20));
          background-color: #ccc;
          position: absolute;
          left: calc(50% + vw-min(40));
          top: 0;
          transform: translateX(-50%);
        }

        @include mq('small') {
          flex-direction: column;
          margin-bottom: vw-s(63);
          &::before {
            display: none;
          }
        }

        &_wrap {
          padding:vw-min(82) vw-min(40) vw-min(60);
          .icon_03 {
            width: vw-min(202);
            top: vw-min(1140);
            left: vw-min(-51);
          }

          @include mq('small') {
            padding: vw-s(67) vw-s(20) vw-s(68);
            .icon_03 {
              width: vw-s(128);
              top: vw-s(1758);
              left: vw-s(-20);
            }
          }
        }
        &_item {
          &.is-red {
            width: vw-min(580);
            @include mq('small') {
              width: 100%;
              border-bottom: 1px solid rgba(0, 0, 0, .2);
              padding-bottom: vw-s(59);
              margin-bottom: vw-s(63);
            }

            .logo {
              width: vw-min(304);
              margin-bottom: vw-min(49);

              @include mq('small') {
                width: vw-s(198);
                margin-bottom: vw-s(33);
              }
            }
            .price_list {
              margin-bottom: vw-min(49);

              @include mq('small') {
                margin-bottom: vw-s(41);
              }
            }
          }
          &.is-gold {
            width: vw-min(500);

            @include mq('small') {
              width: 100%;
            }

            .logo {
              width: vw-min(450);
              margin-bottom: vw-min(47);
              @include mq('small') {
                width: vw-s(289);
                margin-bottom: vw-s(33);
              }
            }
            .price_package.is-one-col.is-gold {
              margin-top: vw-min(42);
              margin-bottom: 0;
              @include mq('small') {
                margin-top: vw-s(42);
              }
            }
          }
          .logo {
            margin: 0 auto;
          }
          .price_package {
            &.is-red {
              margin-bottom: 0;
              .title {
                background-color: #D00F31;
                padding: vw-min(15);

                @include mq('small') {
                  padding: vw-s(7);
                }
              }
              .item {
                border-color: #D00F31;
              }
              .capacity {
                background-color: #FFEEEE;
              }
              .cost {
                color: #D00F31;
              }
            }
            &.is-gold {
              .title {
                background-color: #806500;

                @include mq('small') {
                  padding-bottom: vw-s(30);
                }
              }
              .item {
                border-color: #806500;
                min-height: vw-min(111);
              }
              .cost {
                color: #806500;
                font-size: vw-min(28);
                margin-bottom: vw-min(20);

                @include mq('small') {
                  @include fz-s(28);
                  margin-bottom: vw-s(16);
                }
              }
            }

            margin-bottom: vw-min(44);

            @include mq('small') {
              margin-bottom: vw-s(40);
            }

            .title {
              background-color: #707070;
              color: #fff;
              font-size: vw-min(24);
              font-weight: 900;
              padding: vw-min(11);
              text-align: center;

              @include mq('small') {
                @include fz-s(24);
                padding: vw-s(11);
              }
            }
            .desc {
              display: block;
              font-size: vw-min(12);
              margin-top: vw-min(4);

              @include mq('small') {
                font-size: vw-s(12);
                margin-top: vw-s(4);
              }
            }
            .content {
              background-color: #fff;
              display: flex;
              justify-content: center;
              align-items: center;

              @include mq('small') {
                flex-direction: column;
              }
            }
            .item {
              &:nth-child(2) {
                margin: 0 -1px;

                @include mq('small') {
                  margin: -1px 0;
                }
              }
              min-height: vw-min(120);
              display: flex;
              flex-direction: column;
              flex: 1;
              border: 1px solid #707070;
              box-sizing: border-box;

              @include mq('small') {
                flex: unset;
                width: 100%;
                min-height: vw-s(120);
              }
            }
            .capacity {
              width: 100%;
              background-color: #CECECE;
              text-align: center;
              font-weight: 900;
              font-size: vw-min(18);
              padding: vw-min(4);

              @include mq('small') {
                @include fz-s(18);
                padding: vw-s(4);
              }
            }
            .cost {
              font-size: vw-min(22);
              font-weight: 900;
              text-align: center;
              margin-top: auto;
              margin-bottom: vw-min(12);
              span {
                font-size: vw-min(46);
              }

              @include mq('small') {
                @include fz-s(22);
                margin-bottom: vw-s(12);
                span {
                  @include fz-s(46);
                }
              }
            }
            .num {
              display: inline-block;
              font-size: vw-min(10);
              line-height: 1;
              transform: translateY(vw-min(-7));

              @include mq('small') {
                font-size: vw-s(10);
                transform: translateY(vw-s(-5));
              }
            }
          }
          .price_desc {
            font-size: vw-min(24);
            font-weight: 700;
            margin-top: vw-min(30);
            margin-bottom: vw-min(30);
            @include mq('small') {
              font-size: vw-s(24);
              margin-top: vw-s(30);
              margin-bottom: vw-s(30);
            }
          }
          .price_list {
            &.is-red {
              .heading {
                color: #D00F31;
              }
              .item {
                background-color: #FFEEEE;
              }
              .cost {
                color: #D00F31;
              }
            }
            &.is-gold {
              .heading {
                color: #806500;
              }
              .item {
                background-color: #FAF6E6;
              }
              .cost {
                color: #806500;
              }
            }
            .heading {
              width: fit-content;
              font-size: vw-min(24);
              font-weight: 900;
              text-align: center;
              margin: 0 auto vw-min(20);
              border-bottom: 1px solid currentColor;
              padding-bottom: vw-min(5);

              @include mq('small') {
                @include fz-s(24);
                margin-bottom: vw-s(20);
                padding-bottom: vw-s(5);
              }
            }
            .item {
              &:not(:first-of-type) {
                margin-top: vw-min(2);
              }
              &:last-of-type {
                padding-top: vw-min(20);
                @include mq('small') {
                  padding-top: vw-s(13);
                }
              }
              display: flex;
              align-items: center;
              padding: vw-min(16) vw-min(20);
              position: relative;
              @include mq('small') {
                flex-direction: column;
                align-items: flex-start;
                padding: vw-s(16) vw-s(20);
                &:nth-child(4) {
                  .cost {
                    margin-top: vw-s(5);
                  }
                }
              }
            }
            .title {
              display: inline-block;
              font-size: vw-min(16);
              font-weight: 600;
              margin-bottom: vw-min(4);
              position: relative;

              @include mq('small') {
                @include fz-s(16);
                margin-bottom: vw-s(4);
              }
            }
            .num {
              display: inline-block;
              font-size: vw-min(10);
              position: absolute;
              top: vw-min(3);
              right: vw-min(-16);

              @include mq('small') {
                @include fz-s(10);
                top: vw-s(3);
                right: vw-s(-16);
              }
            }
            .desc {
              font-size: vw-min(12);
              white-space: nowrap;

              @include mq('small') {
                @include fz-s(12);
              }
            }
            .cost {
              font-size: vw-min(18);
              font-weight: 900;
              position: absolute;
              top: 50%;
              right: vw-min(20);
              transform: translateY(-50%);
              span {
                font-size: vw-min(30);
              }

              @include mq('small') {
                @include fz-s(18);
                position: static;
                transform: none;
                margin-top: vw-s(10);
                span {
                  @include fz-s(30);
                }
              }
            }
          }
          .discount {
            background-color: #F3F3F3;
            margin-top: vw-min(3);
            padding: vw-min(26) vw-min(100) vw-min(20);
            text-align: center;

            @include mq('small') {
              padding: vw-s(20) vw-s(17);
            }

            .title {
              font-size: vw-min(16);
              font-weight: 900;
              margin-bottom: vw-min(4);

              @include mq('small') {
                @include fz-s(16);
                margin-bottom: vw-s(4);
              }
            }
            .desc {
              font-size: vw-min(12);
              margin-bottom: vw-min(10);
              text-align: left;
              display: flex;
              gap: 1px;
              margin-left: vw-min(10);
              white-space: nowrap;

              @include mq('small') {
                @include fz-s(12);
                margin-bottom: vw-s(10);
                margin-left: 0;
              }
            }
            .cost {
              font-size: vw-min(22);
              font-weight: 900;
              color: #806500;
              span {
                font-size: vw-min(46);
              }

              @include mq('small') {
                @include fz-s(22);
                span {
                  @include fz-s(46);
                }
              }
            }
          }
          .point {
            &s {
              margin-top: vw-min(42);
              text-align: center;

              @include mq('small') {
                margin-top: vw-s(39);
              }

              .title {
                font-size: vw-min(16);
                font-weight: 900;
                margin-bottom: vw-min(10);
                .num {
                  display: inline-block;
                  font-size: vw-min(10);
                  transform: translateY(vw-min(-6));
                }

                @include mq('small') {
                  @include fz-s(16);
                  margin-bottom: vw-s(10);
                  .num {
                    @include fz-s(10);
                    transform: translateY(vw-s(-6));
                  }
                }
              }
              .note {
                font-size: vw-min(12);
                display: block;
                color: #333333;
                span {
                  position: relative;
                  font-size: vw-min(8);
                  top: vw-min(-4);
                }

                @include mq('small') {
                  @include fz-s(12);
                  margin-top: vw-s(7);
                }
              }
            }
            .txt1 {
              font-size: vw-min(12);
              font-weight: 900;
              line-height: 1.1;
              color: #806500;
              margin-bottom: vw-min(5);

              @include mq('small') {
                @include fz-s(12);
                margin-bottom: vw-s(5);
              }
            }
            .number {
              font-size: vw-min(18);
              font-weight: 900;
              line-height: 1.1;
              color: #806500;
              margin-bottom: vw-min(5);
              span {
                font-size: vw-min(46);
              }
              .pt {
                font-size: vw-min(18);
              }

              @include mq('small') {
                @include fz-s(18);
                margin-bottom: vw-s(5);
                span {
                  @include fz-s(46);
                }
                .pt {
                  @include fz-s(18);
                }
              }
            }
          }
        }
      }
      .box_logo {
        padding: 0 vw-min(10);
        margin-bottom: vw-min(20);

        @include mq('small') {
          padding: 0;
          margin-bottom: vw-s(20);
        }

        .list {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: vw-min(15);

          @include mq('small') {
            grid-template-columns: repeat(1, 1fr);
            gap: vw-s(15);
          }
        }
        .item {
          &_01 {
            padding-top: vw-min(29);
            .image {
              width: vw-min(36);
              margin-bottom: vw-min(28);
            }
            .txt-big {
              position: relative;
              left: 3px;
            }
          }
          &_02 {
            padding-top: vw-min(31);
            .image {
              width: vw-min(144);
              margin-bottom: vw-min(23);
            }
            .txt-big {
              position: relative;
              left: vw-min(1);
            }
          }
          &_03 {
            padding-top: vw-min(27);
            .image {
              width: vw-min(50);
              margin-bottom: vw-min(14);
            }
          }

          background-color: #F2F2F2;
          min-height: vw-min(200);
          display: flex;
          flex-direction: column;
          padding: vw-min(20);

          @include mq('small') {
            padding: vw-s(12);
            min-height: vw-s(200);
            align-items: flex-start;
            &_01 {
              min-height: vw-s(200);
              padding-top: vw-s(29);
              .image {
                width: vw-s(36);
                margin-bottom: vw-s(28);
              }
            }
            &_02 {
              min-height: vw-s(234);
              padding-top: vw-s(31);
              .image {
                width: vw-s(144);
                margin-bottom: vw-s(23);
              }
            }
            &_03 {
              min-height: vw-s(220);
              padding-top: vw-s(28);
              .image {
                width: vw-s(50);
                margin-bottom: vw-s(14);
              }
            }
          }
        }
        .image {
          width: fit-content;
          margin: 0 auto;
        }
        .text {
          color: #000;
          font-weight: 700;
          text-align: center;

          @include mq('small') {
            width: 100%;
          }
        }
        .txt-small {
          font-size: vw-min(16);
          white-space: nowrap;
          .txt1,
          .txt2 {
            font-size: vw-min(18);
            position: relative;
          }
          .txt1 {
            right: vw-min(-5);
          }
          .txt2 {
            right: vw-min(5);
          }

          @include mq('small') {
            @include fz-s(16);
            .txt1,
            .txt2 {
              @include fz-s(18);
            }
          }
        }
        .txt-xsmall {
          font-size: vw-min(10);
          margin-top: vw-min(3);

          @include mq('small') {
            @include fz-s(10);
            margin-top: vw-s(3);
          }
        }
        .txt-big {
          font-size: vw-min(24);
          margin-top: vw-min(2);
          .num {
            font-size: vw-min(15);
            display: inline-block;
            transform: translateY(vw-min(-9));
          }
          .chr {
            display: inline-block;
            margin-right: vw-min(-5);
          }

          @include mq('small') {
            @include fz-s(24);
            .num {
              @include fz-s(16);
              transform: translateY(vw-s(-7));
            }
          }
        }
        .txt-note {
          font-size: vw-min(12);
          font-weight: 400;
          letter-spacing: -0.07em;
          text-align: left;
          margin-top: vw-min(5);

          @include mq('small') {
            @include fz-s(12);
            text-align: left;
            padding: 0 vw-s(12);
          }
        }
      }
      .description {
        font-size: vw-min(12);
        font-weight: 300;
        padding: 0 vw-min(11);
        letter-spacing: 0.003em;

        @include mq('small') {
          @include fz-s(12);
          padding: 0;
        }
      }
      .box_footer {
        .icon_04 {
          width: vw-min(218);
          top: vw-min(276);
          left: vw-min(-47);

          @include mq('small') {
            width: vw-s(136);
            top: vw-s(570);
            left: vw-s(-24);
          }
        }
        .icon_05 {
          width: vw-min(279);
          top: vw-min(240);
          right: vw-min(-64);

          @include mq('small') {
            width: vw-s(146);
            top: vw-s(570);
            right: vw-s(-14);
          }
        }
        .button {
          &_title {
            &.is-blue {
              @include mq('small') {
                margin-bottom: vw-s(46);
              }
            }
          }
        }
      }
    }

    // tab_content_02
    &_02 {
      padding-bottom: vw-min(100);

      @include mq('small') {
        padding-bottom: vw-s(53);
      }

      .main_image {
        position: relative;
        .icon {
          &_01 {
            width: vw-min(319);
            height: vw-min(181);
            top: vw-min(43);
            left: vw-min(-48);

            @include mq('small') {
              width: vw-s(142);
              height: vw-s(81);
              top: vw-s(258);
              left: vw-s(-36);
            }
          }
          &_02 {
            width: vw-min(178);
            height: vw-min(247);
            top: vw-min(145);
            right: vw-min(-30);

            @include mq('small') {
              width: vw-s(110);
              height: vw-s(150);
              top: vw-s(236);
              right: vw-s(-13);
            }
          }
          position: absolute;
        }
      }
      .box_fee {
        &_wrap {
          padding: vw-min(80) vw-min(120);
          position: relative;
          .icon {
            &_03 {
              width: vw-min(322);
              height: vw-min(214);
              top: vw-min(448);
              left: vw-min(-46);

              @include mq('small') {
                width: vw-s(114);
                height: vw-s(76);
                top: vw-s(740);
                left: vw-s(-19);
              }
            }
            &_04 {
              width: vw-min(234);
              height: vw-min(198);
              top: vw-min(504);
              right: vw-min(67);

              @include mq('small') {
                width: vw-s(84);
                height: vw-s(70);
                top: vw-s(750);
                right: vw-s(-2);
              }
            }
            &_05 {
              width: vw-min(260);
              height: vw-min(235);
              bottom: vw-min(29);
              left: vw-min(19);

              @include mq('small') {
                width: vw-s(92);
                height: vw-s(84);
                bottom: vw-s(-61);
                left: vw-s(-4);
              }
            }
            &_06 {
              width: vw-min(300);
              height: vw-min(233);
              bottom: vw-min(56);
              right: vw-min(-27);

              @include mq('small') {
                width: vw-s(106);
                height: vw-s(83);
                bottom: vw-s(-60);
                right: vw-s(-14);
              }
            }
            position: absolute;
          }

          @include mq('small') {
            padding: vw-s(40) vw-s(20);
          }
        }
        .basic_fee {
          position: relative;
          margin-bottom: vw-min(41);

          @include mq('small') {
            margin-bottom: vw-s(31);
          }
          .img_admin_fee {
            width: vw-min(182);
            height: vw-min(190);
            position: absolute;
            top: vw-min(-23);
            right: vw-min(-74);

            @include mq('small') {
              width: vw-s(132);
              height: vw-s(138);
              top: vw-s(-53);
              right: vw-s(-42);
            }
          }
          .title {
            font-size: vw-min(24);
            font-weight: 900;
            background-color: #2A238F;
            color: #fff;
            text-align: center;
            padding: vw-min(10);

            @include mq('small') {
              @include fz-s(24);
              padding: vw-s(10);
            }
          }  
          .content {
            background-color: #fff;
            border: 1px solid #2A238F;
            padding: vw-min(36) vw-min(219) vw-min(26) vw-min(219);
            @include mq('small') {
              padding: vw-s(20) vw-s(26) vw-s(26);
              white-space: nowrap;
            }
          }
          .capacity {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: vw-min(40);
            white-space: nowrap;
            margin-bottom: vw-min(17);

            @include mq('small') {
              white-space: unset;
              gap: vw-s(20);
              flex-direction: column;
              margin-bottom: vw-s(7);
            }
          }
          .number {
            font-size: vw-min(38);
            font-weight: 900;
            color: #2A238F;
            background-color: rgba(42, 35, 143, 0.15);
            padding: vw-min(18) vw-min(31);

            @include mq('small') {
              @include fz-s(28);
              padding: vw-s(14) vw-s(29);
            }
          }
          .cost {
            font-size: vw-min(32);
            font-weight: 900;
            color: #2A238F;
            line-height: 1;
            span {
              font-size: vw-min(110);
            }

            @include mq('small') {
              @include fz-s(28);
              span {
                font-size: vw-s(74);
              }
            }
          }
          .note {
            font-size: vw-min(16);
            font-weight: 500;
            color: #000;
            text-align: center;

            @include mq('small') {
              @include fz-s(16);
            }
          }
        }
        .ahamo_fee {
          .heading {
            text-align: center;
            margin-bottom: vw-min(66);
            .head {
              font-size: vw-min(42);
              font-weight: 900;
            }
            .txt_blue {
              font-size: vw-min(52);
              color: #2A238F;
            }
            .dot {
              display: inline-block;
              font-size: vw-min(32);
              transform: translateY(vw-min(-23));
            }
            .note {
              font-size: vw-min(16);
              font-weight: 500;
              color: #000000;
              line-height: 1.1;
              letter-spacing: 0.1em;
              text-align: center;
              margin-top: vw-min(3);
            }

            @include mq('small') {
              margin-bottom: vw-s(46);
              .head {
                @include fz-s(32);
              }
              .txt_blue {
                @include fz-s(42);
              }
              .dot {
                @include fz-s(24);
                transform: translateY(vw-s(-13));
              }
              .note {
                @include fz-s(16);
              }
            }
          }
          .content {
            background-color: #E8F5FF;
            padding: vw-min(21) vw-min(170) vw-min(60) vw-min(170);
            position: relative;

            @include mq('small') {
              padding: vw-s(20) vw-s(17) vw-s(20);
            }
            .title {
              width: vw-min(472);
              margin: 0 auto vw-min(10);

              @include mq('small') {
                width: vw-s(372);
                margin-left: vw-s(-45);
                margin-bottom: vw-s(15);
                text-align: center;
              }
            }
            .capacity {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: vw-min(30);
              white-space: nowrap;
              margin-left: vw-min(14);
              margin-bottom: vw-min(39);

              @include mq('small') {
                flex-direction: column;
                margin-left: 0;
                gap: vw-s(20);
                margin-bottom: vw-s(33);
                white-space: unset;
              }
            }
            .number {
              font-size: vw-min(38);
              font-weight: 900;
              color: #fff;
              background-color: #0D78C9;
              padding: vw-min(17) vw-min(20);

              @include mq('small') {
                @include fz-s(28);
                padding: vw-s(16) vw-s(20);
              }
            }
            .cost {
              font-size: vw-min(42);
              font-weight: 900;
              color: #0D78C9;
              line-height: 1;
              span {
                font-size: vw-min(110);
              }

              @include mq('small') {
                @include fz-s(28);
                margin-left: vw-s(10);
                margin-top: vw-s(-5);
                white-space: nowrap;
                span {
                  @include fz-s(74);
                  letter-spacing: vw-s(-2.7);
                }
              }
            }
            span.tax {
              font-size: vw-min(20);
              font-weight: 400;
              color: #333333;
              position: relative;
              left: vw-min(-10);

              @include mq('small') {
                @include fz-s(14);
                left: vw-s(-8);
                letter-spacing: 0;
                white-space: nowrap;
              }
            }
            .detail_fee {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: vw-min(20);
              margin-bottom: vw-min(19);

              @include mq('small') {
                flex-direction: column;
                gap: vw-s(10);
                margin-bottom: 27px;
              }
            }
            .item {
              &_01 {
                .logo {
                  margin-bottom: vw-min(10);
                }
              }
              &_02 {
                width: vw-min(271);
                .logo {
                  margin-bottom: vw-min(20);
                }

                @include mq('small') {
                  width: 100%;
                  .logo {
                    width: vw-s(146);
                    margin-bottom: vw-s(17);
                  }
                }
              }
              width: vw-min(291);
              background-color: #fff;
              border: 1px solid #707070;
              padding: vw-min(10);

              @include mq('small') {
                width: 100%;
                padding: vw-s(14) vw-s(22);
              }
            }
            .plus {
              width: vw-min(25);
              height: vw-min(25);
              svg {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }

              @include mq('small') {
                width: vw-s(25);
                height: vw-s(25);
              }
            }
            .logo {
              width: fit-content;
              margin-left: auto;
              margin-right: auto;

              @include mq('small') {
                width: vw-s(80);
                margin-bottom: 10px;
              }
            }
            .cap {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: vw-min(10);
              white-space: nowrap;
              margin-left: vw-min(7);
            }
            .num {
              font-size: vw-min(23);
              color: #707070;
              font-weight: 800;
              background-color: rgba(112, 112, 112, .15);
              padding: vw-min(9) vw-min(10);

              @include mq('small') {
                @include fz-s(18);
                padding: vw-s(10);
              }
            }
            .cos {
              font-size: vw-min(22);
              color: #707070;
              font-weight: 900;
              span {
                font-size: vw-min(42);
                &.dot {
                  display: inline-block;
                  font-size: vw-min(15);
                  transform: translateY(vw-min(-7));
                }
              }

              @include mq('small') {
                @include fz-s(18);
                span {
                  @include fz-s(38);
                  &.dot {
                    @include fz-s(10);
                    transform: translateY(vw-s(-5));
                  }
                }
              }
            }
            .note {
              font-size: vw-min(12);
              color: #000000;
              font-weight: 500;
              margin-left: vw-min(15);
              line-height: 1.1;
              letter-spacing: 0.1em;
              .txt {
                display: flex;
                gap: 1px;
              }

              @include mq('small') {
                @include fz-s(12);
                margin-left: 0;
              }
            }
          }
        }
      }
      .box_footer {
        padding: vw-min(80) vw-min(229);

        @include mq('small') {
          padding: vw-s(60) vw-s(37);
          .button {
            &_wrap {
              padding: 0;
              gap: vw-s(20);
            }
          }
        }
      }
    
    }

    // tab_content_03
    &_03 {
      padding-bottom: vw-min(89);

      @include mq('small') {
        padding-bottom: vw-s(70);
      }

      .main_image {
        position: relative;

        .icon {
          position: absolute;
          &_01 {
            width: vw-min(295);
            height: vw-min(288);
            top: vw-min(100);
            left: vw-min(-83);

            @include mq('small') {
              width: vw-s(151);
              height: vw-s(141);
              top: vw-s(219);
              left: vw-s(-32);
            }
          }
          &_02 {
            width: vw-min(185);
            height: vw-min(276);
            top: vw-min(20);
            right: vw-min(-23);

            @include mq('small') {
              width: vw-s(85);
              height: vw-s(123);
              top: vw-s(247);
              right: vw-s(-8);
            }
          }
        }

        .note {
          position: absolute;
          top: vw-min(330);
          right: vw-min(282);
          font-size: vw-min(16);
          font-weight: 400;
          line-height: 1.4;
          color: #000000;
          &_link {
            color: #2D287D;
            text-decoration: underline;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
      .box_fee {
        &_wrap {
          padding: vw-min(80) vw-min(120);
          position: relative;

          @include mq('small') {
            padding: vw-s(40) vw-s(20);
          }
          .icon {
            position: absolute;
            &_03 {
              width: vw-min(184);
              height: vw-min(153);
              top: vw-min(227);
              left: vw-min(19);

              @include mq('small') {
                width: vw-s(130);
                height: vw-s(109);
                top: vw-s(4);
                left: vw-s(-22);
              }
            }
            &_04 {
              width: vw-min(159);
              height: vw-min(144);
              top: vw-min(220);
              right: vw-min(29);

              @include mq('small') {
                width: vw-s(117);
                height: vw-s(106);
                top: vw-s(6);
                right: vw-s(-10);
              }
            }
            &_05 {
              width: vw-min(247);
              height: vw-min(250);
              bottom: vw-min(98);
              left: vw-min(-68);

              @include mq('small') {
                width: vw-s(115);
                height: vw-s(114);
                bottom: vw-s(-912);
                left: vw-s(-29);
              }
            }
            &_06 {
              width: vw-min(242);
              height: vw-min(238);
              bottom: vw-min(111);
              right: vw-min(-39);

              @include mq('small') {
                width: vw-s(117);
                height: vw-s(115);
                bottom: vw-s(-916);
                right: vw-s(-42);
                z-index: 1;
              }
            }
          }
        }
        .title {
          font-size: vw-min(24);
          font-weight: 900;
          background-color: #CC0033;
          color: #fff;
          text-align: center;
          padding: vw-min(10);

          @include mq('small') {
            font-size: vw-s(24);
            padding: vw-s(10);
          }
        }
        .content {
          padding: vw-min(33) vw-min(100) 0 vw-min(100);

          @include mq('small') {
            padding: vw-s(33) 0 0 0;
          }
        }
        .desc {
          font-size: vw-min(18);
          font-weight: 400;
          line-height: 1.6;
          text-align: center;
          margin-bottom: vw-min(33);

          @include mq('small') {
            @include fz-s(18);
            text-align: left;
            margin-bottom: vw-s(33);
          }
        }
        .heading {
          width: fit-content;
          margin: 0 auto;
          font-size: vw-min(40);
          font-weight: 900;
          line-height: 1.53;
          color: #000000;
          text-align: center;
          padding-bottom: vw-min(18);
          margin-bottom: vw-min(33);
          position: relative;
          &::after {
            content: '';
            width: vw-min(365);
            height: 1px;
            background-color: #000000;
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translateX(-50%);
          }
          span {
            display: block;
            font-size: vw-min(32);
          }

          @include mq('small') {
            @include fz-s(30);
            padding-bottom: vw-s(15);
            margin-bottom: vw-s(33);
            span {
              @include fz-s(26);
            }
            &::after {
              width: 100%;
            }
          }
        }
        .list {
          display: flex;
          margin-bottom: vw-min(59);

          @include mq('small') {
            margin-bottom: vw-s(20);
          }
          .item {
            flex: 1;
            box-sizing: border-box;

            &.is-cost {
              .head {
                border-left-color: #fff;
                margin-left: -1px;
              }
              .cont {
                background-color: #fff;
                margin-left: -1px;
                padding-right: vw-min(122);

                @include mq('small') {
                  padding: vw-s(20) vw-s(10) vw-s(20) vw-s(10);
                }
              }
              .row {
                color: #CC0033;
              }
            }
          }
          .head {
            font-size: vw-min(24);
            font-weight: 900;
            color: #fff;
            background-color: #CC0033;
            text-align: center;
            padding: vw-min(10);
            border: 1px solid #CC0033;
            box-sizing: border-box;

            @include mq('small') {
              @include fz-s(24);
              padding: vw-s(10);
            }
          }
          .cont {
            padding: vw-min(20) vw-min(150) vw-min(20) vw-min(20);
            background-color: rgba(204, 0, 51, .15);
            border: 1px solid #CC0033;
            box-sizing: border-box;

            @include mq('small') {
              padding: vw-s(20) vw-s(10) vw-s(20) vw-s(20);
            }
          }
          .row {
            &:not(:first-of-type) {
              margin-top: vw-min(20);
            }
            font-size: vw-min(28);
            font-weight: 900;
            text-align: right;
            span {
              font-size: vw-min(48);
            }

            @include mq('small') {
              &:not(:first-of-type) {
                margin-top: vw-s(20);
              }
              @include fz-s(22);
              white-space: nowrap;
              span {
                @include fz-s(42);
              }
            }
          }
        }
        .note {
          max-width: vw-min(478);
          width: 100%;
          margin: 0 auto;
          font-size: vw-min(12);
          font-weight: 400;
          line-height: 1.8;
          text-align: left;
          .txt {
            display: flex;
            gap: 1px;
          }
          a {
            text-decoration: underline;
            &:hover {
              text-decoration: none;
            }
          }

          @include mq('small') {
            max-width: none;
            @include fz-s(12);
          }
        }
      }
      .box_footer {
        background-color: #FFDADA;
        padding: vw-min(80) vw-min(123);
        .button {
          &_wrap {
            gap: vw-min(60);
          }
        }

        @include mq('small') {
          padding: vw-s(60) vw-s(20);
          .button {
            &_wrap {
              padding: 0 vw-s(17);
              gap: vw-s(20);
            }
          }
        }
      }
      .box_banner {
        padding-top: vw-min(80);
        .banner {
          &:hover {
            opacity: 0.8;
          }
          max-width: vw-min(660);
          width: 100%;
          margin: 0 auto;
          transition: all 0.3s;
        }

        @include mq('small') {
          padding-top: vw-s(60);
          position: relative;
          z-index: 2;

          .banner {
            max-width: vw-s(351);
          }
        }
      }
    }
  }
}