@charset "UTF-8";
@use "sass:math";
@use "common/00_base/_00_index" as *;

//
// Tabs Content
//

.tab {
  &_heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 19px;

    @include mq('small') {
      justify-content: space-between;
      margin-bottom: vw-s(15);
    }

    .item {
      &.is-blue {
        border-bottom: 1px solid #2A238F;
        margin-left: 285px;
        .text {
          color: #2A238F;
        }

        @include mq('small') {
          margin-left: vw-s(57);
        }
      }
      &.is-red {
        border-bottom: 1px solid #E70626;
        margin-right: 99px;

        @include mq('small') {
          margin-right: 0;
        }
        .text {
          color: #E70626;
        }
      }
      width: 226px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 10px;

      @include mq('small') {
        width: vw-s(114);
        padding-bottom: vw-s(7);
      }
    }
    .text {
      &.is-small {
        font-size: 18px;
      }
      font-size: 24px;
      font-weight: 700;
      line-height: 1.1;
      text-align: center;

      @include mq('small') {
        &.is-small {
          @include fz-s(10);
        }
        @include fz-s(12);
      }
    }
    
  }
  &_button {
    &_wrap {
      display: flex;
      align-items: center;
    }
    &.active {
      border-color: transparent;
    }
    &.is-01 {
      @include mq('small') {
        padding: 0 4px;
      }
      img {
        width: 228px;

        @include mq('small') {
          width: 100%;
        }
      }
      &:hover,
      &.active {
        background-color: #CFEAFF;
      }
    }
    &.is-02 {
      img {
        width: 212px;
        position: relative;
        top: 5px;

        @include mq('small') {
          width: 100%;
          top: 0;
        }
      }
      &:hover,
      &.active {
        background-color: #CFEAFF;
      }
    }
    &.is-03 {
      width: 413px;

      @include mq('small') {
        width: vw-s(114);
        padding: 0 5px;
      }
      img {
        width: 236px;

        @include mq('small') {
          width: 100%;
        }
      }
      &:hover,
      &.active {
        background-color: #FFDADA;
      }
      margin-left: auto;
      margin-right: 1px;
    }
    width: 403px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #fff;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-color: #000;
    border-radius: 10px 10px 0 0;
    margin-left: -1px;
    transition: all 0.3s;

    @include mq('small') {
      width: vw-s(114);
      height: vw-s(100);
    }
  }
  &_content {
    &.active {
      display: block;
    }
    display: none;
    .icon {
      position: absolute;
      z-index: 10;
    }
    .main_image {
      margin-top: -1px;
      position: relative;
      &_desc {
        padding: 30px 50px;
        background-color: #E2E2E2;

        @include mq('small') {
          padding: vw-s(25) vw-s(20);
        }

        .txt {
          display: flex;
          gap: 12px;
          font-size: 12px;
          line-height: 1.82;
          color: #000000;
          &_02 {
            padding-left: 38px;
          }

          @include mq('small') {
            gap: vw-s(15);
            @include fz-s(12);
            &_02,
            &_03,
            &_04,
            &_05 {
              padding-left: vw-s(35);
            }
            &_02 {
              span {
                flex-shrink: 0;
              }
            }
          }
        }
      }
    }
    .img_line {
      display: flex;
      picture {
        display: flex;
      }
    }
    .box_fee {
      &_wrap {
        position: relative;
        background-color: #fff;
      }
    }
    .box_footer {
      &.is-red {
        background-color: #FFDADA;
      }
      background-color: #CFEAFF;
      padding: 60px 229px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      @include mq('small') {
        padding: vw-s(60) vw-s(22) vw-s(60);
      }
      .button {
        &_wrap {
          display: flex;
          gap: 40px;

          @include mq('small') {
            flex-direction: column;
            padding: 0 vw-s(15);
            gap: vw-s(37);
          }
        }
        &_title {
          &.is-blue {
            color: #2A238F;
          }
          &.is-red {
            color: #CC0033;
          }
          font-size: 24px;
          font-weight: 700;
          line-height: 1.6;
          text-align: center;
          margin-bottom: 47px;

          @include mq('small') {
            @include fz-s(24);
            margin-bottom: vw-s(26);
            white-space: nowrap;
          }
        }
        &_note {
          width: 100%;
          margin-top: 40px;
          .txt {
            font-size: 12px;
            line-height: 1.85;
            color: #000;
            display: flex;
            gap: 1px;
            text-align: left;
            margin-left: 4px;
          }

          @include mq('small') {
            margin-top: vw-s(40);
            .txt {
              @include fz-s(12);
              margin-left: 0;
            }
          }
        }
        &:not(:first-of-type) {
          margin-top: 20px;

          @include mq('small') {
            margin-top: vw-s(20);
          }
        }
        &::after {
          display: inline-block;
          content: '';
          background-position: center;
          background-size: cover;
          flex-shrink: 0;
        }
        &.is-blue {
          background-color: #2A238F;
          &::after {
            width: 12px;
            height: 20px;
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='20' viewBox='0 0 12 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.98438 2.4751L9.01562 10.4751L1.98438 18.4751' stroke='white' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E%0A");

            @include mq('small') {
              width: vw-s(9);
              height: vw-s(16);
            }
          }
          &:hover {
            background-color: #7E77E9;
          }
        }
        &.is-red {
          background-color: #CC0033;
          &::after {
            width: 21px;
            height: 15px;
            background-image: url("data:image/svg+xml,%3Csvg width='21' height='15' viewBox='0 0 21 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='3.67139' y='0.75' width='15.9714' height='9.8' stroke='white'/%3E%3Cpath d='M0.857117 4.49268V13.7498H17.0571' stroke='white'/%3E%3C/svg%3E%0A");

            @include mq('small') {
              width: vw-s(19);
              height: vw-s(13);
            }
          }
          &:hover {
            background-color: #EA6486;
          }
        }
        width: 371px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.1;
        color: #fff;
        border-radius: 40px;
        padding: 27px;
        transition: all 0.3s;
        position: relative;
        .note {
          position: absolute;
          left: 50%;
          top: calc(-50% + 12px);
          transform: translateX(-50%);
          font-size: 16px;
          font-weight: 700;
          background-color: #fff;
          color: #000;
          border: 1px solid #000;
          padding: 11px 9px;
          white-space: nowrap;

          @include mq('small') {
            @include fz-s(16);
            padding: vw-s(11) vw-s(9);
            top: calc(-50% + 9px);
          }
        }

        @include mq('small') {
          width: vw-s(280);
          @include fz-s(18);
          padding: vw-s(30) vw-s(20);
          gap: vw-s(10);
        }
      }
    }

    // tab_content_01
    &_01 {
      padding-bottom: 107px;

      @include mq('small') {
        padding-bottom: vw-s(114);
      }

      .main_image {
        .icon_01 {
          width: 217px;
          top: 87px;
          left: 31px;

          @include mq('small') {
            width: vw-s(110);
            top: vw-s(264);
            left: 0;
          }
        }
        .icon_02 {
          width: 196px;
          top: 131px;
          right: 17px;

          @include mq('small') {
            width: vw-s(120);
            top: vw-s(240);
            right: vw-s(-20);
          }
        }
      }
      .box_fee {
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-bottom: 48px;
        &::before {
          content: '';
          width: 1px;
          height: calc(100% - 20px);
          background-color: #ccc;
          position: absolute;
          left: calc(50% + 40px);
          top: 0;
          transform: translateX(-50%);
        }

        @include mq('small') {
          flex-direction: column;
          margin-bottom: vw-s(63);
          &::before {
            display: none;
          }
        }

        &_wrap {
          padding: 82px 40px 60px;
          .icon_03 {
            width: 202px;
            top: 1140px;
            left: -51px;
          }

          @include mq('small') {
            padding: vw-s(67) vw-s(20) vw-s(68);
            .icon_03 {
              width: vw-s(128);
              top: vw-s(1758);
              left: vw-s(-20);
            }
          }
        }
        &_item {
          &.is-red {
            width: 580px;
            @include mq('small') {
              width: 100%;
              border-bottom: 1px solid rgba(0, 0, 0, .2);
              padding-bottom: vw-s(59);
              margin-bottom: vw-s(63);
            }

            .logo {
              width: 304px;
              margin-bottom: 49px;

              @include mq('small') {
                width: vw-s(198);
                margin-bottom: vw-s(33);
              }
            }
            .price_list {
              margin-bottom: 49px;

              @include mq('small') {
                margin-bottom: vw-s(41);
              }
            }
          }
          &.is-gold {
            width: 500px;

            @include mq('small') {
              width: 100%;
            }

            .logo {
              width: 450px;
              margin-bottom: 47px;
              @include mq('small') {
                width: vw-s(289);
                margin-bottom: vw-s(33);
              }
            }
            .price_package.is-one-col.is-gold {
              margin-bottom: 0;
              margin-top: 42px;

              @include mq('small') {
                margin-top: vw-s(42);
              }
            }
          }
          .logo {
            margin: 0 auto;
          }
          .price_package {
            &.is-red {
              .title {
                background-color: #D00F31;
                padding: 15px;

                @include mq('small') {
                  padding: vw-s(7);
                }
              }
              .item {
                border-color: #D00F31;
              }
              .capacity {
                background-color: #FFEEEE;
              }
              .cost {
                color: #D00F31;
              }
              @include mq('small') {
                margin-bottom: 0;
              }
            }
            &.is-gold {
              .title {
                background-color: #806500;

                @include mq('small') {
                  padding-bottom: vw-s(30);
                }
              }
              .item {
                border-color: #806500;
                min-height: 104px;
              }
              .cost {
                color: #806500;
                font-size: 28px;
                margin-bottom: 20px;

                @include mq('small') {
                  @include fz-s(28);
                  margin-bottom: vw-s(16);
                }
              }
            }

            margin-bottom: 44px;
            @include mq('small') {
              margin-bottom: vw-s(40);
            }

            .title {
              background-color: #707070;
              color: #fff;
              font-size: 24px;
              font-weight: 900;
              padding: 11px;
              text-align: center;

              @include mq('small') {
                @include fz-s(24);
                padding: vw-s(11);
              }
            }
            .desc {
              display: block;
              font-size: 12px;
              margin-top: 4px;

              @include mq('small') {
                font-size: vw-s(12);
                margin-top: vw-s(4);
              }
            }
            .content {
              background-color: #fff;
              display: flex;
              justify-content: center;
              align-items: center;

              @include mq('small') {
                flex-direction: column;
              }
            }
            .item {
              &:nth-child(2) {
                margin: 0 -1px;

                @include mq('small') {
                  margin: -1px 0;
                }
              }
              min-height: 120px;
              display: flex;
              flex-direction: column;
              flex: 1;
              border: 1px solid #707070;
              box-sizing: border-box;

              @include mq('small') {
                flex: unset;
                width: 100%;
                min-height: vw-s(120);
              }
            }
            .capacity {
              width: 100%;
              background-color: #CECECE;
              text-align: center;
              font-weight: 900;
              font-size: 18px;
              padding: 4px;

              @include mq('small') {
                @include fz-s(18);
                padding: vw-s(4);
              }
            }
            .cost {
              font-size: 22px;
              font-weight: 900;
              text-align: center;
              margin-top: auto;
              margin-bottom: 12px;
              span {
                font-size: 46px;
              }

              @include mq('small') {
                @include fz-s(22);
                margin-bottom: vw-s(12);
                span {
                  @include fz-s(46);
                }
              }
            }
            .num {
              display: inline-block;
              font-size: 10px;
              line-height: 1;
              transform: translateY(-7px);
            }
          }
          .price_list {
            &.is-red {
              .heading {
                color: #D00F31;
              }
              .item {
                background-color: #FFEEEE;
              }
              .cost {
                color: #D00F31;
              }
            }
            &.is-gold {
              .heading {
                color: #806500;
              }
              .item {
                background-color: #FAF6E6;
              }
              .cost {
                color: #806500;
              }
            }
            .heading {
              width: fit-content;
              font-size: 24px;
              font-weight: 900;
              text-align: center;
              margin: 0 auto 20px;
              border-bottom: 1px solid currentColor;
              padding-bottom: 5px;

              @include mq('small') {
                @include fz-s(24);
                margin-bottom: vw-s(20);
                padding-bottom: vw-s(5);
              }
            }
            .item {
              &:not(:first-of-type) {
                margin-top: 2px;
              }
              &:last-of-type {
                padding-top: 20px;
                @include mq('small') {
                  padding-top: vw-s(13);
                }
              }
              display: flex;
              align-items: center;
              padding: 16px 20px;
              position: relative;
              @include mq('small') {
                flex-direction: column;
                align-items: flex-start;
                padding: vw-s(16) vw-s(20);
                &:nth-child(4) {
                  .cost {
                    margin-top: vw-s(5);
                  }
                }
              }
            }
            .title {
              display: inline-block;
              font-size: 16px;
              font-weight: 600;
              margin-bottom: 4px;
              position: relative;

              @include mq('small') {
                @include fz-s(16);
                margin-bottom: vw-s(4);
              }
            }
            .num {
              display: inline-block;
              font-size: 10px;
              position: absolute;
              top: 3px;
              right: -16px;

              @include mq('small') {
                @include fz-s(10);
                top: vw-s(3);
                right: vw-s(-16);
              }
            }
            .desc {
              font-size: 12px;
              white-space: nowrap;

              @include mq('small') {
                @include fz-s(12);
              }
            }
            .cost {
              font-size: 18px;
              font-weight: 900;
              position: absolute;
              top: 50%;
              right: 20px;
              transform: translateY(-50%);
              span {
                font-size: 30px;
              }

              @include mq('small') {
                @include fz-s(18);
                position: static;
                transform: none;
                margin-top: vw-s(10);
                span {
                  @include fz-s(30);
                }
              }
            }
          }
          .discount {
            background-color: #F3F3F3;
            margin-top: 3px;
            padding: 26px 100px 20px;
            text-align: center;

            @include mq('small') {
              padding: vw-s(20) vw-s(17);
            }

            .title {
              font-size: 16px;
              font-weight: 900;
              margin-bottom: 4px;

              @include mq('small') {
                @include fz-s(16);
                margin-bottom: vw-s(4);
              }
            }
            .desc {
              font-size: 12px;
              margin-bottom: 10px;
              white-space: nowrap;

              @include mq('small') {
                @include fz-s(12);
                margin-bottom: vw-s(10);
                text-align: left;
                display: flex;
                gap: 1px;
              }
            }
            .cost {
              font-size: 22px;
              font-weight: 900;
              color: #806500;
              span {
                font-size: 46px;
              }

              @include mq('small') {
                @include fz-s(22);
                span {
                  @include fz-s(46);
                }
              }
            }
          }
          .point {
            &s {
              margin-top: 42px;
              text-align: center;

              @include mq('small') {
                margin-top: vw-s(39);
              }

              .title {
                font-size: 16px;
                font-weight: 900;
                margin-bottom: 10px;
                .num {
                  display: inline-block;
                  font-size: 10px;
                  transform: translateY(-6px);
                }

                @include mq('small') {
                  @include fz-s(16);
                  margin-bottom: vw-s(10);
                  .num {
                    @include fz-s(10);
                    transform: translateY(vw-s(-6));
                  }
                }
              }
              .note {
                font-size: 12px;
                display: block;
                color: #333333;
                span {
                  position: relative;
                  font-size: 8px;
                  top: -4px;
                }

                @include mq('small') {
                  @include fz-s(12);
                  margin-top: vw-s(7);
                }
              }
            }
            .txt1 {
              font-size: 12px;
              font-weight: 900;
              line-height: 1.1;
              color: #806500;
              margin-bottom: 5px;

              @include mq('small') {
                @include fz-s(12);
                margin-bottom: vw-s(5);
              }
            }
            .number {
              font-size: 18px;
              font-weight: 900;
              line-height: 1.1;
              color: #806500;
              margin-bottom: 5px;
              span {
                font-size: 46px;
              }
              .pt {
                font-size: 18px;
              }

              @include mq('small') {
                @include fz-s(18);
                margin-bottom: vw-s(5);
                span {
                  @include fz-s(46);
                }
                .pt {
                  @include fz-s(18);
                }
              }
            }
          }
        }
      }
      .box_logo {
        padding: 0 10px;
        margin-bottom: 20px;

        @include mq('small') {
          padding: 0;
          margin-bottom: vw-s(20);
        }

        .list {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 15px;

          @include mq('small') {
            grid-template-columns: repeat(1, 1fr);
            gap: vw-s(15);
          }
        }
        .item {
          &_01 {
            padding-top: 29px;
            .image {
              margin-bottom: 28px;
            }
            .txt-big {
              position: relative;
              left: 3px;
            }
          }
          &_02 {
            padding-top: 31px;
            .image {
              margin-bottom: 23px;
            }
            .txt-big {
              position: relative;
              left: 1px;
            }
          }
          &_03 {
            padding-top: 27px;
            .image {
              margin-bottom: 14px;
            }
          }

          background-color: #F2F2F2;
          min-height: 200px;
          display: flex;
          flex-direction: column;
          padding: 20px;

          @include mq('small') {
            padding: vw-s(12);
            min-height: vw-s(200);
            align-items: flex-start;
            &_01 {
              min-height: vw-s(200);
              padding-top: vw-s(29);
              .image {
                margin-bottom: vw-s(28);
              }
            }
            &_02 {
              min-height: vw-s(234);
              padding-top: vw-s(31);
              .image {
                margin-bottom: vw-s(23);
              }
            }
            &_03 {
              min-height: vw-s(220);
              padding-top: vw-s(28);
              .image {
                margin-bottom: vw-s(14);
              }
            }
          }
        }
        .image {
          width: fit-content;
          margin: 0 auto;
        }
        .text {
          color: #000;
          font-weight: 700;
          text-align: center;

          @include mq('small') {
            width: 100%;
          }
        }
        .txt-small {
          font-size: 16px;
          white-space: nowrap;
          .txt1,
          .txt2 {
            font-size: 18px;
            position: relative;
          }
          .txt1 {
            right: -5px;
          }
          .txt2 {
            right: 5px;
          }

          @include mq('small') {
            @include fz-s(16);
            .txt1,
            .txt2 {
              @include fz-s(18);
            }
          }
        }
        .txt-xsmall {
          font-size: 10px;
          margin-top: 3px;

          @include mq('small') {
            @include fz-s(10);
            margin-top: vw-s(3);
          }
        }
        .txt-big {
          font-size: 24px;
          margin-top: 2px;
          .num {
            font-size: 15px;
            display: inline-block;
            transform: translateY(-9px);
          }
          .chr {
            display: inline-block;
            margin-right: -5px;
          }

          @include mq('small') {
            @include fz-s(24);
            .num {
              @include fz-s(16);
              transform: translateY(vw-s(-7));
            }
          }
        }
        .txt-note {
          font-size: 12px;
          font-weight: 400;
          letter-spacing: -0.07em;
          text-align: left;
          margin-top: 5px;

          @include mq('small') {
            @include fz-s(12);
            text-align: left;
            padding: 0 vw-s(12);
          }
        }
      }
      .description {
        font-size: 12px;
        font-weight: 300;
        padding: 0 11px;
        letter-spacing: 0.003em;

        @include mq('small') {
          @include fz-s(12);
          padding: 0;
        }
      }
      .box_footer {
        .icon_04 {
          width: 218px;
          top: 276px;
          left: -47px;

          @include mq('small') {
            width: vw-s(136);
            top: vw-s(570);
            left: vw-s(-24);
          }
        }
        .icon_05 {
          width: 279px;
          top: 240px;
          right: -64px;

          @include mq('small') {
            width: vw-s(146);
            top: vw-s(570);
            right: vw-s(-14);
          }
        }
        .button {
          &_title {
            &.is-blue {
              @include mq('small') {
                margin-bottom: vw-s(46);
              }
            }
          }
        }
      }
    }

    // tab_content_02
    &_02 {
      padding-bottom: 100px;

      @include mq('small') {
        padding-bottom: vw-s(114);
      }

      .main_image {
        position: relative;
        .icon {
          &_01 {
            width: 319px;
            height: 181px;
            top: 43px;
            left: -48px;

            @include mq('small') {
              width: vw-s(87);
              height: vw-s(105);
              left: 0;
            }
          }
          &_02 {
            width: 178px;
            height: 247px;
            top: 145px;
            right: -30px;

            @include mq('small') {
              width: vw-s(70);
              height: vw-s(120);
              right: 0;
            }
          }
          position: absolute;
        }
      }
      .box_fee {
        &_wrap {
          padding: 80px 120px;

          @include mq('small') {
            padding: vw-s(67) vw-s(20);
          }
        }
        .basic_fee {
          position: relative;
          margin-bottom: 41px;
          .img_admin_fee {
            width: 182px;
            height: 190px;
            position: absolute;
            top: -23px;
            right: -74px;

            @include mq('small') {
              width: vw-s(91);
              height: vw-s(95);
              top: vw-s(-23);
              right: vw-s(-20);
            }
          }
          .title {
            font-size: 24px;
            font-weight: 900;
            background-color: #2A238F;
            color: #fff;
            text-align: center;
            padding: 10px;
          }  
          .content {
            background-color: #fff;
            border: 1px solid #2A238F;
            padding: 36px 219px 26px 219px;
            @include mq('small') {
              padding: vw-s(20);
            }
          }
          .capacity {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            white-space: nowrap;
            margin-bottom: 17px;

            @include mq('small') {
              white-space: unset;
              gap: vw-s(20);
              flex-direction: column;
            }
          }
          .number {
            font-size: 38px;
            font-weight: 900;
            color: #2A238F;
            background-color: rgba(42, 35, 143, 0.15);
            padding: 18px 31px;

            @include mq('small') {
              @include fz-s(19);
              padding: vw-s(10);
            }
          }
          .cost {
            font-size: 32px;
            font-weight: 900;
            color: #2A238F;
            line-height: 1;
            span {
              font-size: 110px;
            }

            @include mq('small') {
              @include fz-s(16);
              span {
                font-size: vw-s(55);
              }
            }
          }
          .note {
            font-size: 16px;
            font-weight: 500;
            color: #000;
            text-align: center;

            @include mq('small') {
              @include fz-s(8);
            }
          }
        }
        .ahamo_fee {
          .heading {
            text-align: center;
            margin-bottom: 66px;
            .head {
              font-size: 42px;
              font-weight: 900;
            }
            .txt_blue {
              font-size: 52px;
              color: #2A238F;
            }
            .dot {
              display: inline-block;
              font-size: 32px;
              transform: translateY(-23px);
            }
            .note {
              font-size: 16px;
              font-weight: 500;
              color: #000000;
              line-height: 1.1;
              letter-spacing: 0.1em;
              text-align: center;
              margin-top: 3px;
            }

            @include mq('small') {
              margin-bottom: vw-s(33);
              .head {
                @include fz-s(21);
              }
              .txt_blue {
                font-size: 52px;
                @include fz-s(26);
              }
              .dot {
                @include fz-s(16);
                transform: translateY(vw-s(-8));
              }
              .note {
                @include fz-s(8);
              }
            }
          }
          .content {
            background-color: #E8F5FF;
            padding: 21px 170px 60px 170px;
            position: relative;

            @include mq('small') {
              padding: vw-s(60) vw-s(20) vw-s(120);
            }

            .icon {
              &_03 {
                width: 322px;
                height: 214px;
                top: -99px;
                left: -161px;

                @include mq('small') {
                  width: vw-s(151);
                  height: vw-s(97);
                  top: vw-s(-50);
                  left: vw-s(-40);
                }
              }
              &_04 {
                width: 234px;
                height: 198px;
                top: -44px;
                right: -59px;

                @include mq('small') {
                  width: vw-s(107);
                  height: vw-s(89);
                  top: vw-s(-22);
                  right: vw-s(-40);
                }
              }
              &_05 {
                width: 260px;
                height: 235px;
                bottom: -54px;
                left: -96px;

                @include mq('small') {
                  width: vw-s(120);
                  height: vw-s(108);
                  bottom: vw-s(-27);
                  left: vw-s(-40);
                }
              }
              &_06 {
                width: 300px;
                height: 233px;
                bottom: -25px;
                right: -151px;

                @include mq('small') {
                  width: vw-s(140);
                  height: vw-s(107);
                  bottom: vw-s(-13);
                  right: vw-s(-40);
                }
              }
              position: absolute;
            }
            .title {
              width: 472px;
              margin: 0 auto 10px;

              @include mq('small') {
                width: vw-s(236);
              }
            }
            .capacity {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 30px;
              white-space: nowrap;
              margin-left: 14px;
              margin-bottom: 39px;

              @include mq('small') {
                flex-direction: column;
                margin-left: 0;
                gap: vw-s(20);
                margin-bottom: 20px;
                white-space: unset;
              }
            }
            .number {
              font-size: 38px;
              font-weight: 900;
              color: #fff;
              background-color: #0D78C9;
              padding: 17px 20px;

              @include mq('small') {
                @include fz-s(19);
                padding: vw-s(10);
              }
            }
            .cost {
              font-size: 42px;
              font-weight: 900;
              color: #0D78C9;
              line-height: 1;
              span {
                font-size: 110px;
              }

              @include mq('small') {
                @include fz-s(21);
                span {
                  @include fz-s(55);
                }
              }
            }
            span.tax {
              font-size: 20px;
              font-weight: 400;
              color: #333333;
              position: relative;
              left: -10px;

              @include mq('small') {
                @include fz-s(10);
                left: vw-s(-5);
              }
            }
            .detail_fee {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 20px;
              margin-bottom: 19px;

              @include mq('small') {
                flex-direction: column;
              }
            }
            .item {
              &_01 {
                .logo {
                  margin-bottom: 10px;
                }
              }
              &_02 {
                width: 271px;
                .logo {
                  margin-bottom: 20px;
                }

                @include mq('small') {
                  width: 100%;
                }
              }
              width: 291px;
              background-color: #fff;
              border: 1px solid #707070;
              padding: 10px;

              @include mq('small') {
                width: 100%;
              }
            }
            .plus {
              width: 25px;
              height: 25px;
              svg {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .logo {
              width: fit-content;
              margin-left: auto;
              margin-right: auto;
            }
            .cap {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 10px;
              white-space: nowrap;
              margin-left: 7px;
            }
            .num {
              font-size: 23px;
              color: #707070;
              font-weight: 800;
              background-color: rgba(112, 112, 112, .15);
              padding: 9px 10px;

              @include mq('small') {
                @include fz-s(17);
                padding: vw-s(8);
              }
            }
            .cos {
              font-size: 22px;
              color: #707070;
              font-weight: 900;
              span {
                font-size: 42px;
                &.dot {
                  display: inline-block;
                  font-size: 15px;
                  transform: translateY(-7px);
                }
              }

              @include mq('small') {
                @include fz-s(17);
                span {
                  @include fz-s(38);
                  &.dot {
                    @include fz-s(10);
                    transform: translateY(vw-s(-5));
                  }
                }
              }
            }
            .note {
              font-size: 12px;
              color: #000000;
              font-weight: 500;
              margin-left: 15px;
              line-height: 1.1;
              letter-spacing: 0.1em;

              @include mq('small') {
                @include fz-s(9);
                margin-left: 0;
              }
            }
          }
        }
      }
      .box_footer {
        padding: 80px 229px;
      }
    
    }

    // tab_content_03
    &_03 {
      padding-bottom: 89px;

      @include mq('small') {
        padding-bottom: vw-s(114);
      }

      .main_image {
        position: relative;
        .icon {
          position: absolute;
          &_01 {
            width: 295px;
            height: 288px;
            top: 100px;
            left: -83px;

            @include mq('small') {
              width: vw-s(137);
              height: vw-s(134);
              top: vw-s(50);
              left: vw-s(-20);
            }
          }
          &_02 {
            width: 185px;
            height: 276px;
            top: 20px;
            right: -23px;

            @include mq('small') {
              width: vw-s(82);
              height: vw-s(128);
              top: vw-s(10);
              right: vw-s(-20);
            }
          }
        }
      }
      .box_fee {
        &_wrap {
          padding: 80px 120px;
          position: relative;

          @include mq('small') {
            padding: vw-s(40) vw-s(20) vw-s(120);
          }
          .icon {
            position: absolute;
            &_03 {
              width: 184px;
              height: 153px;
              top: 222px;
              left: 19px;

              @include mq('small') {
                width: vw-s(82);
                height: vw-s(56);
                top: vw-s(100);
                left: vw-s(0);
              }
            }
            &_04 {
              width: 159px;
              height: 144px;
              top: 215px;
              right: 30px;

              @include mq('small') {
                width: vw-s(89);
                height: vw-s(62);
                top: vw-s(100);
                right: vw-s(0);
              }
            }
            &_05 {
              width: 247px;
              height: 250px;
              bottom: 98px;
              left: -68px;

              @include mq('small') {
                width: vw-s(113);
                height: vw-s(115);
                bottom: 0;
                left: vw-s(-20);
              }
            }
            &_06 {
              width: 242px;
              height: 238px;
              bottom: 111px;
              right: -39px;

              @include mq('small') {
                width: vw-s(111);
                height: vw-s(109);
                bottom: 0;
                right: vw-s(-20);
              }
            }
          }
        }
        .title {
          font-size: 24px;
          font-weight: 900;
          background-color: #CC0033;
          color: #fff;
          text-align: center;
          padding: 10px;

          @include mq('small') {
            font-size: vw-s(20);
            padding: vw-s(5);
          }
        }
        .content {
          padding: 33px 100px 0 100px;

          @include mq('small') {
            padding: vw-s(20);
          }
        }
        .desc {
          font-size: 18px;
          font-weight: 400;
          line-height: 1.6;
          text-align: center;
          margin-bottom: 33px;

          @include mq('small') {
            @include fz-s(10);
            margin-bottom: vw-s(16);
          }
        }
        .heading {
          width: fit-content;
          margin: 0 auto;
          font-size: 40px;
          font-weight: 900;
          line-height: 1.53;
          color: #000000;
          text-align: center;
          border-bottom: 1px solid #000000;
          padding-bottom: 18px;
          margin-bottom: 33px;
          span {
            display: block;
            font-size: 32px;
          }

          @include mq('small') {
            @include fz-s(20);
            padding-bottom: vw-s(9);
            margin-bottom: vw-s(16);
            span {
              @include fz-s(16);
            }
          }
        }
        .list {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 59px;

          @include mq('small') {
            flex-direction: column;
            margin-bottom: 0;
          }
          .item {
            flex: 1;
            box-sizing: border-box;

            @include mq('small') {
              width: 100%;
            }

            &.is-cost {
              @include mq('small') {
                margin-top: vw-s(20);
              }
              .head {
                border-left-color: #fff;
                margin-left: -1px;

                @include mq('small') {
                  margin-left: 0;
                  border-left-color: #CC0033;
                }
              }
              .cont {
                background-color: #fff;
                margin-left: -1px;
                padding-right: 122px;

                @include mq('small') {
                  margin-left: 0;
                  padding-right: vw-s(100);
                }
              }
              .row {
                color: #CC0033;
              }
            }
          }
          .head {
            font-size: 24px;
            font-weight: 900;
            color: #fff;
            background-color: #CC0033;
            text-align: center;
            padding: 10px;
            border: 1px solid #CC0033;
            box-sizing: border-box;

            @include mq('small') {
              @include fz-s(20);
              padding: vw-s(5);
            }
          }
          .cont {
            padding: 20px 150px 20px 20px;
            background-color: rgba(204, 0, 51, .15);
            border: 1px solid #CC0033;
            box-sizing: border-box;

            @include mq('small') {
              padding: vw-s(10) vw-s(100) vw-s(10) vw-s(10);
            }
          }
          .row {
            &:not(:first-of-type) {
              margin-top: 20px;
            }
            font-size: 28px;
            font-weight: 900;
            text-align: right;
            span {
              font-size: 48px;
            }

            @include mq('small') {
              &:not(:first-of-type) {
                margin-top: vw-s(10);
              }
              @include fz-s(20);
              span {
                @include fz-s(30);
              }
            }
          }
        }
        .note {
          max-width: 478px;
          width: 100%;
          margin: 0 auto;
          font-size: 12px;
          font-weight: 400;
          line-height: 1.8;
          text-align: left;
          a {
            text-decoration: underline;
            &:hover {
              text-decoration: none;
            }
          }

          @include mq('small') {
            max-width: none;
            @include fz-s(10);
          }
        }
      }
      .box_footer {
        background-color: #FFDADA;
        padding: 80px 213px;
        .button {
          &_wrap {
            gap: 60px;
          }
        }
      }
      .box_banner {
        padding-top: 80px;
        .banner {
          &:hover {
            opacity: 0.8;
          }
          max-width: 660px;
          width: 100%;
          margin: 0 auto;
          transition: all 0.3s;
        }

        @include mq('small') {
          padding-top: vw-s(40);
        }
      }
    }
  }
}