@charset "UTF-8";
@use "sass:math";
@use "common/00_base/_00_index" as *;

//
// Navi Under
//
.navi {
  &_under {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: auto;
    padding: vw-min(50);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    &.active {
      display: flex;
    }
  
    @include mq('small') {
      padding: vw-s(20);

      &.is-01 {
      }
    }
  
    &_wrap {
      width: max-content;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
  
      @include mq('small') {
        padding: 0 vw-s(10);
      }
    }
  
    .button {
      &_wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
  
        @include mq('small') {
          gap: vw-s(10);
        }
      }
      &_title {
        font-size: vw-min(24);
        font-weight: 700;
        color: #fff;
        line-height: 1.1;
        text-align: center;
        margin-bottom: vw-min(47);
  
        @include mq('small') {
          font-size: vw-s(13);
          margin-bottom: vw-s(37);
        }
      }
      &_list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: vw-min(20);
  
        @include mq('small') {
          gap: vw-s(5);
        }
      }
      .note {
        @include mq('small') {
          font-size: vw-s(10);
          padding: 5px;
          top: calc(-50% - 12px);
        }
      }
  
      @include mq('small') {
        width: auto;
        font-size: vw-s(12);
        padding: vw-s(8) vw-s(20);
        text-align: center;
        border-radius: vw-s(40);
      }
    }
  }
}