@charset "UTF-8";
@use "sass:math";
@use "common/00_base/_00_index" as *;

//
// expe
//



.expe {
  padding: 180px 0 30px;
  background: url("/special_contents/poikatsu/images/bg_wave.svg") no-repeat 50% -1px;
  background-size: 100% auto;
  @include mq('medium') {
    padding: vw-m(180) 0 vw-m(30);
  }
  @include mq('small') {
    padding: vw-s(150) 0 vw-s(60) ;
  }
}

.expe_copy {
  margin: 0 0 20px;
  @include mq('medium') {
    margin: 0 0 vw-m(20);
  }
  @include mq('small') {
    margin: 0 0 vw-s(20);
  }
}
.expe_copy_sub {
  display: block;
  font-size: 22px;
  margin: 0 0 10px;
  @include mq('medium') {
    @include fz-m(22);
    margin: 0 0 vw-m(10);
  }
  @include mq('small') {
    @include fz-s(34);
    margin: 0 0 vw-s(10);
  }
}
.expe_copy_main {
  display: block;
}



.expe_inr {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 0 80px;
  @include mq('medium') {
    padding: 0 vw-m(50) vw-m(80);
  }
  @include mq('small') {
    padding: 0 vw-s(50) vw-s(80);
  }
}
.expe_sim {
}
.expe_sim_head {
  margin: 0 0 30px;
  @include mq('medium') {
    margin: 0 0 vw-m(30);
  }
  @include mq('small') {
    margin: 0 0 vw-s(40);
  }
}
.expe_sim_copy {
  text-align: center;
}

.expe_sim_copy_link {
  text-align: center;
  font-weight: 900;
  > a {
    &:not(:first-child) {
      margin: 0 0 0 10px;
    }
    @include mq('small') {
    }
  }
}



// sim
.sim_box_wrap {
  display: flex;
  gap: 20px;
  @include mq('small') {
    flex-direction: column;
    gap: vw-s(30);
  }
}
.sim_box {
  flex: 1;
  background: #faf4e8;
  border-radius: 25px;
  padding: 20px;
}
.sim_box_h {
  background: $color-red;
  border-radius: 15px;
  color: #fff;
  font-weight: 900;
  text-align: center;
  padding: 5px 10px;
  line-height: 1.2;
  margin: 0 0 5px;
  @include mq('medium') {
    @include fz-m(16);
  }
  @include mq('small') {
    @include fz-s(38);
    border-radius: 8px;
  }
}
.sim_box_txt {
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  font-weight: bold;
  margin: 0 0 5px;
  @include mq('medium') {
    @include fz-m(18);
    margin: 0 -10px 5px;
  }
  @include mq('small') {
    @include fz-s(36);
  }
}

.sim_box_select_wrap {
  width: fit-content;
  margin: 0 auto;
}

// form-radio
.form-radio {
  position: relative;
  label {
    cursor: pointer;
  }
  input[type=radio] {
    opacity: 0;
    position: absolute;
  }
  .form-radio-box {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: inline-block;
    background: #fff;
    border: 2px solid #ccc;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-sizing: border-box;
    &::before {
      content: '';
      width: 50%;
      height: 50%;
      border-radius: 50%;
      background: #ccc;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .form-radio-txt {
    display: block;
    padding: 0 0 0 30px;
  }
  input[type=radio]:focus-visible + .form-radio-box {
    outline: auto;
  }
  input[type=radio]:checked + .form-radio-box {
    &::before {
      background: $color-red;
    }
  }
  // input[type=radio].is-unselect ~ .form-radio-box,
  input[type=radio].is-unselect ~ .form-radio-txt {
    opacity: 0.6;
  }
}

.sim_box_select_item {
  padding: 5px 0;
}
.sim_box_select_txt {
  font-size: 16px;
  font-weight: 900;
  line-height: 1.1;
  @include mq('medium') {
    @include fz-m(16);
  }
  @include mq('small') {
    @include fz-s(36);
  }
  .num {
    font-size: 40px;
    display: inline-block;
    margin: 0 5px;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    @include mq('medium') {
      @include fz-m(40);
    }
    @include mq('small') {
       @include fz-s(76);
      //font-size: 38px;
    }
  }
}




// sim_result
.sim_result_wrap {
  position: relative;
  z-index: 2;
  margin: 20px 0 0;
}

.sim_result {
}

.sim_result_arrow {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
  background: url("/special_contents/poikatsu/images/sim_arrow.png") no-repeat 50% 0;
  background-size: 100% auto;
  width: 200px;
  height: 83px;
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 14px;
  line-height: 1.4;
  margin: 0 auto;
  padding: 15px 0;
  box-sizing: border-box;
  @include mq('small') {
    top: -60px;
  }
}

.sim_result_box {
  position: relative;
  background: #fff;
  border: 2px solid $color-red;
  border-radius: 15px;
  padding: 50px 20px 20px;

  @include mq('small') {
    display: block;
    margin: 50px auto 0;
    padding: vw-s(40) vw-s(20) vw-s(30);
  }

}
// .sim_result_copy {
//   flex: 1;
//   text-align: center;
//   font-size: 18px;
//   font-weight: bold;
//   order: 1;
//   @include mq('medium') {
//     @include fz-m(18);
//   }
//   @include mq('small') {
//     @include fz-s(36);
//     line-height: 1.5;
//     margin: 15px 0 0;
//   }
// }

// .sim_result_main {
//   text-align: center;
//   width: 340px;
//   padding: 30px 0 0;
//   margin: 0 280px 0 0;
//   order: 2;
//   @include mq('medium') {
//     width: vw-m(340);
//     margin: 0 vw-m(280) 0 0;
//   }
//   @include mq('small') {
//     width: auto;
//     padding: 0;
//     margin: 0;
//   }
// }
// .sim_result_txt1 {
//   font-size: 24px;
//   line-height: 1.3;
//   font-weight: 900;
//   margin: 0 0 10px;
//   @include mq('medium') {
//     @include fz-m(24);
//   }
//   @include mq('small') {
//     @include fz-s(40);
//   }
// }
.sim_result_txt {
  text-align: center;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 5px;
  margin: 0 20px 0 0;
  @include mq('small') {
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 0;
  }
  .sub1 {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 900;
    display: inline-block;
    text-align: right;
    flex: 1;
    @include mq('medium') {
      @include fz-m(40);
    }
    @include mq('small') {
      flex: none;
      display: block;
      width: 100%;
      @include fz-s(40);
      text-align: center;
    }
  }
  .num {
    font-size: 120px;
    font-weight: 900;
    color: $color-red;
    line-height: 1;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    width: fit-content;
    // letter-spacing: -0.02em;
    transform: translate(0, 0.025em);
    @include mq('medium') {
      @include fz-m(120);
    }
    @include mq('small') {
      @include fz-s(120);
    }
  }
  .sub2 {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 900;
    display: inline-block;
    flex: 1;
    text-align: left;
    @include mq('medium') {
      @include fz-m(40);
    }
    @include mq('small') {
      flex: none;
      @include fz-s(32);
    }
  }
}
// .sim_result_ill {
//   position: absolute;
//   bottom: 0;
//   right: -10px;
//   width: 320px;
//   pointer-events: none;
//   @include mq('medium') {
//     width: vw-m(320);
//   }
//   @include mq('small') {
//     position: static;
//     width: vw-s(480);
//     margin: vw-s(-80) auto 0;
//   }
// }





.expe_appli {
  margin: 50px 0 0;
  text-align: center;
  @include mq('medium') {
    margin: vw-m(50) 0 0;
  }
  @include mq('small') {
    margin: vw-s(60) 0 0;
  }
}
.expe_appli_copy {
  position: relative;
  text-align: center;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 900;
  margin: 0 0 30px;
  @include mq('medium') {
    @include fz-m(28);
    margin: 0 0 vw-m(30);
  }
  @include mq('small') {
    @include fz-s(42);
    margin: 0 0 vw-s(30);
    display: flex;
    justify-content: center;
  }
  &:before {
    content: '＼';
    display: inline-block;
    margin-right: 10px;
  }
  &:after {
    content: '／';
    display: inline-block;
    margin-left: 10px;
  }
  @include mq('small') {
    &:before {
      content: '';
      display: block;
      width: vw-s(52);
      height: vw-s(112);
      background: url("/special_contents/poikatsu/images/expe_appli_shape_l.svg") no-repeat 50% 0;
      background-size: 100% auto;
      margin-right: 5px;
    }
    &:after {
      content: '';
      display: block;
      width: vw-s(52);
      height: vw-s(112);
      background: url("/special_contents/poikatsu/images/expe_appli_shape_r.svg") no-repeat 50% 0;
      background-size: 100% auto;
      margin-left: 5px;
    }
  }
}

.expe_appli_cv {
  background: #f7d9e1;
  border-radius: 25px;
  padding: 30px;
  @include mq('medium') {
    padding: vw-m(30);
  }
  @include mq('small') {
    padding: vw-s(40) vw-s(30);
  }
}
.expe_appli_cv_title {
  color: #c03;
  margin: 0 0 25px;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 900;
  text-align: center;
  @include mq('medium') {
    @include fz-m(30);
    margin: 0 0 vw-m(20);
  }
  @include mq('small') {
    @include fz-s(40);
    margin: 0 0 vw-s(30);
  }
}

.expe_appli_btn_wrap {
}
.expe_appli_btn_wrap2 {
  margin: 20px 0 0;
  @include mq('small') {
    margin: 15px 0 0;
  }
}
.expe_appli_btn {
  max-width: 520px;
  margin: 0 auto;
}

.expe_appli_note {
  font-size: 12px;
  margin: 20px 0 0;
  text-align: center;
  > p {
    &:not(:first-child) {
      margin-top: 5px;
    }
  }
  @include mq('small') {
    @include fz-s(24);
    line-height: 1.2;
  }
}